/*

In this file:

// A. Modules
// B. Variables
// C. Responsive Spacer Utilities
// D. Static Spacer Utilities

*/

//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use "sass:map";
@use "../breakpoints/style" as breakpoints;

//////////////////////////////////////////////
// B. Variables
//////////////////////////////////////////////

// Scoped to Root

:root {
    --spacer-base: 1rem;

    --spacer-1: calc(var(--spacer-base) * 0.5);
    --spacer-2: calc(var(--spacer-base) * 1);
    --spacer-3: calc(var(--spacer-base) * 1.25);
    --spacer-4: calc(var(--spacer-base) * 2.25);
    --spacer-5: calc(var(--spacer-base) * 4.5);
}

$spacers: (
    1: var(--spacer-1), 
    2: var(--spacer-2), 
    3: var(--spacer-3), 
    4: var(--spacer-4), 
    5: var(--spacer-5)
);

//////////////////////////////////////////////
// C. Responsive Spacer Utilities
//////////////////////////////////////////////

@each $breakpoint in map.keys(breakpoints.$breakpoints) {
    @include breakpoints.breakpoints-up($breakpoint) {
        $mod: breakpoints.breakpoint-modifier($breakpoint, breakpoints.$breakpoints);

        @each $spacer, $value in $spacers {

            // Padding

            .padding-#{$spacer}#{$mod} {
                padding: #{$value} !important;
            }

            .padding-x-#{$spacer}#{$mod} {
                padding-inline: #{$value} !important;
            }

            .padding-y-#{$spacer}#{$mod} {
                padding-block: #{$value} !important;
            }

            .padding-top-#{$spacer}#{$mod} {
                padding-block-start: #{$value} !important;
            }

            .padding-right-#{$spacer}#{$mod} {
                padding-inline-end: #{$value} !important;
            }

            .padding-bottom-#{$spacer}#{$mod} {
                padding-block-end: #{$value} !important;
            }

            .padding-left-#{$spacer}#{$mod} {
                padding-inline-start: #{$value} !important;
            }

            // Margin

            .margin-#{$spacer}#{$mod} {
                margin: #{$value} !important;
            }

            .margin-x-#{$spacer}#{$mod} {
                margin-inline: #{$value} !important;
            }

            .margin-y-#{$spacer}#{$mod} {
                margin-block: #{$value} !important;
            }

            .margin-top-#{$spacer}#{$mod} {
                margin-block-start: #{$value} !important;
            }

            .margin-right-#{$spacer}#{$mod} {
                margin-inline-end: #{$value} !important;
            }

            .margin-bottom-#{$spacer}#{$mod} {
                margin-block-end: #{$value} !important;
            }

            .margin-left-#{$spacer}#{$mod} {
                margin-inline-start: #{$value} !important;
            }

            // Negative Margin

            .margin-x-n#{$spacer}#{$mod} {
                margin-inline: calc(#{$value} * -1) !important;
            }

            .margin-y-n#{$spacer}#{$mod} {
                margin-block: calc(#{$value} * -1) !important;
            }

            .margin-top-n#{$spacer}#{$mod} {
                margin-block-start: calc(#{$value} * -1) !important;
            }

            .margin-right-n#{$spacer}#{$mod} {
                margin-inline-end: calc(#{$value} * -1) !important;
            }

            .margin-bottom-n#{$spacer}#{$mod} {
                margin-block-end: calc(#{$value} * -1) !important;
            }

            .margin-left-n#{$spacer}#{$mod} {
                margin-inline-start: calc(#{$value} * -1) !important;
            }
            
        }
    }
}

////////////////////////////////////////////
// D. Static Spacer Utilities
////////////////////////////////////////////

@each $breakpoint in map.keys(breakpoints.$breakpoints) {
    @include breakpoints.breakpoints-up($breakpoint) {
        $mod: breakpoints.breakpoint-modifier($breakpoint, breakpoints.$breakpoints);

        .padding-0#{$mod} {
            padding: 0 !important;
        }

        .margin-0#{$mod} {
            margin: 0 !important;
        }

        .margin-top-0#{$mod} {
            margin-top: 0 !important;
        }

        .margin-right-0#{$mod} {
            margin-right: 0 !important;
        }

        .margin-bottom-0#{$mod} {
            margin-bottom: 0 !important;
        }

        .margin-left-0#{$mod} {
            margin-left: 0 !important;
        }

        .margin-y-0#{$mod} {
            margin-block: 0 !important;
        }

        .margin-x-0#{$mod} {
            margin-inline: 0 !important;
        }

        .margin-x-auto#{$mod} {
            margin-inline: auto !important;
        }

        .margin-y-auto#{$mod} {
            margin-block: auto !important;
        }

        .margin-top-auto#{$mod} {
            margin-block-start: auto !important;
        }

        .margin-right-auto#{$mod} {
            margin-inline-end: auto !important;
        }

        .margin-bottom-auto#{$mod} {
            margin-block-end: auto !important;
        }

        .margin-left-auto#{$mod} {
            margin-inline-start: auto !important;
        }
    }
}