/*

In this file:

// A. Modules
// B. Quiz Selectors

*/

//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use "sass:map";
@use "../../modules/accents/style" as accents;
@use "../../modules/icons/style" as icons;

//////////////////////////////////////////////
// B. Quiz Block
//////////////////////////////////////////////

.quiz {
    overflow: hidden;

    button[type="submit"]{
        background-color: var(--white-link);
        color: white !important;
    }
    
}

ol.quiz__questions {
    list-style: none;
    counter-reset: section;
    padding: unset;


    .form-entry__field__label {
        display: flex;
        padding: unset;
        padding-inline-start: calc( var(--form-field-padding-x) + 2em);
        

        &::before {
            counter-increment: section;                   
            content: counter(section) ".";
            position: absolute;
            inset-inline-start: 0;
            padding-inline-start: var(--form-field-padding-x);
        }
    }

    .form-entry__option {
        margin-top: 0.75em;
    }
}


.quiz__questions {

    .form-entry__option__radio {
        font-size: 90%;
    }

    .form-entry__option__radio:nth-child(1) > label > input ~ .radio__label::before {
        background-color: turquoise;
        content: "\f13e";
    }

    .form-entry__option__radio:nth-child(2) > label > input ~ .radio__label::before {
        content: "\f13f";
    }

    .form-entry__option__radio:nth-child(3) > label > input ~ .radio__label::before {
        content: "\f140";
    }

    .form-entry__option__radio:nth-child(4) > label > input ~ .radio__label::before {
        content: "\f142";
    }

    .form-entry__option__radio:nth-child(5) > label > input ~ .radio__label::before {
        content: "\f143";
    }

    .form-entry__option__radio > label > input:checked ~ .radio__label::before {
        content: "\f141";
    }

    .form-entry__option__radio > label > input:not(:checked) ~ .radio__label::before {
        opacity: 1;
        color: var(--link-color);
    }

}

.quiz__image {
    overflow: hidden;
    border-radius: var(--form-field-border-radius);
    margin-bottom: var(--spacer-3);
}

.quiz__response {
    display: none;
    margin-top: var(--form-field-padding-y);
    padding-left: calc(1.25em + var(--form-field-padding-x));
    
    font-style: italic;
    font-size: 90%;

    color: var(--white-warn);

    [data-answer="correct"] & {
        color: var(--white-confirm);
    }

}

.quiz__score {

    &.passed {
        color: var(--white-confirm);
    }

    display: none;
}

.comprehension-checkpoint__header {
    border-radius: var(--form-field-border-radius, 0.25em);
    overflow: hidden;

    @extend %subtle-fill-psuedo;
    --subtle-fill-opacity: 0.075;

    display: flex;
    align-items: center;

    color: var(--primary);

    margin-left: calc(var(--button--icon-only-size) * -1);

    > span {
        @extend %subtle-fill-psuedo;
        --subtle-fill-opacity: 0.075;
        display: flex;
        align-items: center;
        justify-content: center;
        
        width: var(--button--icon-only-size);
        height: var(--button--icon-only-size);


        margin-right: 0.5em;
    }

    > span > [class*="icon"] {
        font-size: 1.5em;
    }

}