/*

In this file:

// A. Button Aria Expanded
// B. Collapse Utility

*/

//////////////////////////////////////////////
// A. Button Aria Expanded
//////////////////////////////////////////////

.button[aria-expanded="true"] {
    --subtle-fill-opacity: .15;
}

//////////////////////////////////////////////
// B. Collapse Utility
//////////////////////////////////////////////

.collapse {
    display: none;
    
    &.shown {
        display: block;
    }
}