/*

In this file:

// A. Modules
// B. Variables
// C. Tabs Nav Block
// D. Tabs Panel Element
// E. Tabs With 'theme-*' Class

*/

////////////////////////////////////////
// A. Modules
////////////////////////////////////////

@use "sass:map";
@use "../breakpoints/style" as breakpoints;

////////////////////////////////////////
// B. Variables
////////////////////////////////////////

// Scoped to Block

%custom-properties {
    --tab-button-padding-x: var(--spacer-3);
    --tab-button-padding-y: var(--button-padding-y);

    --tab-accent-bar-size: calc(var(--default-border-width) * 2);
}

////////////////////////////////////////
// B. Tabs Nav Block
////////////////////////////////////////

.tabs-nav {
    @extend %custom-properties;

    // background-color: darkkhaki;

    list-style: none;

    // Separator

    > li {
        position: relative;

        &::before {
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            left: 0;

            height: var(--tab-accent-bar-size);

            transform: translateY(calc(var(--tab-accent-bar-size) * -0.5));
            
            background-color: currentColor;
            
            opacity: 0.125;
            z-index: 5000;
        }

        &:first-child::before {
            display: none;
        }
    }

    > li > a,
    > li > button {
        position: relative;
        
        display: block;

        width: 100%;
        
        padding: var(--tab-button-padding-y) var(--tab-button-padding-x);
        
        text-align: left;
    
        &::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            bottom: 0;

            width: var(--tab-accent-bar-size);
            
            background-color: currentColor;
            
            opacity: 0;
        }
    }

    [aria-current="page"],
    [aria-selected="true"] {
        font-weight: var(--body-font-weight-bold);

        &::before {
            opacity: 1;
        }
    }
}

.tabs-nav {
    @each $breakpoint in map.keys(breakpoints.$breakpoints) {
        @include breakpoints.breakpoints-up($breakpoint) {
            $mod: breakpoints.breakpoint-modifier($breakpoint, breakpoints.$breakpoints);

            &.tabs-nav--horizontal#{$mod} {
                display: flex;
                flex-direction: row;
                align-items: baseline;

                > li {
                    flex: 1;

                    &:first-child::before {
                        display: block;
                    }
                    
                    &::before {
                        transform: unset;
                    }
                }

                > li > a,
                > li > button {
                    text-align: center;
                    &::before {
                        bottom: unset;
                        right: 0;
            
                        width: unset;
                        height: var(--tab-accent-bar-size);
                    }
                }

            }
        }
    }
}

////////////////////////////////////////
// D. Tabs Panel Element
////////////////////////////////////////

.tabs__panel {
    display: none;

    &.shown {
        display: block;
    }
}

////////////////////////////////////////
// E. Tabs With 'theme-*' Utility
////////////////////////////////////////

.tabs {
    &[class*="theme-"] {

        [aria-current="page"],
        [aria-selected="true"] {
            &::before {
                margin: var(--tab-accent-bar-size);
            }
        }
    }
}