.module-results-filter {

    button[aria-selected="true"] {

        background-color: var(--dark);
        color: white;

    }
}

.article__main {
    .tabs-nav button[aria-selected="true"]::before {
        color: var(--library);
    }
}