.module-results-filter {

    button[aria-selected="true"] {
        background-color: white;

        color:  var(--primary);
    }
}

.tabs-nav {
    > li > button::before {
        background-color: var(--dark);
    }

    &.library > li > *::before {
        background-color: var(--library);
    }

    &.glossary > li > *::before {
        background-color: var(--glossary);
    }

    &.classroom > li > *::before {
        background-color: var(--classroom);
    }
}

.tabs-nav > li > *:not([aria-selected="true"]):not([aria-current]) {
    background: hsla(249, 31%, 20%, 0.05);
    color: var(--white-link);
}