/*

In this file:

// A. Variables
// B. Card Block
// C. Card Elements

*/

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

// Scoped to Block

.card {
    --card-padding-x: var(--spacer-2);
    --card-padding-y: var(--spacer-3);
}

//////////////////////////////////////////////
// B. Card Block
//////////////////////////////////////////////

.card {
    position: relative;

    display: flex;
    flex-direction: column;
    
    height: 100%;
}

//////////////////////////////////////////////
// C. Card Elements
//////////////////////////////////////////////

.card__head {
    padding: calc(var(--card-padding-y) * 0.5) var(--card-padding-x);
    
    font-size: var(--font-size-sm);
}

.card__body {
    padding: var(--card-padding-y) var(--card-padding-x);
}

.card__foot {
    margin-top: auto;
    padding: calc(var(--card-padding-y) * 0.75) var(--card-padding-x);
}