/*

In this file:

// A. Modules
// B. Variables
// C. Component

*/


//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use '../accent';
@use '../icon';

//////////////////////////////////////////////
// B. Variables
//////////////////////////////////////////////

// Scoped to Block

:root {
    --accordion-button-padding-x: 1em;
    --accordion-button-padding-y: var(--button-padding-y);

    --accordion-panel-padding-x: var(--accordion-button-padding-x);
    --accordion-panel-padding-y: 1em;
    
    --accordion-active-color: currentColor;

    --accordion-icon-closed: "\f116";
    --accordion-icon-open: "\f119";
}

//////////////////////////////////////////////
// C. Component
//////////////////////////////////////////////

@layer component {

    // Primary Accordion Block

    .accordion:not([class*="--secondary"]) {

        .accordion__button {
            --subtle-fill-opacity: 0.0375;

            --subtle-fill-color: hsla(
                var(--default-link-color-h),
                var(--default-link-color-s),
                var(--default-link-color-l),
                var(--subtle-fill-opacity)
            );

            overflow: hidden;
            border-radius: var(--button-border-radius);

            color: var(--link-color);

            background-color: var(--subtle-fill-color);

            &:not(:first-child){
                margin-block-start: var(--spacer-1);
            }

            &[aria-expanded="true"] {
                --subtle-fill-opacity: 0.075;

                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        .accordion__panel {
            background-color: var(--canvas);

            box-shadow: 0 0.25rem 4px hsla(0, 0%, 50%, 0.2);
            
            border-bottom-left-radius: var(--button-border-radius);
            border-bottom-right-radius: var(--button-border-radius);

            display: grid;
            grid-template-rows: 0fr;

            transition: grid-template-rows 0.3s ease-in;
        }

        .accordion__panel__content {
            overflow: hidden;
            padding-inline: var(--accordion-panel-padding-x);
            
            transition: 
                opacity 0.3s ease-in-out, 
                padding-top 0.5s ease-in-out,
                padding-bottom 0.5s ease-in-out;

            opacity: 0;
        }

        .accordion__panel.shown {
            grid-template-rows: 1fr;

            .accordion__panel__content {
                padding-top: var(--accordion-panel-padding-y);
                padding-bottom: var(--accordion-panel-padding-y);
                opacity: 1;
            }
        }
    }

    // Accordion Elements

    .accordion__button {
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .accordion__button {
        position: relative;
        
        display: flex;
        align-items: baseline;

        font-weight: var(--body-font-weight-bold);

        width: 100%;

        padding-block: var(--accordion-button-padding-y);
        padding-inline: var(--accordion-button-padding-x);

        margin-bottom: 0;

        cursor: pointer;

        text-align: start;

        &::before {
            @extend .icon_font;

            --icon-size: 0.875em;
            
            content: var(--accordion-icon-closed);

            margin-inline-start: 0.75em;
        }

        &[aria-expanded="true"] {

            color: var(--accordion-active-color);

            &::before {
                content: var(--accordion-icon-open);
            }
        }
    }

    .accordion__panel {
        overflow: hidden;
    }

    // Accordion Modifier

    .accordion--secondary {

        .accordion__button:not(:first-child) {
            border-block-start: var(--border-width) var(--border-style);
        }

        .accordion__panel {
            display: none;

            padding-inline: var(--accordion-panel-padding-x);
            padding-block: var(--accordion-panel-padding-y);

            &.shown {
                display: block;
            }
        }
    }
} // end @layer