/*

In this file:

// A. Modules
// B. Variables
// C. Component

*/


//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use '../accent';
@use '../icon';

//////////////////////////////////////////////
// B. Variables
//////////////////////////////////////////////

// Scoped to Block

:root {
    --accordion-button-padding-x: 1em;
    --accordion-button-padding-y: var(--button-padding-y);

    --accordion-panel-padding-x: var(--accordion-button-padding-x);
    --accordion-panel-padding-y: 1em;
    
    --accordion-active-color: currentColor;

    --accordion-icon-closed: "\f116";
    --accordion-icon-open: "\f119";
}

//////////////////////////////////////////////
// C. Component
//////////////////////////////////////////////

@layer component {

    // Accordion Elements

    .accordion__button {
        justify-content: space-between;
        flex-direction: row-reverse;

        &:not(:first-child){
            border-block-start: var(--border-width) var(--border-style);
        }

    }

    .accordion__button {
        position: relative;
        
        display: flex;
        align-items: baseline;

        font-weight: var(--body-font-weight-bold);

        width: 100%;

        padding-block: var(--accordion-button-padding-y);
        padding-inline: var(--accordion-button-padding-x);

        margin-bottom: 0;

        cursor: pointer;

        &::before {
            @extend .icon_font;

            --icon-size: 0.875em;
            
            content: var(--accordion-icon-closed);

            margin-inline-start: 0.75em;
        }

        &[aria-expanded="true"] {

            color: var(--accordion-active-color);

            &::before {
                content: var(--accordion-icon-open);
            }
        }
    }

    .accordion__panel {
        overflow: hidden;

        display: none;
        
        padding-inline: var(--accordion-panel-padding-x);
        padding-block: var(--accordion-panel-padding-y);

        &.shown {
            display: block;
        }
    }
    
} // end @layer