/*

In this file:

// A. Selector Resets
// B. Components
// C. Components

*/

////////////////////////////////////////
// A. Variables
////////////////////////////////////////

:root {
  --audio-player-track-height: 1rem;

  --audio-player-track-fill-color: currentColor;
}

////////////////////////////////////////
// B. Components
////////////////////////////////////////

@layer component {

  .audio-player {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    border: var(--border-width) var(--border-style) var(--border-color);

    padding: var(--spacer-1);

    border-radius: var(--border-radius);
  }

  .audio-player__controls,
  .audio-player__volume-container {
      display: flex;
      flex-direction: row;
      align-items: center;

      width: 100%;
      
      gap: var(--spacer-1);
  }

  .audio-player__volume-container {
      max-width: 6rem;
  }

  .audio-player__progress,
  .audio-player__volume {

    position: relative;
    display: flex;
    flex-direction: row;
  
    width: 100%;
    height: var(--audio-player-track-height);
    
    background-color: var(--light);

    border-radius: calc(var(--border-radius) * 0.5);
    // overflow: hidden;
  }

  .audio-player__volume {
    gap: var(--spacer-1);

    font-size: var(--font-size-sm);
  }

  [class*="__fill"] {
    height: 100%;
    width: 0;

    background-color: var(--audio-player-track-fill-color);
  }

  .audio-player__thumb {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    height: 15px;
    width: 15px;
    background-color: #000;
    border-radius: 100%;
    transform: translate(50%, -50%);
}


  .audio-player__timestamp {
    font-size: var(--font-size-sm);
  }

} // end @layer