/*

In this file:

// A. Modules
// B. Variables
// C. Components

*/

//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use "sass:map";
@use "../breakpoint";
@use "../color";

//////////////////////////////////////////////
// B. Variables
//////////////////////////////////////////////

:root {
    --figure-margin-y: var(--spacer-5);
}

//////////////////////////////////////////////
// C. Components
//////////////////////////////////////////////

@layer component {

    .figure {
        // outline: 3px solid blue;

        display: flex;
        justify-content: center;
        align-items: flex-start;

        gap: var(--spacer-3);
        
        margin-block: var(--figure-margin-y);

        figure {
            display: table;
            caption-side: bottom;

            overflow-x: auto;
        }

        figure > figcaption {
            display: table-caption;
        }

        figure span.credit {
            filter: opacity(75%);
            display: block;
        }
    }

    .interactive-animation-cta {

        background-color: var(--light);
        
        display: flex;
        align-items: center;
        padding: 0.5em;
        margin-block: 1.5em;

        img {
        margin-inline-end: 1em;
        }
    }

} // end @layer
