/*

In this file:

// A. Modules
// B. Variables
// C. Components

*/

//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use "sass:map";
@use "../breakpoint";
@use "../customSCSS/color";
@use '../icon';

//////////////////////////////////////////////
// B. Variables
//////////////////////////////////////////////

:root {
    --figure-margin-y: var(--spacer-5);
}

//////////////////////////////////////////////
// C. Components
//////////////////////////////////////////////

@layer component {

    // Figure utility classes

    .figure {
        margin-block: var(--figure-margin-y);

        &:not([class*="--math"]) {
            display: flex;
            justify-content: center;
            align-items: flex-start;
    
            gap: var(--spacer-3);
            
            figure {
                display: table;

                caption-side: bottom;

                overflow-x: auto;
            }

            figure > figcaption {
                display: table-caption;
            }

            figure > figcaption > p {
                margin-block-end: 0.25em;
            }

        }

        figure span.credit {
            filter: opacity(75%);
            display: block;
        }
    }

    .figure--right {
        max-width: 260px;

        float: right;

        margin-inline-start: var(--spacer-4);
        margin-block-end: var(--spacer-2);
    }

    // Interactive Animations

    .interactive-animation {
        display: block;

        background-color: var(--light);

        padding: 0.5em;
        
        [class*="__image"] {
            width: 100%;
            margin-block-end: 0.5em;
        }

        &:hover,
        &:focus {
            [class*="__text"] {
                text-decoration: underline;
            }
        }
    
    }

    @container module-main (inline-size >= 768px) {

        .interactive-animation {
            display: flex;
            align-items: center;
            
            margin-block: 1.5em;

            [class*="__image"] {
                margin-inline-end: 1em;
                width: 240px;
                margin-block-end: unset;
            }

        }

    }

} // end @layer