/*

In this file:

// A. Modules
// B. Variables
// C. Components

*/

//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use "sass:map";
@use "../breakpoint";

//////////////////////////////////////////////
// B. Variables
//////////////////////////////////////////////

:root {
    --figure-margin-y: var(--spacer-5);
}

//////////////////////////////////////////////
// C. Components
//////////////////////////////////////////////

@layer component {

    .figure {
        display: flex;
        align-items: flex-start;
        justify-content: center;

        gap: var(--spacer-4);
        
        margin-block: var(--figure-margin-y);

        figure {
            display: table;
            caption-side: bottom;

            overflow-x: auto;
        }

        figure > figcaption{
            display: table-caption;
        }
    }

} // end @layer
