/*

In this file:

// A. Modules
// B. Variables
// C. Components

*/

//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use "sass:map";
@use "../breakpoint";
@use "../grid";

//////////////////////////////////////////////
// B. Variables
//////////////////////////////////////////////

// :root {
//   --article-sidebar-width: 20em;
// }

//////////////////////////////////////////////
// B. Components
//////////////////////////////////////////////

@layer component {

  // Grid Discipline Component

  .grid--discipline {

      --grid-columns: 1;
      --grid-gap: null;

      grid-template-columns: repeat(var(--grid-columns), 1fr);

      .backdrop {
          position: relative;

          overflow: hidden;

          aspect-ratio: 8 / 3;

          min-height: unset;

          max-width: 100%;

          z-index: auto;

          &:nth-child(1), 
          &:nth-child(5) {
              transform-origin: left;
          }

          &:nth-child(4), 
          &:nth-child(8) {
              transform-origin: right;
          }

          &.focused, 
          &.unfocused {
              animation-duration: 0.25s;
              animation-fill-mode: forwards;
              z-index: 1500;
          }

          &.focused {
              overflow: visible;
              animation-name: scaleUp;
          }

          &.unfocused {
              animation-name: scaleDown;
          }
      }

      @include breakpoint.breakpoint-up(md) {
        --grid-columns: 2;

        .backdrop {
          aspect-ratio: 4 / 3;
        }

      }

      @include breakpoint.breakpoint-up(lg) {
        --grid-columns: 4;
      }
  }

  // Grid Discipline Info

  .grid--discipline__info {
      position: absolute;
      inset-block-start: calc(100% - 1px);

      background-color: inherit;

      padding-left: var(--spacer-3);
      padding-right: var(--spacer-3);
      padding-bottom: var(--spacer-3);
      
      font-size: calc( var(--font-size-md) * 0.875);

      text-align: start;
      line-height: 1.5;

      transition: opacity 0.125s;
      pointer-events: inherit;

  }

  // Keyframe Animations

  @keyframes scaleUp {

    from {
      transform: scale(1);
      filter: none;
    }

    to {
      transform: scale(1.25);
      filter: drop-shadow(0 0 0.5em hsla(0, 0%, 0%, 0.375));
    }
    
  }

  @keyframes scaleDown {

    from {
      transform: scale(1.25);
    }

    to {
      transform: scale(1);
    }

  }

  // Discipline Banner (Modal)

  .disc-banner {

    display: grid;
    gap: var(--spacer-5);

    > .banner-headline {
      grid-area: headline;
    }

    > .disc-banner__teaser {
      grid-area: teaser;

    }

    > .disc-banner__summary {
      grid-area: summary;

    }
    
    grid-template-columns: 66% auto;

    grid-template-areas:
      "headline headline"
      "summary teaser";
  }

  /////////////////////

  .float-right {

    max-width: 300px;

    float: right;
    margin-inline-start: var(--spacer-4);
    margin-block-end: var(--spacer-2);
    margin-inline-end: calc( var(--spacer-4) * -1);
  }

} // end @layer