/*

In this file:

// A. List Divider
// B. Description List

*/

//////////////////////////////////////////////
// A. Base
//////////////////////////////////////////////

@layer base {

    dl > dt {
        font-weight: var(--body-font-weight-bold);
        font-style: italic;
    }

    dd {
        margin-bottom: 1em;
        margin-left: 1em;
    }

} // end @layer

//////////////////////////////////////////////
// B. Components
//////////////////////////////////////////////

@layer component {

    // Bulleted list

    .bulleted {
        padding-inline: 1em;

        li:not(:last-child) {
            margin-bottom: 0.25em;
        }
    }

    // List divider

    .list-divider { 
        list-style: none;

        > li:not(:last-child) {
            border-block-end: var(--border-width) var(--border-style) var(--border-color);
        }

        > li {
            padding-block: 0.5em;
            padding-inline: 0.75em;

            display: flex;
            justify-content: space-between;
            align-items: center;

            gap: var(--spacer-4);

        }

        > li > [class*="__cell"]:nth-child(1) {
            display: flex;
            flex-direction: column;
            justify-content: center;

            min-height: var(--button-icon-only-size);
        }
        
    }

    // Info List

    .info-list {
        list-style: none;

        li {
            display: flex;

            &:not(:last-child) {
            margin-bottom: 0.5em;
            }
        }

        li > strong,
        li > span {
            width: 50%;
        }
    }

    // Title list

    .title-list {
        margin-block-end: 1.5em;
    }

    .title-list__list  {
        list-style: none;

        font-size: var(--font-size-md);
        
        padding-inline-start: 1em;

        > li:not(:last-child) {
            margin-block-end: 0.5em;    
        }

        > li > a {
            color: var(--link-color);    
        }
    }

} // end @layer