/*

In this file:

// A. Base
// B. Components

*/

:root {

    --list-item-target-size: var(--button-target-size);

}

//////////////////////////////////////////////
// A. Base
//////////////////////////////////////////////

@layer base {

    dl > dt {
        font-weight: var(--font-weight-bold);
        font-style: italic;
    }

    dd {
        margin-bottom: 1em;
        margin-left: 1em;
    }

} // end @layer

//////////////////////////////////////////////
// B. Components
//////////////////////////////////////////////

@layer component {

    // Bulleted list

    .bulleted {
        padding-inline: 1em;

        li:not(:last-child) {
            margin-bottom: 0.25em;
        }
    }

    // List divider

    .list-divider {
        --padding-x: 1em;
        --padding-y: 0.5em;

        list-style: none;

        > li {
            overflow: hidden;

            font-size: var(--font-size-md);

            color: var(--link-color);

            padding-block: var(--padding-y);

            display: flex;

            min-height: var(--list-item-target-size);

            button {
                --button-target-size: calc(var(--list-item-target-size) - 0.25em);
            }
        }

        > li:not(:last-child) {
            border-block-end: var(--border-width) var(--border-style) var(--border-color);
        }

        > li:not(:has([class*="__cell"])) {
            display: flex;
            padding-inline: var(--padding-x);
        }

        > li:has([class*="__cell"]) {
            display: grid;
            
            grid-template-columns: 1fr auto;

            gap: var(--spacer-3);

            > [class*="__cell"]:nth-child(1) {
                padding-inline: var(--padding-x);
            }
        }

        > li > [class*="__cell"]:nth-child(1) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: var(--button-icon-only-size);
        }

        a {
            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }
    }

    // Title list

    .title-list:not(:last-child) {
        margin-block-end: 1.5em;
    }

    .title-list__title {
        margin-block-end: 0.5em;
    }

    .title-list__list  {
        list-style: none;

        font-size: var(--font-size-md);
        
        padding-inline-start: 1em;

        > li:not(:last-child) {
            margin-block-end: 0.5em;    
        }

        > li > a {
            color: var(--link-color);    
        }
    }

    // Info List

    .info-list {
        list-style: none;

        li {
            display: flex;

            &:not(:last-child) {
                margin-bottom: 0.5em;
            }
        }

        li > strong,
        li > span {
            width: 50%;
        }
    }

} // end @layer