/*

In this file:

// A. Modules
// B. Variables
// C. Components

*/

//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use "sass:map";
@use "../breakpoint";

//////////////////////////////////////////////
// B. Variables
//////////////////////////////////////////////

.module {
    --grid-sidebar-width: 20em;
}

//////////////////////////////////////////////
// C. Components
//////////////////////////////////////////////

@layer {

    // Did you know

    .did-you-know {

        margin-inline-start: calc(var(--button-icon-only-size) * -1);
        
        background-color: var(--light);
        background: linear-gradient(to right, var(--light), hsla(0, 0%, 100%, 0));
        padding: var(--spacer-4) calc(var(--button-icon-only-size));

            border-inline-start:
               var(--border-width)
               var(--border-style)
               var(--primary);
        h2 { 
            font-size: var(--font-size-rg);
            text-transform: uppercase;
            color: var(--primary);
        }
    }

    // Module Tabs

    .module-tabs {
        --shift: calc(var(--grid-divider-gap) * 0.5);

        margin-block-start: calc(var(--shift) * -1);
        margin-block-end: var(--grid-divider-gap);
    }

    // @at-root

    .in-this-module {
        .button-group button:not([aria-selected="true"]) {
            color: var(--link-color);
        }
    }

} // end @layer
