/*

In this file:

// A. Modules
// B. Components

*/

//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use "sass:map";
@use "../breakpoint";

//////////////////////////////////////////////
// B. Components
//////////////////////////////////////////////

@layer component {

    .module {
        --_sidebar-width: 22em;
        --_module-gap: var(--spacer-3);

        display: grid;
        
        gap: var(--_module-gap);

        @include breakpoint.breakpoint-up(lg) {


        --_module-gap: var(--spacer-2);

            grid-template-columns: 1fr var(--_sidebar-width);

            grid-template-rows: auto auto auto 1fr;

            grid-template-areas:
                "header audio"
                "divider divider"
                "tabs tools"
                "main tools";

            [class*="__header"] {
                grid-area: header;
            }

            [class*="__tabs"] {
                grid-area: tabs;
            }

            [class*="__audio"] {
                grid-area: audio;
            }

            [class*="__divider"] {
                grid-area: divider;
                outline: unset;
            }

            [class*="tools"] {
                grid-area: tools;
            }

            [class*="main"] {
                grid-area: main;
            }
        }
    }
    
    // Module Children

    .module__header {
        text-align: center;

        h1 {
            font-weight: normal;
        }

        .subcategory,
        .byline {
            font-size: var(--font-size-sm);        
        }
    }

    .module__tabs {
        > .tabs-nav {
            max-width: var(--narrow-width);
            margin-inline: auto;
            font-size: var(--font-size-md);
        }
    }

    .module__audio {
        display: flex;
        align-items: end;
    }

    .module__main {
        container-type: inline-size;
        container-name: module-main;

        padding-top: var(--spacer-4);
    }

    .module__main section {
        margin-block: var(--spacer-4);
        
        scroll-margin-top: var(--spacer-3);
    }

    .module__footer {
        margin-block-start: var(--spacer-4);
    }

    // Module Tools
    
    .module__tools,
    .module__tools__container {
        position: sticky;
        top: var(--spacer-2);
    }

    .module__tools {
        background-color: color-mix(in srgb, var(--canvas), transparent 5%);
        backdrop-filter: blur(3px);
    }

    .module__tools__container {
        padding-inline: var(--container-padding-x);

        &:has(.shown) {
            padding-block-end: var(--spacer-2);
        }

        .tab__buttons {
            --focus-outline-color: currentColor;
            
            list-style: none;

            display:flex; 
            align-items: baseline;
            justify-content: center;
            
            gap: var(--spacer-2);

            padding-block: var(--spacer-2);

            color: var(--link-color);

            [aria-selected="true"] {
                .button__icon {
                    background-color: var(--link-color);
                    color: var(--canvas);
                }
            }
        }
    }

    // Citation

    .citation {
        filter: opacity(75%);
        font-size: var(--font-size-sm);    
    }

} // end @layer