/*

In this file:

// A. Variables
// B. Components

*/

//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use "../accent";
@use "../breakpoint";
@use "../border";
@use "../color";
@use "../collapse";
@use "../navigation";
@use "../icon";

//////////////////////////////////////////////
// B. Components
//////////////////////////////////////////////

@layer component {

    // VL Hat

    .vl-hat {
        display: grid;

        grid-template-columns: 1fr auto;

        grid-template-areas: 
            "toggle actions"
            "menu menu";
    }

    [class*="vl-hat__"]{
        padding: var(--spacer-1) var(--spacer-2);
    }

    .vl-hat__toggle-button {
        grid-area: toggle;
    }

    .vl-hat__menu {
        grid-area: menu;
        font-size: var(--font-size-md);

        @extend .collapse;
    }

    .vl-hat__actions {
        grid-area: actions;
    }

    @include breakpoint.breakpoint-down(xl) {

        .vl-hat__menu {
            padding-top: var(--spacer-2);
            padding-bottom: var(--spacer-2);
        }

    }

    @include breakpoint.breakpoint-up(xl) {
        
        .vl-hat__toggle-button {
            display: none;
        }
        
        .vl-hat__menu,
        .vl-hat__menu.shown  {
            display: flex !important;
        }

        .vl-hat {
            grid-template-areas: 
                "menu actions";
        }
    }

    // VL Header

    .vl-header {
        position: relative;
    }

    .vl-header__logo {
        padding: var(--spacer-2);
    }

    .vl-header__menu {

        :is(ul, li, a) {
            display: flex;
            height: 100%;
        }

        ul {
            list-style: none;
            line-height: normal;
            padding: initial;
            display: grid;

            grid-template-columns: repeat(3, 1fr);
        }

        li {
            margin-inline-start: unset !important;
        }

        a {
            position: relative;
            flex-direction: column;
            justify-content: center;
            
            padding: var(--spacer-2);


            width: 100%;

            &::before {
                content: "";
                
                position: absolute;
                top: unset;
                right: 0;
                bottom: 0;
                left: 0;

                height: calc(var(--border-width) * 2);
            }

            &[aria-current] {
                color: var(--dark);
            }

            &[aria-current]::before {
                top: 0;
                height: unset;

                color: var(--dark);

                background-image: linear-gradient(hsla(0, 0%, 100%, 0.25), hsla(0, 0%, 100%, 0.125));
                opacity: 1;
            }
        }

        span {
            display: block;
        } 

        span.title {
            font-weight: var(--body-font-weight-bold);
        }

        span.tagline {
            font-size: var(--font-size-sm);
            opacity: 0.75;
        }

        li {
            --current-color: null;
            a:not([aria-current])::before, 
            a[aria-current] {
                background-color: var(--current-color);
            }
        }

        li.library {
            --current-color: var(--library);
        }

        li.glossary {
            --current-color: var(--glossary);
        }

        li.classroom {
            --current-color: var(--classroom);
        }

    }

    #es-translate {
        color: white;
        
        background-image: linear-gradient(#d2593f,#bf3823);
    }

    @include breakpoint.breakpoint-down(xl) {

        .vl-header__logo,
        .vl-header__menu {
            text-align: center;
        }

        .vl-header__logo {
            border-bottom-width: var(--border-width);
            border-bottom-style: var(--border-style);
            border-bottom-color: inherit;
        }

        span.tagline {
            display: none;
        }
    }

    @include breakpoint.breakpoint-up(xl) {
    
        .vl-header {
            display: flex;
            align-items: stretch;
        }

        .vl-header__logo,
        .vl-header__menu {
            flex: 1 1 50%;
        }

        span.title {
            font-size: var(--font-size-lg);
        }
    }

    // Module Breadcrumb

    .module-breadcrumb {
        --module-breadcrumb-background-color: hsla(0, 100%, 100%, 0.95);

        ul {
            @extend %list-style-nav;

            > li > .nav__dropdown {
                position: absolute;

                width: 320px;
                
                background-color: var(--module-breadcrumb-background-color);
                backdrop-filter: blur(4px);
            }
        }

        > ul {
            display: flex;
            align-items: center;
            font-size: var(--font-size-md);
        }

        > ul > li:not(:last-child) {
            border-inline-end: var(--border-width) var(--border-style);
        }

        > ul > li:first-child > a {
            --subtle-fill-opacity: 0;
        }

        > ul > li > .button {
            --button-padding-y: 0.75em;
            --button-border-radius: 0;
            --button-font-weight: var(--body-font-weight-normal);

            &[aria-expanded="true"] {
                 background-color: var(--module-breadcrumb-background-color);
            }
        }

        .nav__dropdown > .accordion {
            font-size: var(--font-size-sm);

            > .accordion__button.current {
                font-weight: var(--body-font-weight-bold);

                justify-content: start;

                opacity: 0.75;
                
                cursor: default;
                
                &::before {
                    display: none;
                }
            }

            > .accordion__button {
                &:hover,
                &:focus { 
                    text-decoration: none;
                }
            }
        }

        .accordion__panel > .accordion {
            --accordion-icon-closed: "\f134";
            --accordion-icon-open: "\f12a";
            --accordion-button-padding-x: 0;
            --accordion-button-padding-y: 0.2em;
            --accordion-panel-padding-x: 1.675em;
        }

        .accordion__panel .accordion__button {
            justify-content: start;
            flex-direction: row;

            font-weight: var(--body-font-weight-normal);

            border-block-start: unset;

            &::before {
                margin: unset;
                width: var(--accordion-panel-padding-x);
            }
        }
    }

    // Discipline Divider

    .discipline-divider {
        display: flex;
        justify-content: space-between;

        h2.h3 {
            margin-bottom: unset;
            line-height: unset;
        }

    }

    .discipline-divider__title {
        padding: var(--spacer-4) var(--spacer-2);
    }

    .discipline-divider__image {
        max-width: 180px;
    }

    .discipline-divider {
        background-position: center right;
        background-size: contain;
        background-repeat: no-repeat;
    }

    // Terms

    .terms-alphabetical {
        font-size: var(--font-size-sm);

        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        > button {
            border-radius: var(--button-border-radius);
            padding: var(--button-padding-y) var(--button-padding-x);
            // margin: 0.125em;
        }

        > button[aria-current] {
            font-weight: bold;
            text-decoration: underline;
            background-color: white;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);

            span {
                display: block;
                transform: scale(1.25);
            }
            
        }
    }

    // About Menu

    .about-menu {
        a:not([aria-current]){
            color: var(--default-link-color);
        }
    }

    .course-modules__nav {
        @extend .nav;

        padding: var(--nav-divider-padding-y) var(--nav-divider-padding-x);

        a { 
            color: var(--default-link-color)
        };
    }

} // end @layer