/*

In this file:

// A. Variables
// B. Components

*/

//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

:root {
    --actinides: #81314C;
    --actinides-tint: #81314C26;
    
    --alkali-metals: #1A679C;
    --alkali-metals-tint: #1A679C26;
    
    --alkaline-earth-metals: #942E27;
    --alkaline-earth-metals-tint: #942E2726;

    --halogens: #131B6C;
    --halogens-tint: #131B6C26;
    
    --lanthanides: #175E82;
    --lanthanides-tint: #175E8226;
    
    --metalloids: #A04012;
    --metalloids-tint: #A0401226;
    
    --noble-gases: #8E0B37;
    --noble-gases-tint: #8E0B3726;

    --post-transition-metals: #17804B;
    --post-transition-metals-tint: #17804B26;
    
    --reactive-nonmetals: #00989C;
    --reactive-nonmetals-tint: #00989C26;

    --transition-metals: #641B98;
    --transition-metals-tint: #641B9826;

    --unknown-properties: #505050;
    --unknown-properties-tint: #50505026;
}

/* Actinides */
[data-group="actinides"] {
    color: var(--actinides);
    background-color: var(--actinides-tint);
}

/* Alkaline metals */
[data-group="alkali-metals"] {
    color: var(--alkali-metals);
    background-color: var(--alkali-metals-tint);
}

/* Alkaline earth metals */
[data-group="alkaline-earth-metals"] {
    color: var(--alkaline-earth-metals);
    background-color: var(--alkaline-earth-metals-tint);
}

/* Halogens */
[data-group="halogens"] {
    color: var(--halogens);
    background-color: var(--halogens-tint);
}

/* Lanthanides */
[data-group="lanthanides"] {
    color: var(--lanthanides);
    background-color: var(--lanthanides-tint);
}

/* Metalloids */
[data-group="metalloids"] {
    color: var(--metalloids);
    background-color: var(--metalloids-tint);
}

/* Noble gases */
[data-group="noble-gases"] {
    color: var(--noble-gases);
    background-color: var(--noble-gases-tint);
}

/* Post-transition metals */
[data-group="post-transition-metals"] {
    color: var(--post-transition-metals);
    background-color: var(--post-transition-metals-tint);
}

/* Reactive nonmetals */
[data-group="reactive-nonmetals"] {
    color: var(--reactive-nonmetals);
    background-color: var(--reactive-nonmetals-tint);
}

/* Transition metals */
[data-group="transition-metals"] {
    color: var(--transition-metals);
    background-color: var(--transition-metals-tint);
}

/* Unknown properties */
[data-group="unknown-properties"] {
    color: var(--unknown-properties);
    background-color: var(--unknown-properties-tint);
}

//////////////////////////////////////////////
// A. Components
//////////////////////////////////////////////

// The Periodic Table

.periodic-table {
    --padding:  calc(var(--spacer-1) * .5);

    display: grid;
    grid-template-columns: repeat(18, 1fr);
    gap: var(--padding);
}

.periodic-table {
    grid-template-areas:
        "H . . . key key . . . . . . . . . . . He"
        "Li Be . . key key . . . . . . B C N O F Ne"
        "Na Mg . . . . . . . . . . Al Si P S Cl Ar"
        "Na Mg . . . . . . . . . . Al Si P S Cl Ar"
        "K Ca Sc Ti V Cr Mn Fe Co Ni Cu Zn Ga Ge As Se Br Kr"
        "Rb Sr Y Zr Nb Mo Tc Ru Rh Pd Ag Cd In Sn Sb Te I Xe"
        "Cs Ba connector Hf Ta W Re Os Ir Pt Au Hg Tl Pb Bi Po At Rn"
        "Fr Ra connector Rf Db Sg Bh Hs Mt Ds Rg Cn Nh Fl Mc Lv Ts Og"
        ". . connector space space space space space space space space space space space space space space space"
        ". . connector La Ce Pr Nd Pm Sm Eu Gd Tb Dy Ho Er Tm Yb Lu"
        ". . connector Ac Th Pa U Np Pu Am Cm Bk Cf Es Fm Md No Lr";
}

#key {
    grid-area: key;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;


     p {
        position: relative;
        width: 100%;

        // border: 1px solid var(--text-color);

        .key__item {
            position: absolute;
            inset-inline-start: 100%;
            inset-block-start: 50%;

            transform: translateY(-50%);

            margin-inline-start: 80px;
            
            white-space: nowrap;

            font-size: var(--font-size-sm);

            color: var(--text-color);

            &::before {
                content: "";
                position: absolute;
                top: 50%;

                transform: translateX(-80px);
                display: inline-block;

                width: 5em;
                border-bottom: 1px solid var(--border-color);
            }
        }
    }
}

.periodic-table__element {
    display: flex;
    flex-direction: column;
    align-items: center;
    // aspect-ratio: 1 / 1;
    // border: 1px solid var(--border-color);

    justify-content: center;

    text-align: center;

    > p {
        margin-bottom: unset;
        width: 100%;
    }

    [class^="symbol"] {
        font-weight: var(--body-font-weight-bold);
    }
}

.periodic-table-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: var(--spacer-4);

    padding-block: var(--spacer-3);
    
    .periodic-table__element {
        background-color: var(--reactive-nonmetals);
        color: whitesmoke;
        gap: var(--spacer-1);
    }
}

// Periodic Table Element Button

button.periodic-table__element {
    font-size: var(--font-size-sm);
    padding: var(--padding);


    [class^="symbol"] { 
        font-size: 1.5rem;
    }

    [class^="chemical-group"] { 
        font-size: 0.5rem;
        display: none;
    }
}

.periodic-table__element:not(button) {
    min-width: 180px;
    aspect-ratio: 1 / 1;

    gap: var(--padding-2);

    padding: var(--spacer-3);

    font-size: var(--font-size-md);

    [class^="symbol"] {
        font-size: 4rem;
        line-height: 1;
    }
}

// Connectors

#ptable-extra {
    grid-area: connector;
    position: relative; width: 100%; height: 100%;
}

.lanthanides-connector {
    clip-path: polygon(
        0% 0%,
        100% calc(50% + calc(var(--padding) * 0.5)),
        100% calc(75% - calc(var(--padding) * 0.5)),
        0% calc(25% - calc(var(--padding) * 0.5))
    );
    background: var(--lanthanides-tint);
    width: 100%;
    height: 100%;
    position: absolute;
}

.actinides-connector {
    clip-path: polygon(
        0% calc(25% + calc(var(--padding) * 2)),
        100% calc(75% + calc(var(--padding) * 2)),
        100% 100%,
        0% calc(50% + calc(var(--padding) * 2))
    );
    background: var(--actinides-tint);
    width: 100%;
    height: 100%;
    position: absolute;
}

.separator {
    grid-area: space;
    display: block;
    height: 3rem;
}

// Model Viewer

.model-viewer {
    position: relative;

    width: 100%;
    aspect-ratio: 2 / 1;
    
    overflow: hidden;

    z-index: 5;
}