/*

In this file:

// A. Variables
// B. Components

*/

@use "../../scss/icon" as icon;

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

:root {
    --actinides: #81314C;
    --actinides-tint: #81314C26;
    
    --alkali-metals: #1A679C;
    --alkali-metals-tint: #1A679C26;
    
    --alkaline-earth-metals: #942E27;
    --alkaline-earth-metals-tint: #942E2726;

    --halogens: #131B6C;
    --halogens-tint: #131B6C26;
    
    --lanthanides: #175E82;
    --lanthanides-tint: #175E8226;
    
    --metalloids: #A04012;
    --metalloids-tint: #A0401226;
    
    --noble-gases: #8E0B37;
    --noble-gases-tint: #8E0B3726;

    --post-transition-metals: #17804B;
    --post-transition-metals-tint: #17804B26;
    
    --reactive-nonmetals: #006666;
    --reactive-nonmetals-tint: #00666626;

    --transition-metals: #641B98;
    --transition-metals-tint: #641B9826;

    --separator-size: 3cqi;
}

:where([data-group]) {
    --_background-color: var(--_background-color, #e5e5e5);
    --_color: var(--text-color, #333);

    background-color: var(--_background-color);
    color: var(--_color);
}

// Actinides
[data-group="actinides"] {
    --_background-color: var(--actinides-tint);
    --_color: var(--actinides);
}

// Alkaline metals
[data-group="alkali-metals"] {
    --_background-color: var(--alkali-metals-tint);
    --_color: var(--alkali-metals);
}

// Alkaline earth metals
[data-group="alkaline-earth-metals"] {
    --_background-color: var(--alkaline-earth-metals-tint);
    --_color: var(--alkaline-earth-metals);
}

// Halogens
[data-group="halogens"] {
    --_background-color: var(--halogens-tint);
    --_color: var(--halogens);
}

// Lanthanides
[data-group="lanthanides"] {
    --_background-color: var(--lanthanides-tint);
    --_color: var(--lanthanides);
}

// Metalloids
[data-group="metalloids"] {
    --_background-color: var(--metalloids-tint);
    --_color: var(--metalloids);
}

// Noble gases
[data-group="noble-gases"] {
    --_background-color: var(--noble-gases-tint);
    --_color: var(--noble-gases);
}

// Post-transition metals
[data-group="post-transition-metals"] {
    --_background-color: var(--post-transition-metals-tint);
    --_color: var(--post-transition-metals);
}

// Reactive nonmetals
[data-group="reactive-nonmetals"] {
    --_background-color: var(--reactive-nonmetals-tint);
    --_color: var(--reactive-nonmetals);
}

// Transition metals
[data-group="transition-metals"] {
    --_background-color: var(--transition-metals-tint);
    --_color: var(--transition-metals);
}

// Unknown properties
[data-group="unknown-properties"] {
    --_background-color: var(--unknown-properties-tint);
    --_color: var(--unknown-properties);
}

//////////////////////////////////////////////
// B. Components
//////////////////////////////////////////////

// The Periodic Table

.periodic-table {
    --gap: calc(var(--border-width) * 2);

    display: grid;
    grid-template-columns: repeat(18, 1fr);

    min-width: 900px;
    max-width: 1440px;

    margin-inline: auto;

    gap: var(--gap);
    
    padding: var(--spacer-3);

    grid-template-areas:
        "H . . . key key . . . . . . . . . . . He"
        "Li Be . . key key . . . . . . B C N O F Ne"
        "Na Mg . . . . . . . . . . Al Si P S Cl Ar"
        "Na Mg . . . . . . . . . . Al Si P S Cl Ar"
        "K Ca Sc Ti V Cr Mn Fe Co Ni Cu Zn Ga Ge As Se Br Kr"
        "Rb Sr Y Zr Nb Mo Tc Ru Rh Pd Ag Cd In Sn Sb Te I Xe"
        "Cs Ba connector Hf Ta W Re Os Ir Pt Au Hg Tl Pb Bi Po At Rn"
        "Fr Ra connector Rf Db Sg Bh Hs Mt Ds Rg Cn Nh Fl Mc Lv Ts Og"
        ". . connector space space space space space space space space space space space space space space space"
        ". . connector La Ce Pr Nd Pm Sm Eu Gd Tb Dy Ho Er Tm Yb Lu"
        ". . connector Ac Th Pa U Np Pu Am Cm Bk Cf Es Fm Md No Lr"
        "key-color key-color key-color key-color key-color key-color key-color key-color key-color key-color key-color key-color key-color key-color key-color key-color key-color key-color";
        
    container-type: inline-size;
}

// The Periodic Table Keys

.periodic-table__key-element {
    --_arrow-width: 33cqi;
    
    grid-area: key;

    [class*="key__item"] {
        position: absolute;
        inset-inline-start: 100%;
        inset-block-start: 50%;

        transform: translateY(-50%);

        margin-inline-start: var(--_arrow-width);
        
        white-space: nowrap;

        font-size: 9cqi;
        font-weight: var(--body-font-weight-normal);

        color: var(--text-color);

        &::before,
        &::after {
            content: "";
            position: absolute;
            color: var(--text-color);
            inset-block-start: 50%;
            inset-inline-start: 0;
        }

        &::before {
            display: inline-block;

            position: absolute;

            width: calc(var(--_arrow-width) - 0.5em);
            border-bottom: 1px solid var(--text-color);
            transform: translateX(calc(-1 * var(--_arrow-width)));
        }

        &::after {
            border-top: 4cqi solid transparent;
            border-bottom: 4cqi solid transparent;
            border-right: 4cqi solid var(--text-color);

            transform: translateY(-50%) translateX(calc(-1 * var(--_arrow-width)));
        }
    }
}

.periodic-table__key-color {
    --_fill: var(--text-color, currentColor);
    --_stroke: currentColor;

    list-style: none;

    margin-block-start: var(--separator-size);

    font-size: 1.125cqi;

    grid-area: key-color;

    column-count: 5;
    column-gap: var(--spacer-3);

    li {
        
        &::before {
            content: "";
            display: inline-block;
            
            width: 1cqi;
            height: 1cqi;

            border-radius: 100%;
            
            margin-inline-end: 0.5cqi;
        }

        &:not(:last-child) {
            margin-block-end: 0.5cqi;
        }
        
    }

    :where([data-color])::before {
        background-color: var(--_fill);
        outline: 0.25cqi solid var(--_stroke);
    }

    [data-color="actinides"]::before {
        --_fill: var(--actinides-tint);
        --_stroke: var(--actinides);
    }

    [data-color="alkali-metals"]::before {
        --_fill: var(--alkali-metals-tint);
        --_stroke: var(--alkali-metals);
    }

    [data-color="alkaline-earth-metals"]::before {
        --_fill: var(--alkaline-earth-metals-tint);
        --_stroke: var(--alkaline-earth-metals);
    }

    [data-color="halogens"]::before {
        --_fill: var(--halogens-tint);
        --_stroke: var(--halogens);
    }
    
    [data-color="lanthanides"]::before {
        --_fill: var(--lanthanides-tint);
        --_stroke: var(--lanthanides);
    }

    [data-color="metalloids"]::before {
        --_fill: var(--metalloids-tint);
        --_stroke: var(--metalloids);
    }

    [data-color="noble-gases"]::before {
        --_fill: var(--noble-gases-tint);
        --_stroke: var(--noble-gases);
    }

    [data-color="post-transition-metals"]::before {
        --_fill: var(--post-transition-metals-tint);
        --_stroke: var(--post-transition-metals);
    }

    [data-color="reactive-nonmetals"]::before {
        --_fill: var(--reactive-nonmetals-tint);
        --_stroke: var(--reactive-nonmetals);
    }

    [data-color="transition-metals"]::before {
        --_fill: var(--transition-metals-tint);
        --_stroke: var(--transition-metals);
    }

    [data-color="unknown-properties"]::before {
        --_fill: var(--unknown-properties-tint);
        --_stroke: var(--unknown-properties);
    }

    [data-color="metals"]::before {
        --_fill: var(--metals-tint);
        --_stroke: var(--metals);
    }

    [data-color="nonmetals"]::before {
        --_fill: var(--nonmetals-tint);
        --_stroke: var(--nonmetals);
    }
}

// Periodic Table Element

.periodic-table__element {
    position: relative;

    container-type: inline-size;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.125cqi;

    aspect-ratio: 1 / 1;

    justify-content: center;

    text-align: center;

    > p {
        position: relative;
        margin-bottom: unset;
        width: 100%;
    }

    :is(p, span) {
        font-size: 16cqi;
    }

    [class^="symbol"] { 
        font-size: 32cqi;
        font-weight: var(--body-font-weight-bold);
        line-height: 1;
    }

    [class^="chemical-group"] {
        display: none;
    }

    // Periodic Table Element Button

    &:is(button){
        
        &::before,
        &::after {
            position: absolute;
            padding: 8cqi;
            color: var(--text-color);
            font-size: 18cqi;
        }

        &::before {
            content: attr(data-period-number);
            inset-inline-start: 0;
            transform: translateX(-100%);
        }

        &::after {
            content: attr(data-group-number);
            inset-block-start: 0;
            transform: translateY(-100%);
        }
    }
}

// Connectors

.separator {
    grid-area: space;

    height: var(--separator-size);
}

.periodic-table__connectors {
    grid-area: connector;
    position: relative;
}

.lanthanides-connector {
    position: absolute;

    width: 100%;
    height: 100%;
    
    clip-path: polygon(
        0% 0%,
        100% calc(56% + var(--gap)),
        100% calc(78% - calc(var(--gap) * 1.5)),
        0% calc(22% - calc(var(--gap) * 1.5))
    );
    
    background: var(--lanthanides-tint);
}

.actinides-connector {
    position: absolute;

    width: 100%;
    height: 100%;

    clip-path: polygon(
        0% calc(22% + calc(var(--gap) * 1.5)),
        100% calc(78% + calc(var(--gap) * 1.5)),
        100% 100%,
        0% calc(44% - var(--gap))
    );

    background: var(--actinides-tint);
}

// Model Viewer

.periodic-table-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: var(--spacer-4);

    padding-block: var(--spacer-3);
    
    .periodic-table__element {
        background-color: var(--reactive-nonmetals);
        color: whitesmoke;
        gap: var(--spacer-1);
    }
}

.model-viewer {
    position: relative;

    width: 100%;
    aspect-ratio: 2 / 1;
    
    overflow: hidden;

    z-index: 5;
}