/*

In this file:

// A. Variables
// B. Components

*/

@use "../../scss/icon" as icon;

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

:root {
    --actinide: #81314C;
    --actinide-tint: #81314C26;
    
    --alkali-metal: #1A679C;
    --alkali-metal-tint: #1A679C26;
    
    --alkaline-earth-metal: #942E27;
    --alkaline-earth-metal-tint: #942E2726;

    --halogen: #131B6C;
    --halogen-tint: #131B6C26;
    
    --lanthanide: #175E82;
    --lanthanide-tint: #175E8226;
    
    --metalloid: #A04012;
    --metalloid-tint: #A0401226;
    
    --noble-gas: #8E0B37;
    --noble-gas-tint: #8E0B3726;

    --post-transition-metal: #17804B;
    --post-transition-metal-tint: #17804B26;
    
    --nonmetal: #006666;
    --nonmetal-tint: #00666626;

    --transition-metal: #641B98;
    --transition-metal-tint: #641B9826;

    --separator-size: 3cqi;

    // Carl to update

    --light-green: hsla(88, 50%, 53%, 0.185);
    --light-red: hsla(0, 60%, 50%, 0.185);
}

:where([data-group]) {
    --_background-color: var(--_background-color, #e5e5e5);
    --_color: var(--text-color, #333);

    background-color: var(--_background-color);
    color: var(--_color);
}

// Actinides
[data-group="actinide"] {
    --_background-color: var(--actinide-tint);
    --_color: var(--actinide);
}

// Alkaline metals
[data-group="alkali-metal"] {
    --_background-color: var(--alkali-metal-tint);
    --_color: var(--alkali-metal);
}

// Alkaline earth metals
[data-group="alkaline-earth-metal"] {
    --_background-color: var(--alkaline-earth-metal-tint);
    --_color: var(--alkaline-earth-metal);
}

// Halogens
[data-group="halogen"] {
    --_background-color: var(--halogen-tint);
    --_color: var(--halogen);
}

// Lanthanides
[data-group="lanthanide"] {
    --_background-color: var(--lanthanide-tint);
    --_color: var(--lanthanide);
}

// Metalloids
[data-group="metalloid"] {
    --_background-color: var(--metalloid-tint);
    --_color: var(--metalloid);
}

// Noble gases
[data-group="noble-gas"] {
    --_background-color: var(--noble-gas-tint);
    --_color: var(--noble-gas);
}

// Post-transition metals
[data-group="post-transition-metal"] {
    --_background-color: var(--post-transition-metal-tint);
    --_color: var(--post-transition-metal);
}

// Reactive nonmetals
[data-group="nonmetal"] {
    --_background-color: var(--nonmetal-tint);
    --_color: var(--nonmetal);
}

// Transition metals
[data-group="transition-metal"] {
    --_background-color: var(--transition-metal-tint);
    --_color: var(--transition-metal);
}

//////////////////////////////////////////////
// B. Components
//////////////////////////////////////////////

// The Periodic Table

.periodic-table {
    --gap: calc(var(--border-width) * 2);

    display: grid;
    grid-template-columns: repeat(18, 1fr);

    min-width: 1000px;
    max-width: 1440px;

    max-width: var(--wide-width);

    margin-inline: auto;

    padding-top: 2.5cqi !important;

    gap: var(--gap);
    
    padding: var(--spacer-3);

    grid-template-areas:
        "H . . . key key . . . . . . . . . . . He"
        "Li Be . . key key . . . . . . B C N O F Ne"
        "Na Mg . . . . . . . . . . Al Si P S Cl Ar"
        "Na Mg . . . . . . . . . . Al Si P S Cl Ar"
        "K Ca Sc Ti V Cr Mn Fe Co Ni Cu Zn Ga Ge As Se Br Kr"
        "Rb Sr Y Zr Nb Mo Tc Ru Rh Pd Ag Cd In Sn Sb Te I Xe"
        "Cs Ba connector Hf Ta W Re Os Ir Pt Au Hg Tl Pb Bi Po At Rn"
        "Fr Ra connector Rf Db Sg Bh Hs Mt Ds Rg Cn Nh Fl Mc Lv Ts Og"
        ". . connector space space space space space space space space space space space space space space space"
        ". . connector La Ce Pr Nd Pm Sm Eu Gd Tb Dy Ho Er Tm Yb Lu"
        ". . connector Ac Th Pa U Np Pu Am Cm Bk Cf Es Fm Md No Lr"
        "key-color key-color key-color key-color key-color key-color key-color key-color key-color key-color key-color key-color key-color key-color key-color key-color key-color key-color";
        
    container-type: inline-size;
}

// The Periodic Table Keys

.periodic-table__key-element {
    --_arrow-width: 33cqi;
    
    grid-area: key;

    [class*="key__item"] {
        position: absolute;
        inset-inline-start: 100%;
        inset-block-start: 50%;

        transform: translateY(-50%);

        margin-inline-start: calc(var(--_arrow-width) + 8cqi); ;
        
        white-space: nowrap;

        font-size: 9cqi;
        font-weight: var(--body-font-weight-normal);

        color: var(--text-color);

        &::before,
        &::after {
            content: "";
            position: absolute;
            color: var(--text-color);
            inset-block-start: 50%;
            inset-inline-start: 0;
        }

        &::before {
            display: inline-block;

            position: absolute;

            width: calc(var(--_arrow-width) - 8cqi);
            border-bottom: 1px solid var(--text-color);
            transform: translateX(calc(-1 * var(--_arrow-width)));
        }

        &::after {
            border-top: 4cqi solid transparent;
            border-bottom: 4cqi solid transparent;
            border-right: 4cqi solid var(--text-color);

            transform: translateY(-50%) translateX(calc(-1 * var(--_arrow-width)));
        }
    }
}

.periodic-table__key-color {
    --_fill: var(--text-color, currentColor);
    --_stroke: currentColor;

    list-style: none;

    margin-block-start: var(--separator-size);

    font-size: 1.125cqi;

    grid-area: key-color;

    column-count: 5;
    column-gap: var(--spacer-3);

    li {
        
        &::before {
            content: "";
            display: inline-block;
            
            width: 1cqi;
            height: 1cqi;

            border-radius: 100%;
            
            margin-inline-end: 0.5cqi;
        }

        &:not(:last-child) {
            margin-block-end: 0.5cqi;
        }
        
    }

    :where([data-color])::before {
        background-color: var(--_fill);
        outline: 0.25cqi solid var(--_stroke);
    }

    [data-color="actinides"]::before {
        --_fill: var(--actinide-tint);
        --_stroke: var(--actinide);
    }

    [data-color="alkali-metals"]::before {
        --_fill: var(--alkali-metal-tint);
        --_stroke: var(--alkali-metal);
    }

    [data-color="alkaline-earth-metals"]::before {
        --_fill: var(--alkaline-earth-metal-tint);
        --_stroke: var(--alkaline-earth-metal);
    }

    [data-color="halogens"]::before {
        --_fill: var(--halogen-tint);
        --_stroke: var(--halogen);
    }
    
    [data-color="lanthanides"]::before {
        --_fill: var(--lanthanide-tint);
        --_stroke: var(--lanthanide);
    }

    [data-color="metalloids"]::before {
        --_fill: var(--metalloid-tint);
        --_stroke: var(--metalloid);
    }

    [data-color="noble-gases"]::before {
        --_fill: var(--noble-gas-tint);
        --_stroke: var(--noble-gas);
    }

    [data-color="post-transition-metals"]::before {
        --_fill: var(--post-transition-metal-tint);
        --_stroke: var(--post-transition-metal);
    }

    [data-color="nonmetals"]::before {
        --_fill: var(--nonmetal-tint);
        --_stroke: var(--nonmetal);
    }

    [data-color="transition-metals"]::before {
        --_fill: var(--transition-metal-tint);
        --_stroke: var(--transition-metal);
    }

    [data-color="unknown-properties"]::before {
        --_fill: var(--unknown-properties-tint);
        --_stroke: var(--unknown-properties);
    }

    [data-color="metals"]::before {
        --_fill: var(--metals-tint);
        --_stroke: var(--metals);
    }

    [data-color="nonmetals"]::before {
        --_fill: var(--nonmetal-tint);
        --_stroke: var(--nonmetal);
    }
}

// Periodic Table Element

.periodic-table__element {
    position: relative;

    container-type: inline-size;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.125cqi;

    aspect-ratio: 1 / 1;

    justify-content: center;

    text-align: center;

    > p {
        position: relative;
        margin-bottom: unset;
        width: 100%;
        font-size: 14cqi;
    }

    [class^="symbol"] { 
        font-size: 32cqi;
        font-weight: var(--body-font-weight-bold);
        line-height: 1;
    }

    [class^="chemical-group"] {
        display: none;
    }

    // Periodic Table Element Button

    &:is(button){

        &:is(:hover, :focus) {
            opacity: 0.875;
        }
        
        &::before,
        &::after {
            position: absolute;
            padding: 8cqi;
            color: var(--text-color);
            font-size: 18cqi;
            display: none;
        }

        &::before {
            content: attr(data-period-number);
            inset-inline-start: 0;
            transform: translateX(-100%);
        }

        &::after {
            content: attr(data-group-number);
            inset-block-start: 0;
            transform: translateY(-100%);
        }

        &:is(
            [data-atomic-number="1"], 
            [data-atomic-number="3"], 
            [data-atomic-number="11"], 
            [data-atomic-number="19"], 
            [data-atomic-number="37"], 
            [data-atomic-number="55"], 
            [data-atomic-number="87"]
        )::before,
        &:is(
            [data-atomic-number="1"],
            [data-atomic-number="4"],
            [data-atomic-number="21"],
            [data-atomic-number="22"],
            [data-atomic-number="23"],
            [data-atomic-number="24"],
            [data-atomic-number="25"],
            [data-atomic-number="26"],
            [data-atomic-number="27"],
            [data-atomic-number="28"],
            [data-atomic-number="29"],
            [data-atomic-number="30"],
            [data-atomic-number="5"],
            [data-atomic-number="6"],
            [data-atomic-number="7"],
            [data-atomic-number="8"],
            [data-atomic-number="9"],
            [data-atomic-number="2"]
        )::after {
            display: inline-flex;
        }
    }
}

// Connectors

.separator {
    grid-area: space;

    height: var(--separator-size);
}

.periodic-table__connectors {
    grid-area: connector;

    position: relative;
}

[class*="-connector"] {
    --_fill: var(--background-color, #e5e5e5);
    position: absolute;

    width: 100%;
    height: 100%;

    background-color: var(--_fill);
}

.lanthanides-connector {
    --_fill: var(--lanthanide-tint);

    clip-path: polygon(
        0% 0%,
        100% calc(56% + var(--gap)),
        100% calc(78% - calc(var(--gap) * 1.5)),
        0% calc(22% - calc(var(--gap) * 1.5))
    );
}

.actinides-connector {
    --_fill: var(--actinide-tint);

    clip-path: polygon(
        0% calc(22% + calc(var(--gap) * 1.5)),
        100% calc(78% + calc(var(--gap) * 1.5)),
        100% 100%,
        0% calc(44% - var(--gap))
    );
}

// Arrow

.increasing-energy-arrow {
    position: relative;
    width: 100%;
    height: 16px;
    background: linear-gradient(to right, #7F7FD5, #86A8E7, #91EAE4, #FFD194, #FF647C);
    
}

.increasing-energy-arrow::after {
    content: '';
    position: absolute;
    outline: 1px solid transparent;
    transform: translate(50%, -50%);
    inset-block-start: 50%;
    inset-inline-start: auto;
    inset-inline-end:0;
    inset-block-end: 0;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid #FF647C; /* arrowhead color */
}