/*

In this file:

// A. Modules
// B. Variables
// C. Component

*/

//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use "../../scss/accent" as accent;
@use "../../scss/icon" as icon;

//////////////////////////////////////////////
// B. Variables
//////////////////////////////////////////////

:root {
    --icon-question-a: "\f15f";
    --icon-question-b: "\f160";
    --icon-question-c: "\f161";
    --icon-question-d: "\f163";
    --icon-question-e: "\f164";
    --icon-question-checked: "\f162";
}

//////////////////////////////////////////////
// C. Component
//////////////////////////////////////////////

@layer component {

    // Quiz component

    .quiz {}

    // Shared Selectors

    .quiz__questions,
    .comprehension-checkpoint {
        // background-color: yellow;

        .form-entry__option { 
            margin-block-start: 0.5em;
        }
    }

    // Quiz form

    .quiz__questions {
        padding: unset;       

        counter-reset: section;

        .form-entry {
            position: relative;

            &::before {
                position: absolute;
                inset-inline-start: 0;

                counter-increment: section;    
                content: counter(section) ".";

                font-weight: bold;

                padding-inline-start: var(--form-field-padding-x);
            }
        }

        .form-entry__field__label {
            padding: unset;
            padding-inline-start: calc( var(--form-field-padding-x) + 2em);
        }

        // Figure
        
        .figure {
            --figure-margin-y: var(--spacer-2);
        }

        // Quiz Questions

        .form-entry__option__radio {
            font-size: 90%;
        }

        .form-entry__option__radio:nth-child(1) > label > input ~ .option__label::before {
            content: var(--icon-question-a); 
        }

        .form-entry__option__radio:nth-child(2) > label > input ~ .option__label::before {
            content: var(--icon-question-b);
        }

        .form-entry__option__radio:nth-child(3) > label > input ~ .option__label::before {
            content: var(--icon-question-c);
        }

        .form-entry__option__radio:nth-child(4) > label > input ~ .option__label::before {
            content: var(--icon-question-d);
        }

        .form-entry__option__radio:nth-child(5) > label > input ~ .option__label::before {
            content: var(--icon-question-e);
        }

        .form-entry__option__radio > label > input:checked ~ .option__label::before {
            content: var(--icon-question-checked);
        }

        .form-entry__option__radio > label > input:not(:checked) ~ .option__label::before {
            opacity: 1;
            color: var(--link-color);
        }

    }

    // Quiz Response

    .quiz__response {
        display: block;
        
        font-size: 90%;
        font-style: italic;
        
        padding-inline-start: calc(var(--form-field-padding-x) + 1em);
        margin-top: var(--form-field-padding-y);

        color: var(--canvas-warn);

        [data-answer="correct"] & {
            color: var(--canvas-confirm);
        }
    }

    .quiz__score {

        &.pass {
            color: var(--canvas-confirm);
        }

        &.fail {
            color: var(--canvas-warn);
        }
    }

    // Quiz Pool

    .quiz__pool {
        border-radius: var(--form-field-border-radius);

        border: var(--border-width) var(--border-style) currentColor;

        padding: var(--spacer-3);

        margin-inline: calc( var(--spacer-3) * -1);
        margin-block: var(--spacer-4);

        > *:last-child {
            margin-bottom: 0 !important;
        }

        .quiz__pool__description {
            font-size: var(--font-size-md);
            font-style: italic;
            margin-bottom: var(--spacer-4);
        }
    }

    // Comprehension Checkpoint

    .comprehension-checkpoint {

        .form-entry__option__radio {
            --subtle-fill-opacity: 0;
        }

        .quiz__response:not(.shown) {
            display: none;
        }
    }

    .comprehension-checkpoint__header {
        --subtle-fill-opacity: 7.5%;
        background-color: var(--subtle-fill-background-color);

        overflow: hidden;

        display: flex;
        align-items: center;

        border-radius: var(--form-field-border-radius);

        margin-block-end: 1em;

        color: var(--primary);

        > span {
            --subtle-fill-opacity: 0.075;
            background-color: var(--subtle-fill-background-color);

            display: flex;
            align-items: center;
            justify-content: center;
            
            width: var(--button-icon-only-size);
            height: var(--button-icon-only-size);

            margin-right: 0.5em;
        }

        > span > [class*="icon"] {
            font-size: 1.5em; 
        }
    }

    @container module-main (inline-size >= 768px) {
      .comprehension-checkpoint__header {
        margin-inline-start: calc(var(--button-icon-only-size) * -1);
      }
    }
}