/*

In this file:

// A. Modules
// B. Variables
// C. Component

*/

//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use "../../scss/accent" as accent;
@use "../../scss/icon" as icon;

//////////////////////////////////////////////
// B. Variables
//////////////////////////////////////////////

:root {
    --icon-question-a: "\f15f";
    --icon-question-b: "\f160";
    --icon-question-c: "\f161";
    --icon-question-d: "\f163";
    --icon-question-e: "\f164";
    --icon-question-checked: "\f162";
}

//////////////////////////////////////////////
// C. Component
//////////////////////////////////////////////

@layer component {

    .quiz {
        overflow: hidden;

        button[type="submit"]{
            background-color: var(--canvas-link);
            color: white !important;
        }
    }

    .quiz__questions {
        list-style: none;
        counter-reset: section;
        padding: unset;             

        .form-entry {
            position: relative;

            &::before {
                position: absolute;
                inset-inline-start: 0;

                counter-increment: section;    
                content: counter(section) ".";

                font-weight: bold;

                padding-inline-start: var(--form-field-padding-x);
            }
        }

        .form-entry__field__label {
            padding: unset;
            padding-inline-start: calc( var(--form-field-padding-x) + 2em);
        }

        .form-entry__option {
            margin-top: 0.75em;
        }
    }

    .quiz__questions {

        .form-entry__option__radio {
            font-size: 90%;
        }

        .form-entry__option__radio:nth-child(1) > label > input ~ .option__label::before {
            content: var(--icon-question-a); 
        }

        .form-entry__option__radio:nth-child(2) > label > input ~ .option__label::before {
            content: var(--icon-question-b);
        }

        .form-entry__option__radio:nth-child(3) > label > input ~ .option__label::before {
            content: var(--icon-question-c);
        }

        .form-entry__option__radio:nth-child(4) > label > input ~ .option__label::before {
            content: var(--icon-question-d);
        }

        .form-entry__option__radio:nth-child(5) > label > input ~ .option__label::before {
            content: var(--icon-question-e);
        }

        .form-entry__option__radio > label > input:checked ~ .option__label::before {
            content: var(--icon-question-checked);
        }

        .form-entry__option__radio > label > input:not(:checked) ~ .option__label::before {
            opacity: 1;
            color: var(--link-color);
        }

    }

    .quiz__image {
        overflow: hidden;
        border-radius: var(--form-field-border-radius);
        margin-bottom: var(--spacer-3);
    }

    .quiz__response {
        
        padding-inline-start: calc(1.25em + var(--form-field-padding-x));
        margin-top: var(--form-field-padding-y);

        display: block;
        
        font-style: italic;
        font-size: 90%;

        color: var(--canvas-warn);

        [data-answer="correct"] & {
            color: var(--canvas-confirm);
        }
    }

    .quiz__score {

        &.pass {
            color: var(--canvas-confirm);
        }

        &.fail {
            color: var(--canvas-warn);
        }
    }

    // Comprehension check point

    .comprehension-checkpoint__header {

        overflow: hidden;

        border-radius: var(--form-field-border-radius);

        @extend %subtle-fill-psuedo;
        --subtle-fill-opacity: 0.075;

        display: flex;
        align-items: center;

        color: var(--primary);

        > span {
            @extend %subtle-fill-psuedo;
            --subtle-fill-opacity: 0.075;

            display: flex;
            align-items: center;
            justify-content: center;
            
            width: var(--button-icon-only-size);
            height: var(--button-icon-only-size);

            margin-right: 0.5em;
        }

        > span > [class*="icon"] {
            font-size: 1.5em; 
        }
    }

    .comprehension-checkpoint {

        .form-entry__option__radio {
            --subtle-fill-opacity: 0;
        }

        .quiz__response:not(.shown) {
            display: none;
        }
    }

    @container module-main (inline-size >= 768px) {
      .comprehension-checkpoint__header {
        margin-inline-start: calc(var(--button-icon-only-size) * -1);
      }
    }
}