/*

In this file:

// A. Variables
// B. Components

*/

//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use '../breakpoint';
@use '../form';

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

:root {
    --ngss-sep-hue: 240;
    --ngss-sep-saturation: 75%;
    --ngss-sep-lightness: 30%;

    --ngss-cc-hue: 120;
    --ngss-cc-saturation: 60%;
    --ngss-cc-lightness: 40%;

    --ngss-dci-hue: 25;
    --ngss-dci-saturation: 75%;
    --ngss-dci-lightness: 50%;

    --term-highlight-hue: 123;
    --term-highlight-saturation:43%;
    --term-highlight-lightness:56%;
}

//////////////////////////////////////////////
// B. Components
//////////////////////////////////////////////

@layer component {

    // Reading Toggle

    .reading-toggle {
        font-size: var(--font-size-md);
    }

    .reading-toggle__switch {
        --form-field-border-radius: 0.5em;
        --focus-outline-distance: calc(var(--border-width) * -1);

        @extend .form-entry__option !optional;
        --subtle-fill-opacity: 0;
        
        margin-block-end: var(--spacer-1);
        
        overflow: hidden;
        
        &:focus-within:focus-visible [class*="__switch"] {
            outline: var(--focus-outline-size) var(--focus-outline-style) var(--focus-outline-color);
            outline-offset: var(--focus-outline-distance);
        }
    }

    // Reading Annotation Mark

    mark:is(.term, .ngss) {

        // Term Highlight
        --term-highlight-alpha: 0.375;
        --term-highlight: hsla(
            var(--term-highlight-hue),
            var(--term-highlight-saturation),
            var(--term-highlight-lightness),
            var(--term-highlight-alpha)
        );

        // Practices
        --ngss-sep-alpha: 0.2;
        --ngss-practices: hsla(
            var(--ngss-sep-hue),
            var(--ngss-sep-saturation),
            var(--ngss-sep-lightness),
            var(--ngss-sep-alpha)
        );

        // Crosscutting
        --ngss-cc-alpha: 0.2;
        --ngss-crosscutting: hsla(
            var(--ngss-cc-hue),
            var(--ngss-cc-saturation),
            var(--ngss-cc-lightness),
            var(--ngss-cc-alpha)
        );

        // Core Ideas
        --ngss-dci-alpha: 0.2;
        --ngss-core-ideas: hsla(
            var(--ngss-dci-hue),
            var(--ngss-dci-saturation),
            var(--ngss-dci-lightness),
            var(--ngss-dci-alpha)
        );

        color: currentColor;

        padding-block: 0.0875em;

        background-color: transparent;
        
        transition: background-color 0.125s;
        
        pointer-events: none;
    }

    mark.highlighted {
        --outline-width: calc(var(--border-width) * 1);

        cursor: pointer;

        pointer-events: auto;

        outline: solid var(--outline-width) transparent;

        &:hover,
        &:focus {
            --outline-width: calc(var(--border-width) * 2);
        }

    }

    mark.highlighted.term {

        outline-color:
            hsla(
                var(--term-highlight-hue),
                var(--term-highlight-saturation),
                var(--term-highlight-lightness),
                calc(var(--term-highlight-alpha)*2)
            );
        
        background-color: var(--term-highlight);

        &:hover, 
        &:focus {
            --term-highlight-alpha: 0.675;
        }
    }

    mark.highlighted.ngss {
        position: relative;
        
        &[data-ngss-cat-abbr*="SEP"],
        &[data-ngss-cat-abbr*="Practice"] {
            outline-color:
                hsla(
                    var(--ngss-sep-hue),
                    var(--ngss-sep-saturation),
                    var(--ngss-sep-lightness),
                    calc(var(--ngss-sep-alpha)*2)
                );
            
            background-color: var(--ngss-practices);
        }

        &[data-ngss-cat-abbr*="CC"],
        &[data-ngss-cat-abbr*="Crosscutting"] {
            outline-color:
                hsla(
                    var(--ngss-cc-hue),
                    var(--ngss-cc-saturation),
                    var(--ngss-cc-lightness),
                    calc(var(--ngss-cc-alpha)*2)
                );
            
            background-color: var(--ngss-crosscutting);
        }

        &[data-ngss-cat-abbr*="DCI"],
        &[data-ngss-cat-abbr*="Core Idea"] {
            outline-color:
                hsla(
                    var(--ngss-dci-hue),
                    var(--ngss-dci-saturation),
                    var(--ngss-dci-lightness),
                    calc(var(--ngss-dci-alpha)*2)
                );
            
            background-color: var(--ngss-core-ideas);
        }

        &::before {
            display: inline-flex;

            position: absolute;
            
            transform: translateY(-100%);
            
            margin-inline-start: calc(var(--outline-width) * -1);
            margin-block-start: calc(var(--outline-width) * -1);

            padding: 0.5em 0.75em;
            
            font-size: 65%;
            font-style: italic;
            font-weight: 700;
            text-transform: uppercase;
            
            color: white;

            opacity: 0;

            transition: opacity 0.125s ease-in;

            content: attr(data-ngss-cat-abbr);

            white-space: nowrap;
        }
        
        &[data-ngss-cat-abbr*="SEP"]::before,
        &[data-ngss-cat-abbr*="Practice"]::before {
            background-color: hsl(
                var(--ngss-sep-hue),
                var(--ngss-sep-saturation),
                var(--ngss-sep-lightness)
            );
        }

        &[data-ngss-cat-abbr*="CC"]::before,
        &[data-ngss-cat-abbr*="Crosscutting"]::before {
            background-color: hsl(
                var(--ngss-cc-hue),
                var(--ngss-cc-saturation),
                var(--ngss-cc-lightness)
            );
        }

        &[data-ngss-cat-abbr*="DCI"]::before,
        &[data-ngss-cat-abbr*="Core Idea"]::before {
            background-color: hsl(
                var(--ngss-dci-hue),
                var(--ngss-dci-saturation),
                var(--ngss-dci-lightness)
            );
        }

        &:hover, 
        &:focus {
            --active-alpha: 0.375;

            --ngss-sep-alpha: var(--active-alpha);
            --ngss-cc-alpha: var(--active-alpha);
            --ngss-dci-alpha: var(--active-alpha);

            &::before {
                opacity: 1;
            }
        }

    }

    // Reading Annotation

    .reading-annotation {
        --padding-x: 1em;
        --padding-y: 0.75em;

        overflow: hidden;

        max-width: var(--narrow-width);

        margin-inline: auto;

        border-radius: 0.5em;

        background-color: var(--canvas);

        overflow: hidden;

        &.shown {
            opacity: 1;
            transform: translateY(0);
        }

        &[data-term-definition]{

            > [class*="__head"],
            > [class*="__body"] {
                background-color: hsla(
                    var(--term-highlight-hue),
                    var(--term-highlight-saturation),
                    var(--term-highlight-lightness),
                    var(--bg-alpha, 1)
                );
            }
        }

        &[data-ngss-cat-abbr*="SEP"],
        &[data-ngss-cat-abbr*="Practice"] {

            > [class*="__head"],
            > [class*="__body"] {
                background-color: hsla(
                    var(--ngss-sep-hue),
                    var(--ngss-sep-saturation),
                    var(--ngss-sep-lightness),
                    var(--bg-alpha, 1)
                );
            }
        }

        &[data-ngss-cat-abbr*="CC"], 
        &[data-ngss-cat-abbr*="Crosscutting"] {

            > [class*="__head"],
            > [class*="__body"] {
                background-color: hsla(
                    var(--ngss-cc-hue),
                    var(--ngss-cc-saturation),
                    var(--ngss-cc-lightness),
                    var(--bg-alpha, 1)
                );
            }
        }

        &[data-ngss-cat-abbr*="DCI"],
        &[data-ngss-cat-abbr*="Core Idea"] {

            > [class*="__head"],
            > [class*="__body"] {
                background-color: hsla(
                    var(--ngss-dci-hue),
                    var(--ngss-dci-saturation),
                    var(--ngss-dci-lightness),
                    var(--bg-alpha, 1)
                );
            }
        }

        > [class*="__body"] {
            --bg-alpha: 0.125;
        }

        > [class*="__body"] p {
            margin-block-end: 0.5em;
        }

        &:not(.glossary-term) > [class*="__head"] {
            font-weight: var(--font-weight-bold);
            color: white;
        }

        [class*="has-overlay"] &  {
           display: none;
        }

    }

    .reading-annotation__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 5;

        padding-block: calc(var(--padding-y) * 0.5);
        padding-inline-start:  var(--padding-x);
        padding-inline-end: calc(var(--padding-y) * 0.5);

        .h6 {
            margin-block-end: unset;        
        }
    }

    .reading-annotation__body {
        padding: var(--padding-y) var(--padding-x);
        background-color: hsla(100, 100%, 100%, 0.875);

        [class*="standard"] {
            display: block;

            font-size: var(--font-size-sm);
            font-style: italic;
            
            opacity: 0.8;
        }
    }

    .reading-annotation {
        margin-block-start: var(--spacer-2);
    }

} // end @layer