/*

In this file:

// A. Variables
// B. Components

*/

//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use '../breakpoint';

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

:root {
    --practices-hue: 240;
    --practices-saturation: 75%;
    --practices-lightness: 30%;

    --crosscutting-hue: 120;
    --crosscutting-saturation: 60%;
    --crosscutting-lightness: 40%;

    --core-ideas-hue: 25;
    --core-ideas-saturation: 75%;
    --core-ideas-lightness: 50%;

    --term-highlight-hue: 123;
    --term-highlight-saturation:43%;
    --term-highlight-lightness:56%;
}

//////////////////////////////////////////////
// B. Components
//////////////////////////////////////////////

@layer component {

    mark.term,
    mark.ngss {
        color: currentColor;

        // Term Highlight
        --term-highlight-alpha: 0.375;
        --term-highlight: hsla(
            var(--term-highlight-hue),
            var(--term-highlight-saturation),
            var(--term-highlight-lightness),
            var(--term-highlight-alpha)
        );

        // Practices
        --practices-alpha: 0.2;
        --ngss-practices: hsla(
            var(--practices-hue),
            var(--practices-saturation),
            var(--practices-lightness),
            var(--practices-alpha)
        );

        // Crosscutting
        --crosscutting-alpha: 0.2;
        --ngss-crosscutting: hsla(
            var(--crosscutting-hue),
            var(--crosscutting-saturation),
            var(--crosscutting-lightness),
            var(--crosscutting-alpha)
        );

        // Core Ideas
        --core-ideas-alpha: 0.2;
        --ngss-core-ideas: hsla(
            var(--core-ideas-hue),
            var(--core-ideas-saturation),
            var(--core-ideas-lightness),
            var(--core-ideas-alpha)
        );

        padding-block: 0.075em;
        
        background-color: transparent;
        
        transition: background-color 0.125s;
        
        pointer-events: none;
    }

    mark.term.highlighted,
    mark.ngss.highlighted {
        cursor: pointer;

        pointer-events: auto;

        outline: solid var(--border-width) transparent;

    }

    mark.term.highlighted {

        outline-color:
            hsla(
                var(--term-highlight-hue),
                var(--term-highlight-saturation),
                var(--term-highlight-lightness),
                calc(var(--term-highlight-alpha)*2)
            );
        
        background-color: var(--term-highlight);

        &:hover, 
        &:focus {
            --term-highlight-alpha: 0.675;
        }
    }

    mark.ngss.highlighted {
        position: relative;
        
        &[data-ngss-cat*="Practices"] {
            outline-color:
                hsla(
                    var(--practices-hue),
                    var(--practices-saturation),
                    var(--practices-lightness),
                    calc(var(--practices-alpha)*2)
                );
            
            background-color: var(--ngss-practices);
        }

        &[data-ngss-cat*="Crosscutting"] {
            outline-color:
                hsla(
                    var(--crosscutting-hue),
                    var(--crosscutting-saturation),
                    var(--crosscutting-lightness),
                    calc(var(--crosscutting-alpha)*2)
                );
            
            background-color: var(--ngss-crosscutting);
        }

        &[data-ngss-cat*="Core Ideas"] {
            outline-color:
                hsla(
                    var(--core-ideas-hue),
                    var(--core-ideas-saturation),
                    var(--core-ideas-lightness),
                    calc(var(--core-ideas-alpha)*2)
                );
            
            background-color: var(--ngss-core-ideas);
        }

        &::before {
            display: inline-flex;

            position: absolute;
            
            transform: translateY(-100%);
            
            margin-inline-start: calc(var(--border-width) * -1);

            padding: 0.5em 0.75em;
            
            font-size: 65%;
            font-style: italic;
            font-weight: 700;
            text-transform: uppercase;
            
            color: white;

            opacity: 0;

            transition: opacity 0.125s ease-in;

            content: attr(data-ngss-cat);

            white-space: nowrap;
        }
        
        &[data-ngss-cat*="Practices"]::before {
            background-color: hsl(
                var(--practices-hue) 
                var(--practices-saturation)
                var(--practices-lightness)
            );
        }

        &[data-ngss-cat*="Crosscutting"]::before {
            background-color: hsl(
                var(--crosscutting-hue) 
                var(--crosscutting-saturation)
                var(--crosscutting-lightness)
            );
        }

        &[data-ngss-cat*="Core Ideas"]::before {
            background-color: hsl(
                var(--core-ideas-hue) 
                var(--core-ideas-saturation)
                var(--core-ideas-lightness)
            );
        }

        &:hover, 
        &:focus {
            --practices-alpha: 0.375;
            --crosscutting-alpha: 0.375;
            --core-ideas-alpha: 0.375;

            &::before {
                opacity: 1;
            }
        }

    }

    // Reading Toggle

    .reading-toggle {

        font-size: var(--font-size-md);

        [class*="__switch"] {
            border-top: var(--border-width) var(--border-style) var(--border-color);
            margin-block-start: var(--spacer-2);
            label {
            font-size: var(--font-size-lg);
                padding-block: var(--spacer-2);
            }        
        }

    }

    .reading-toggle-overlay,
    .reading-toggle-overlay::before {
        position: fixed;
        inset-block-start: 0;
        inset-inline-start: 0;

        width: 100%;
        height: 100%;
    }

    .reading-toggle-overlay {
        --lightbox-overlay-color: hsla(0, 0%, 100%, 0.875);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

        outline: 6px solid red;
        outline-offset: -6px;
        
        padding: var(--lightbox-padding-y) var(--lightbox-padding-x);

        width: 100%;
        height: 100vh;

        z-index: 10000;

        &::before {
            content: "";

            background-color: var(--lightbox-overlay-color);
            
            opacity: var(--lightbox-overlay-opacity);

            z-index: -1;
            
            pointer-events: none;
        }

    }

    .reading-toggle__detail {
        --padding-x: 1em;
        --padding-y: 0.75em;

        max-width: var(--narrow-width);

        margin-inline: auto;

        border-radius: 0.5em;

        &.shown {
            opacity: 1;
            transform: translateY(0);
        }

        &[data-term-definition]{
            background-color: hsl(
                var(--term-highlight-hue) 
                var(--term-highlight-saturation)
                var(--term-highlight-lightness)
            );

        }

        &[data-ngss-cat*="Practices"]{
            background-color: hsl(
                var(--practices-hue) 
                var(--practices-saturation)
                var(--practices-lightness)
            );
        }

        &[data-ngss-cat*="Crosscutting"]{
            background-color: hsl(
                var(--crosscutting-hue) 
                var(--crosscutting-saturation)
                var(--crosscutting-lightness)
            );
        }

        &[data-ngss-cat*="Core Ideas"]{
            background-color: hsl(
                var(--core-ideas-hue) 
                var(--core-ideas-saturation)
                var(--core-ideas-lightness)
            );
        }

        &:not(.glossary-term) > [class*="__head"] {
            font-weight: var(--body-font-weight-bold);
            color: white;
        }

    }

    .reading-toggle__detail__head {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-block: calc(var(--padding-y) * 0.5);
        padding-inline-start:  var(--padding-x);
        padding-inline-end: calc(var(--padding-y) * 0.5);

        .h6 {
            margin-block-end: unset;        
        }
    }

    .reading-toggle__detail__body {
        padding: var(--padding-y) var(--padding-x);
        background-color: hsla(100, 100%, 100%, 0.875);
    }

} // end @layer