/*

In this file:

// A. List Divider
// B. Description List

*/

//////////////////////////////////////////////
// B. Components
//////////////////////////////////////////////

@layer component {

    .table-of-contents {
    
        font-size: var(--font-size-md);

        [class*="__title"] {
            font-weight: var(--font-weight-bold);
            margin-block-end: 0.5em;
        }

        ul {
            list-style: none;
        }

        li {
            margin-block-end: 0.5em;
        }

        ul > li > ul {
            margin-block-start: 0.5em;
            padding-inline: 0.75em;
        }
        
        ul > li > a {
            color: var(--link-color);
        }

        ul > li > ul > li > a{
            font-size: var(--font-size-sm);
        }

    }

} // end @layer