/*

In this file:

// A. Variables

*/

//////////////////////////////////////////////
// A. Custom Properties
//////////////////////////////////////////////

:root {

    // Body Font Stack

    --body-font-family: 'Open Sans', sans-serif;
    
    --base-font-size: 0.9rem; // 16px

    --type-scale: 1.175; // Minor Third

    --body-line-height: 1.55;

    // Icons
    
    --icon-font-family: 'visionlearning-icons';

    // Containers

    --narrow-width: 44rem;
    --medium-width: calc( var(--narrow-width) * 1.5);
    --wide-width: calc( var(--narrow-width) * 2.5);

    // Border Radius

    --border-radius: 0.25em;

    // Buttons

    --button-padding-x: 1.25em;

    --button-icon-only-size: 2.25em;
    
    --button-outline-border-width: var(--border-width);

    --button-icon-only-size: 2.25em;

    --button--icon-label-border-radius: 100%; 

    // Spacing

    --spacer-3: calc(var(--spacer-base) * 1.25);
    --spacer-4: calc(var(--spacer-base) * 2);
    --spacer-5: calc(var(--spacer-base) * 4);

    // Grid

    --grid-sidebar-width: 18rem;

    // Form

    --form-field-border-color: var(--border-color);

    // Lightbox Icons

    --lightbox-button-icon-image: "\f13d";
    --lightbox-button-icon-video: "\f169";
}

@media screen and (max-width: 1000px) {

    :root {
        --base-font-size: 0.875rem; // 16px

        --type-scale: 1.15; // Minor Third
    }

}

h1 > sub {
    display: block;
    font-size: 75%;
}

.backdrop {
    --backdrop-fixed-height: 450px;
}

hr.divider {
    margin-block: calc(var(--grid-divider-gap) * 0.5);
}

.tabs-nav {
    --tab-active-bar-color: var(--primary);
    &.library {
        --tab-active-bar-color: var(--library);
    }
    &.glossary {
        --tab-active-bar-color: var(--glossary);
    }
    &.classroom {
        --tab-active-bar-color: var(--classroom);
    }
}

.button.text-transform-uppercase{
    --subtle-fill-opacity: 0;
    --button-padding-x: 0;
    --button-padding-y: 0;

    color: var(--link-color);
}

form {
    button:not([class*="button--icon-only"])[type="submit"] {
        background-color: var(--canvas-link);
        color: white !important;
    }
}

blockquote {
    padding-inline-start: 1.25em;

    border-inline-start: 
        var(--border-width)
        var(--border-style)
        currentColor;

    p {
        font-size: 1.125em;
        margin-block-end: 0.5em;
    }

    footer {
        font-size: 0.875em;
        font-style: normal;
        margin-block-start: 0.5em;
    }

    cite {
        font-style: italic;
    }
}