/*

In this file:

// A. Term
// B. Term Highlighted

*/

//////////////////////////////////////////////
// A. Term 
//////////////////////////////////////////////

.term {
    position: relative;
    display: inline-block;

    cursor: pointer;

    &::before,
    &::after {
        position: absolute;
        content: "";
        right: -0.15em;
        left: -0.15em;
        background-color: var(--glossary);

        transition: opacity 0.2s ease-in;

        opacity: 0;
        
    }

    &::before {
        top: 0;
        bottom: 0;
        z-index: 0;
    }

    &::after {
        bottom: 0;

        height: 2px;
    }
    

}

//////////////////////////////////////////////
// B. Term Highlighted
//////////////////////////////////////////////

.term.highlighted {

    &::before {
        opacity: 0.2;
    }

    &::after {
        opacity: 1;
    }

}
