
.term {
    position: relative;
    display: inline-block;

    cursor: pointer;

    &::before,
    &::after {
        position: absolute;
        content: "";
        right: -0.15em;
        left: -0.15em;
        background-color: var(--glossary);

        transition: opacity 0.2s ease-in;
        
    }

    &::before{
        top: 0;
        bottom: 0;
        z-index: 0;
        opacity: 0.2;
    }

    &::after{
        bottom: 0;
        height: 2px;
        opacity: 1;
    }

    
}
