/*

In this file:

// A. Modules
// B. Flex Direction Utilities
// C. Flex Wrap Utilities
// D. Flex Grow and Shrink Utilites
// E. Justify Content Utilites
// F. Justify Self Utilites
// G. Align Content Utilites
// H. Align Items Utilites
// I. Align Self Utilites

*/

//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use "sass:map";
@use "../breakpoints/style" as breakpoints;
@use "../spacing/style" as spacing;

//////////////////////////////////////////////
// B. Flex Direction Utilities 
//////////////////////////////////////////////

[class*="flex-row"],
[class*="flex-column"],
[class*="flex-row-reverse"],
[class*="flex-column-reverse"] {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
}

@each $breakpoint in map.keys(breakpoints.$breakpoints) {
    @include breakpoints.breakpoints-up($breakpoint) {
        $mod: breakpoints.breakpoint-modifier($breakpoint, breakpoints.$breakpoints);

        .flex-row#{$mod} {
            flex-direction: row !important;
        }

        .flex-column#{$mod} {
            flex-direction: column !important;
        }

        .flex-row-reverse#{$mod} {
            flex-direction: row-reverse !important;
        }
        
        .flex-column-reverse#{$mod} {
            flex-direction: column-reverse !important;
        }

    }
}

//////////////////////////////////////////////
// C. Flex Wrap Utilities 
//////////////////////////////////////////////

@each $breakpoint in map.keys(breakpoints.$breakpoints) {
    @include breakpoints.breakpoints-up($breakpoint) {
        $mod: breakpoints.breakpoint-modifier($breakpoint, breakpoints.$breakpoints);

        .flex-no-wrap#{$mod} {
            flex-wrap: nowrap !important;
        }

        .flex-wrap#{$mod} {
            flex-wrap: nowrap !important;
        }

        .flex-wrap-reverse#{$mod} {
            flex-wrap: wrap-reverse !important;
        }

    }
}


//////////////////////////////////////////////
// D. Flex Grow and Shrink Utilites
//////////////////////////////////////////////

@each $breakpoint in map.keys(breakpoints.$breakpoints) {
    @include breakpoints.breakpoints-up($breakpoint) {
        $mod: breakpoints.breakpoint-modifier($breakpoint, breakpoints.$breakpoints);

        .flex-grow-1 {
            flex-grow: 1 !important;
        }

        .flex-grow-0 {
            flex-grow: 0 !important;
        }

        .flex-shrink-1  {
            flex-shrink: 1 !important;
        }

        .flex-shrink-0 {
            flex-shrink: 0 !important;
        }


    }
}

//////////////////////////////////////////////
// E. Justify Content Utilites
//////////////////////////////////////////////

@each $breakpoint in map.keys(breakpoints.$breakpoints) {
    @include breakpoints.breakpoints-up($breakpoint) {
        $mod: breakpoints.breakpoint-modifier($breakpoint, breakpoints.$breakpoints);

        .justify-content-start#{$mod} {
            justify-content: flex-start !important;
        }

        .justify-content-end#{$mod} {
            justify-content: flex-end !important;
        }

        .justify-content-center#{$mod} {
            justify-content: center !important;
        }

        .justify-content-between#{$mod} {
            justify-content: space-between !important;
        }

        .justify-content-around#{$mod} {
            justify-content: space-around !important;
        }

        .justify-content-evenly#{$mod} {
            justify-content: space-evenly !important;
        }
    }
}

//////////////////////////////////////////////
// F. Justify Self Utilites
//////////////////////////////////////////////

@each $breakpoint in map.keys(breakpoints.$breakpoints) {
    @include breakpoints.breakpoints-up($breakpoint) {
        $mod: breakpoints.breakpoint-modifier($breakpoint, breakpoints.$breakpoints);

        .justify-self-start#{$mod} {
            justify-self: start;
        }

        .justify-self-end#{$mod} {
            justify-self: end;
        }

        .justify-self-center#{$mod} {
            justify-self: center;
        }

        .justify-self-between#{$mod} {
            justify-self: stretch;
        }
    }
}

//////////////////////////////////////////////
// G. Align Content Utilites
//////////////////////////////////////////////

@each $breakpoint in map.keys(breakpoints.$breakpoints) {
    @include breakpoints.breakpoints-up($breakpoint) {
        $mod: breakpoints.breakpoint-modifier($breakpoint, breakpoints.$breakpoints);

        .align-content-start#{$mod} {
            align-content: flex-start;
        }

        .align-content-end#{$mod} {
            align-content: flex-end;
        }

        .align-content-center#{$mod} {
            align-content: center;
        }

        .align-content-between#{$mod} {
            align-content: space-between;
        }

        .align-content-around#{$mod} {
            align-content: space-around;
        }

        .align-content-evenly#{$mod} {
            align-content: space-evenly;
        }

        .align-content-stretch#{$mod} {
            align-content: stretch !important;
        }

    }
}

//////////////////////////////////////////////
// H. Align Items Utilites
//////////////////////////////////////////////

@each $breakpoint in map.keys(breakpoints.$breakpoints) {
    @include breakpoints.breakpoints-up($breakpoint) {
        $mod: breakpoints.breakpoint-modifier($breakpoint, breakpoints.$breakpoints);

        .align-items-start#{$mod} {
            align-items: flex-start;
        }

        .align-items-end#{$mod} {
            align-items: flex-end;
        }

        .align-items-center#{$mod} {
            align-items: center;
        }

        .align-items-baseline#{$mod} {
            align-items: baseline;
        }

        .align-items-stretch#{$mod} {
            align-items: stretch;
        }

    }
}

//////////////////////////////////////////////
// I. Align Self Utilites
//////////////////////////////////////////////

@each $breakpoint in map.keys(breakpoints.$breakpoints) {
    @include breakpoints.breakpoints-up($breakpoint) {
        $mod: breakpoints.breakpoint-modifier($breakpoint, breakpoints.$breakpoints);

        .align-self-auto#{$mod} {
            align-self: auto;
        }

        .align-self-start#{$mod} {
            align-self: flex-start;
        }

        .align-self-center#{$mod} {
            align-self: center;
        }

        .align-self-end#{$mod} {
            align-self: flex-end;
        }

        .align-self-baseline#{$mod} {
            align-self: baseline;
        }

        .align-self-stretch#{$mod} {
            align-self: stretch;
        }
        
    }
}