/*

In this file:

// A. Modules

*/

//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use "sass:map";

//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

.section-card {

position: relative;

        &::before {
            position: absolute;
            content: "";
            inset-block-start: 0;
            inset-inline-start: 0;
            inset-inline-end: 0;

            width: var(--tab-accent-bar-size);
            
            background-color: currentColor;
            
            opacity: 0;
        }
}