/*

In this file:

// A. Toggle Buttons
// B. Term Highlighted

*/

//////////////////////////////////////////////
// A. Toggle Buttons
//////////////////////////////////////////////

.button--toggle-terms,
.button--toggle-ngss {
    --button-border-radius: 0;

    &.active {

        &::before {
            display: none;
        }
        
        color: white;
        
        text-shadow: 0 0 2px hsla(0, 0%, 0%, 0.15);
    }
}

.button--toggle-terms {
    --subtle-fill-opacity: 0.12 !important;
}

.button--toggle-terms {
    color: var(--glossary);

    &.active {
        background-color: var(--glossary);
    }
}

.button--toggle-ngss {
    --subtle-fill-opacity: 0.0825 !important;
    
    color: var(--primary);

    &.active {
        background-color: var(--primary);
    }
}

//////////////////////////////////////////////
// B. Term 
//////////////////////////////////////////////

.term {
    position: relative;
    display: inline-block;

    &::before,
    &::after {
        position: absolute;
        content: "";
        right: var(--padding-x);
        left: var(--padding-x);

        background-color: var(--glossary);

        transition: opacity 0.2s ease-in;

        opacity: 0;
    }

    &::before {
        top: 0;
        bottom: 0;
        z-index: 0;
    }

    &::after {
        bottom: 0;

        height: 2px;
    }
}

//////////////////////////////////////////////
// C. Term Highlighted
//////////////////////////////////////////////

.term.highlighted {
    --padding-x: -0.15em;

    cursor: pointer;

    &::before {
        opacity: 0.2;
    }

    &::after {
        opacity: 1;
    }
}

//////////////////////////////////////////////
// D. Term Tooltip
//////////////////////////////////////////////

.term__tooltip {
    position: absolute;
    top:100%;

    left: var(--padding-x);

    margin-top: 0.5em;

    background-color: var(--glossary);
    background-color: hsl(117, 40%, 35%);

    color: white;

    font-size: var(--font-size-md);

    padding: 0.25em 0.5em;

    min-width: 200px;
    max-width: 200px;

    display: none;

    filter: drop-shadow(0.25em 0.25em 0.5em hsla(0, 0%, 0%, 0.375));
    z-index: 20000;
}

.tooltip-show {
    .term__tooltip{
        display: block;
    }
}

.tooltip-header {
    font-weight: bold;
    display: block;
}