/*

In this file:

// A. Toggle Buttons
// B. Term Highlighted

*/

//////////////////////////////////////////////
// A. Toggle Buttons
//////////////////////////////////////////////

.button--toggle-terms,
.button--toggle-ngss {
    --button-border-radius: 0;

    &.active {

        &::before {
            display: none;
        }
        
        color: white;
        
        text-shadow: 0 0 2px hsla(0, 0%, 0%, 0.15);
    }
}

.button--toggle-terms {
    --subtle-fill-opacity: 0.12 !important;
}

.button--toggle-terms {
    color: var(--glossary);

    &.active {
        background-color: var(--glossary);
    }
}

.button--toggle-ngss {
    --subtle-fill-opacity: 0.0825 !important;
    
    color: var(--primary);

    &.active {
        background-color: var(--primary);
    }
}

//////////////////////////////////////////////
// B. Term 
//////////////////////////////////////////////

.term {
    position: relative;
    display: inline-block;

    &::before,
    &::after {
        position: absolute;
        content: "";
        right: var(--padding-x);
        left: var(--padding-x);

        background-color: var(--glossary);

        transition: opacity 0.2s ease-in;

        opacity: 0;
    }

    &::before {
        top: 0;
        bottom: 0;
        z-index: 0;
    }

    &::after {
        bottom: 0;

        height: 2px;
    }
}

//////////////////////////////////////////////
// C. Term Highlighted
//////////////////////////////////////////////

.term.highlighted {
    --padding-x: -0.15em;

    cursor: pointer;

    &::before {
        opacity: 0.2;
    }

    &::after {
        opacity: 1;
    }
}

//////////////////////////////////////////////
// D. Term Tooltip
//////////////////////////////////////////////

.term__tooltip {
    position: absolute;
    top:100%;

    left: var(--padding-x);

    margin-top: 0.5em;

    background-color: var(--glossary);
    background-color: hsl(117, 40%, 35%);

    color: white;

    font-size: var(--font-size-md);

    padding: 0.25em 0.5em;

    min-width: 200px;
    max-width: 200px;

    display: none;

    filter: drop-shadow(0.25em 0.25em 0.5em hsla(0, 0%, 0%, 0.375));
    z-index: 20000;
}

.tooltip-show {
    .term__tooltip{
        display: block;
    }
}

.tooltip-header {
    font-weight: bold;
    display: block;
}

//////////////////////////////////////////////
// D. NGSS
//////////////////////////////////////////////

:root {
    --practices-hue: 240;
    --practices-saturation: 75%;
    --practices-lightness: 30%;

    --crosscutting-hue: 120;
    --crosscutting-saturation: 60%;
    --crosscutting-lightness: 40%;

    --core-ideas-hue: 25;
    --core-ideas-saturation: 75%;
    --core-ideas-lightness: 50%;
}

mark.ngss {

    // Practices
    --practices-alpha: 0.25;
    --ngss-practices: hsla(
        var(--practices-hue),
        var(--practices-saturation),
        var(--practices-lightness),
        var(--practices-alpha)
    );

    // Crosscutting
    --crosscutting-alpha: 0.25;
    --ngss-crosscutting: hsla(
        var(--crosscutting-hue),
        var(--crosscutting-saturation),
        var(--crosscutting-lightness),
        var(--crosscutting-alpha)
    );

    // Core Ideas
    --core-ideas-alpha: 0.25;
    --ngss-core-ideas: hsla(
        var(--core-ideas-hue),
        var(--core-ideas-saturation),
        var(--core-ideas-lightness),
        var(--core-ideas-alpha)
    );

    display: inline;

    background-color: transparent;
    
    padding: 0.075em 0;
}

mark.ngss.highlighted {
    position: relative;

    cursor: pointer;

    &[data-ngss-cat="Practices"] {
        outline:
            solid
            var(--default-border-width) 
            hsla(
                var(--practices-hue),
                var(--practices-saturation),
                var(--practices-lightness),
                calc(var(--practices-alpha)*2));
        
        background-color: var(--ngss-practices);
    }

    &[data-ngss-cat="Crosscutting"] {
        outline:
            solid
            var(--default-border-width) 
            hsla(
                var(--crosscutting-hue),
                var(--crosscutting-saturation),
                var(--crosscutting-lightness),
                calc(var(--crosscutting-alpha)*2)
            );
        
        background-color: var(--ngss-crosscutting);
    }

    &[data-ngss-cat="Core Ideas"] {
        outline:
            solid
            var(--default-border-width) 
            hsla(
                var(--core-ideas-hue),
                var(--core-ideas-saturation),
                var(--core-ideas-lightness),
                calc(var(--core-ideas-alpha)*2)
            );
        
        background-color: var(--ngss-core-ideas);
    }

    &::before {
        display: inline-flex;

        position: absolute;
        
        transform: translateY(-100%);
        
        margin-inline-start: calc(var(--default-border-width) * -1);

        padding: 0.5em 0.75em;
        
        font-size: 65%;
        font-style: italic;
        font-weight: 700;
        text-transform: uppercase;
        
        color: white;

        opacity: 0;

        transition: opacity 0.125s ease-in;

        content: attr(data-ngss-cat);
        white-space: nowrap;
    }
    
    &[data-ngss-cat="Practices"]::before {
        background-color: hsl(
            var(--practices-hue) 
            var(--practices-saturation)
            var(--practices-lightness)
        );
    }

    &[data-ngss-cat="Crosscutting"]::before {
        background-color: hsl(
            var(--crosscutting-hue) 
            var(--crosscutting-saturation)
            var(--crosscutting-lightness)
        );
    }

    &[data-ngss-cat="Core Ideas"]::before {
        background-color: hsl(
            var(--core-ideas-hue) 
            var(--core-ideas-saturation)
            var(--core-ideas-lightness)
        );
    }

    &:hover, 
    &:focus {
        --practices-alpha: 0.375;
        --crosscutting-alpha: 0.375;
        --core-ideas-alpha: 0.375;

        &::before {
            opacity: 1;
        }
    }

}

.ngss-desc-block {

    // &:not(.shown) {
    //     display: none;
    // }
}

.ngss-desc-block__text {

    border-radius: 0.25em;

    color: white;

    padding: var(--spacer-2);

    &[data-ngss-cat="Practices"]{
        background-color: hsl(
            var(--practices-hue) 
            var(--practices-saturation)
            var(--practices-lightness)
        );
    }

    &[data-ngss-cat="Crosscutting"]{
        background-color: hsl(
            var(--crosscutting-hue) 
            var(--crosscutting-saturation)
            var(--crosscutting-lightness)
        );
    }

    &[data-ngss-cat="Core Ideas"]{
        background-color: hsl(
            var(--core-ideas-hue) 
            var(--core-ideas-saturation)
            var(--core-ideas-lightness)
        );
    }

}


//

.module-tools {



    // outline: 2px solid blue;

    button[aria-selected="true"] {

    background-color: var(--dark);
    color: var(--dark-text);

    }
}



