<nav class="about-menu font-size-md padding-y-3 border-bottom">
            
    <ul class="nav medium container nav--horizontal--lg justify-content-around">
        <li>
            <a href="/about" {% if page.title == 'About' %} aria-current="page" {% endif %}>
                At a Glance
            </a>
        </li>
        <li>
            <a href="/about/who-we-are" {% if page.title == 'Who We Are' %} aria-current="page" {% endif %}>
                Who We Are
            </a>
        </li>
        <li>
            <a href="/about/ngss" {% if page.title == 'NGSS' %} aria-current="page" {% endif %}>
                NGSS
            </a>
        </li>
        <li>
            <a href="#1">
                Mission &amp; Vision
            </a>
        </li>
        <li>
            <a href="#1">
                Support Us
            </a>
        </li>
    </ul>

</nav>