<nav class="about-menu font-size-md padding-y-3 border-bottom">
            
    <ul class="container medium text-align-center nav nav--horizontal--lg justify-content-around">
        <li>
            <a
                href="{{ site.url }}/about"
                {% if page.title == 'About' %}
                aria-current="page"
                {% endif %}>
                    At a Glance
            </a>
        </li>
        <li>
            <a
                href="{{ site.url }}/about/who-we-are"
                {% if page.title == 'Who We Are' %}
                aria-current="page"
                {% endif %}>
                    Who We Are
            </a>
        </li>
        <li>
            <a
                href="{{ site.url }}/about/our-content" 
                {% if page.title == 'Our Content' %}
                aria-current="page"
                {% endif %}>
                    Our Content
            </a>
        </li>
        <li>
            <a
                href="{{ site.url }}/about/ngss" 
                {% if page.title == 'Next Generation Science Standards' %}
                aria-current="page"
                {% endif %}>
                    NGSS
            </a>
        </li>
        <li>
            <a
                href="{{ site.url }}/about/mission-and-goals"
                {% if page.title == 'Mission and Goals' %}
                aria-current="page"
                {% endif %}>
                    Mission and Goals
            </a>
        </li>
        <li>
            <a
                href="{{ site.url }}/about/faqs"
                {% if page.title == 'Frequently asked Questions' %}
                aria-current="page"
                {% endif %}>
                    FAQs
            </a>
        </li>
    </ul>

</nav>