<nav class="about-menu border-bottom padding-y-4">
            
    <ul class="nav nav--horizontal--lg font-size-md">
        <li>
            <a href="/about" {% if page.title == 'About' %} aria-current="page" {% endif %}>
                At a Glance
            </a>
        </li>
        <li>
            <a href="/about/who-we-are" {% if page.title == 'Who We Are' %} aria-current="page" {% endif %}>
                Who We Are
            </a>
        </li>
        <li>
            <a href="#1">
                NGSS
            </a>
        </li>
        <li>
            <a href="#1">
                Mission &amp; Vision
            </a>
        </li>
        <li>
            <a href="#1">
                Support Us
            </a>
        </li>
    </ul>

</nav>