{% if include.image_src %}
    {% assign src = include.image_src %}
{% else %}
    {% assign src = 'https://via.placeholder.com/1200x400' %}
{% endif %}

{% if include.content %}
    {% assign content = include.content %}
{% else %}
    {% assign content = 'Lorem Ipsum Dolor Sit Amet' %}
{% endif %}

{% if include.button_label %}
    {% assign label = include.button_label %}
{% else %}
    {% assign label = 'Button' %}
{% endif %}

{% if include.link_url %}
    {% assign url = include.link_url %}
{% else %}
    {% assign url = '/library/module/reading.html' %}
{% endif %}

{% if include.link_text %}
    {% assign link_text = include.link_text %}
{% endif %}

<a class="no-hover-focus" href="{{ site.url }}{{ url }}">

    <article class="card theme-light">

        <div class="margin-2 margin-bottom-0">
            <img class="border-radius box-shadow-1" src="{{ site.url }}{{ src }}" alt="Placeholder" />
        </div>

        <div class="card__body">
            {{ content }}
        </div>

        {% if include.link_text %}

        <div class="card__foot border-top font-size-md">

            <span class="button button--has-icon text-transform-uppercase">
                <span class="button__text">{{ link_text }}</span>
                <span class="icon icon-caret-right"></span>
            </span>
        
        </div>
        
        {% endif %}

    </article>
</a>