{% assign content = include.content | default: '<p>Hello World</p>' %}
{% assign highlight_lines = include.highlightLines | default: '' %}

<div class="example margin-y-5 border-radius box-shadow-1">

    {% if include.visualExample != 'false' %}
        <div class="example__visual">
            <div class="narrow margin-x-auto padding-y-5">
                {{ content }}
            </div>
        </div>
    {% endif %}

    <figure class="example__code">
        <pre data-line="{{ highlight_lines }}">
            <code class="language-html">
                {{ content | escape }}
            </code>
        </pre>
    </figure>

</div>