{% assign items = site.data.librarySample %}
        
{% for item in items %}

    {% assign header = item.Discipline %}                         
    {% assign description = item.Description %}                         
    {% assign slug = item.Slug %}                         
    {% assign subcategories = item.Subcategories %}

<div
    class="modal modal--scroll-all padding-y-4"
    id="modal-discipline-{{ slug }}"
	role="dialog"
	data-modal-close-outside="true">

    <div
        class="modal__content medium theme-primary {{ slug }} border-radius box-shadow-3"
        aria-labelledby="modal-example-01-title">

        <header class="position-relative">

			<div class="backdrop backdrop--fixed">

				<div class="backdrop__image gradient-veneer-bottom">
					<picture class="opacity-30 width-100">
						<source srcset="{{ site.url }}/images/discipline-{{ slug }}-1x3.jpg" media="(min-width: 760px)">
						<img src="{{ site.url }}/images/discipline-{{ slug }}-3x2.jpg" alt="Placeholder">
					</picture>
				</div>

				<div class="backdrop__cover align-content-start">

					<header class="modal__content__head border-bottom">
						<h1 class="text-transform-uppercase font-size-lg text-shadow grid__colspan-4--lg">
							{{ header }}
						</h1>
						<button class="button button--icon-only" data-modal-close>
							<span class="icon icon-close"></span>
						</button>
					</header>

					<div class="container grid grid--column-8--lg gap-4 margin-y-6 text-shadow">

						<div class="grid__colspan-5--lg">
							<p>
								{{ description }}
							</p>
						</div>

						<div class="grid__colspan-3--lg">
							<h6>Misconception:</h6>
							<p>
								Sudden environmental change is required for evolution to
								occur.
							</p>
						</div>

					</div>
				</div>
			</div>
		</header>

        <main class="modal__content__body border-top" id="modal-example-01-content">

            <div class="container overflow-hidden">
                      
					{% for category in subcategories %}

						{% assign title = category.Title %}          
						{% assign modules = category.Modules %}          

						<div class="category margin-y-4">
												
							<h2 class="h6">{{ title }}</h2>

							<ul class="list-divider font-size-md">
										
								{% for module in modules %}              
									{% assign name = module.Name %}  

									<li class="text-color-link">
										<span class="list-divider__cell">
											<a href="{{ site.url }}/library/module/reading.html">
												{{ name }}
											</a>
										</span>
										<span class="list-divider__cell display-none">
											<div class="button-group">    
												<button class="button button--icon-only">
													<span class="icon icon-plus" aria-hidden="true"></span>
												</button>
											</div>
										</span>
									</li>

								{% endfor %}

							</ul>

						</div>

					{% endfor %}

				</div>

        </main>
		
    </div>

</div>

{% endfor %}