{% if include.content %}
    {% assign content = include.content %}
{% else %}
    {% assign content = '<p>Hello World</p>' %}
{% endif %}

<div class="margin-y-5">

    <div>

        <div class="margin-bottom-5">
            {{ include.content }}
        </div>

        <div class="example-code margin-x-n5 border-radius box-shadow-1">
            <pre>
                <code class="language-html">
                    {{ include.content | replace: '<', '&lt;' | replace: '>', '&gt;'  }}
                </code>
            </pre>
        </div>

    </div>

</div>