{% include discipline-modals.html %}

<footer class="box-shadow-1 font-size-md" id="global-footer">

	<h2 class="screen-reader-only">Page Footer</h2>

	<div class="container wide padding-y-2">

		<div class="grid grid--column-2--md  grid--column-4--lg gap-4 grid--divider--fill-x">
		
			<nav>

				<ul class="nav font-weight-bold">
					<li>
						<a href="#1">Library</a>
					</li>
					<li>
						<a href="#1">Glossary</a>
					</li>
					<li>
						<a href="#1">Classroom</a>
					</li>
				</ul>

			</nav>
		
			<nav>

				<ul class="nav">
					<li>
					<a href="#1">About Us</a>	
					</li>
					<li>
						<a href="#1">Contact</a>
					</li>
					<li>
						<a href="#1">FAQs</a>
					</li>
				</ul>

			</nav>

			<div class="support">

				<ul class="nav nav--horizontal margin-bottom-2">
					<li>
						<a href="#1">
							<img src="{{ site.url }}/images/sponsor-nsf.svg" width="60" height="60" alt="">
						</a>
					</li>
					<li>
						<a href="#1">
							<img src="{{ site.url }}/images/sponsor-ed.png" width="60" height="60" alt="">
						</a>
					</li>
				</ul>

				<p>
					Visionlearning is supported by the <a href="#">U.S. Department of Education</a> and <a href="#1">The
					National Science Foundation</a>. The views expressed here do not represent the views of our funders.
				</p>

			</div>

			<ul class="nav nav--has-icons" role="menu">
				<li>
					<a href="#1">
						<span class="icon icon-facebook"></span>
						<span class="nav__text">Facebook</span>
					</a>
				</li>
				<li>
					<a href="#1">
						<span class="icon icon-twitter"></span>
						<span class="nav__text">Twitter</span>
					</a>
				</li>
				<li>
					<a href="#1">
						<span class="icon icon-youtube"></span>
						<span class="nav__text">YouTube</span>
					</a>
				</li>
			</ul>

		</div>

	</div>
	
	<hr />

	<div class="container wide">
		<div class="copyright padding-y-2">
			<ul class="nav nav--horizontal font-size-sm">
				<li>© 2000-2021 Visionlearning, Inc.</li>
				<li>
					<a href="/en/terms#privacy">Privacy Policy</a>
				</li>
				<li>
					<a href="/terms">Terms of Service</a>
				</li>
			</ul>
		</div>
	</div>

</footer>

<script src="{{ site.url }}/dist/js/visionlearning.js"></script>