<head>
    <!-- I.E. Compatibility Mode -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <base href="{{ site.url }}">

    <title>{{ page.title }} • {{ site.title }}</title>

    <!-- Icons -->
    <link rel="stylesheet" href="https://i.icomoon.io/public/395bc97f45/Natura11yIcons/style.css">
    <link rel="stylesheet" href="https://i.icomoon.io/public/395bc97f45/VisionlearningIcons/style.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Schoolbell&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ site.url }}dist/css/visionlearning.css">
    
</head>