<article class="landing__aside border-left--lg padding-3 font-size-sm">

<div class="text-align-center">

	<h2 class="screen-reader-only">
		You are not signed in.
	</h2>

	<p>
        Want an ad-free experience?
    </p>

	<a class="button button--has-icon theme-primary margin-bottom-3" href="#1">
		<span class="button__text">Sign In</span>
		<span class="icon icon-arrow-right"></span>
	</a>

	<p>
		Or <a href="#1">Register for Free</a>.
	</p>

</div>

<hr class="opacity-50 margin-y-2" />

<a href="#1">

	<div class="display-flex align-items-center">
		<div class="flex-grow-1">
			<h2 class="font-size-md">
				The Process of Science Revised Edition
			</h2>

			<p>
				Paperback by Anthony Carpi and Anne Egger
			</p>
			<p>
				$15.99 - <strong class="text-color-link">Buy Now</strong>
			</p>
		</div>
		<img class="margin-left-3" width="60" src="/images/process-of-science-book.png" alt="">
	</div>

</a>

</article>
