<div class="grid grid--column-2 gap-1 display-none--lg">

    <button
        class="button button--has-icon theme-dark text-color-linxk"
        data-toggle="collapse"
        data-target-toggle="#material-nav"
        data-target-close="#material-search">
            <span class="icon icon-menu"></span>
            <span class="button__text">Browse</span>
    </button>

    <button
        class="button button--has-icon theme-dark text-color-linxk"
        data-toggle="collapse"
        data-target-toggle="#material-search"
        data-target-close="#material-nav">
            <span class="icon icon-search"></span>
            <span class="button__text">Search</span>
    </button>
    
</div>