{% if include.search_type %}
    {% assign placeholder_text = include.search_type %}
{% else %}
    {% assign placeholder_text = '' %}
{% endif %}

<div class="form-entry margin-bottom-2">

    <div class="form-entry__field">

        <label class="form-entry__field__label screen-reader-only" for="search-example">
            Search
        </label>
        
        <span class="form-entry__field__input">
            <span class="opacity-50 icon icon-search" aria-hidden="true"></span>
            <input
                type="text"
                name="search-example"
                id="search-example"
                placeholder="Search {{placeholder_text }}"
            />
        </span>

    </div>

</div>
<!-- .form-entry -->