<nav class="container narrow font-size-md">

	<ul class="tabs-nav tabs-nav--horizontal library">
		<li>
			<a
                href="{{ site.url }}/library/module/reading.html"
                {% if page.url contains '/reading.html' %}
                aria-current="page" 
                {% endif %}>
				    Reading
			</a>
		</li>
		<li>
			<a
                href="{{ site.url }}/library/module/quiz.html"
                {% if page.url contains '/quiz.html' %}
                aria-current="page" 
                {% endif %}>
				Quiz
			</a>
		</li>
		<li>
			<a
                href="{{ site.url }}/library/module/teach.html"
                {% if page.url contains '/teach.html' %}
                aria-current="page" 
                {% endif %}>
				Teach with this
			</a>
		</li>
	</ul>

</nav>
