{% if include.image_src %}
    {% assign src = include.image_src %}
{% else %}
    {% assign src = 'https://via.placeholder.com/1200x400' %}
{% endif %}

{% if include.content %}
    {% assign content = include.content %}
{% else %}
    {% assign content = 'Lorem Ipsum Dolor Sit Amet' %}
{% endif %}

{% if include.link_url %}
    {% assign url = include.link_url %}
{% else %}
    {% assign url = '/library/module/reading.html' %}
{% endif %}

<a class="no-hover-focus height-100" href="{{ site.url }}{{ url }}">

    <article class="flex-column padding-2 theme-light">

        <div class="margin-bottom-2">
            <img class="border-radius box-shadow-1" src="{{ site.url }}{{ src }}" alt="Placeholder" />
        </div>
        
        {{ content }}

    </article>
    
</a>