<header class="module__head padding-y-4">

    <div class="container medium text-align-center">

        <span class="font-size-sm">
            <strong>
                <em>Plate Tectonics</em>
            </strong>
        </span>

        <h1>
            Earth structure:
            <sub>
                <em>
                    A Virtual Journey to the Center of Earth
                </em>
            </sub>
        </h1>

        <p class="font-size-sm">
            by Anne E. Egger, Ph.D.
        </p>
        
    </div>

</header>