<a
    class="no-hover-focus padding-2 font-size-sm text-align-center"
    href="http://www.lulu.com/us/en/shop/anthony-carpi-anne-egger/the-process-of-science-revised-edition/paperback/product-16507360.html?codekitCB=406218852.341107"
    target="blank">
        <img
            class="margin-bottom-1"
            src="{{ site.url }}/images/process-of-science-book.png"
            width="90"
            alt="The Process of science book"
        />
        <p class="margin-bottom-0">
            <strong>
                The Process of Science
                <em class="display-block">Revised Edition</em>
            </strong>
        </p>
        <p>Get the paperback by Anthony Carpi and Anne Egger</p>
        <p>$15.99 - <strong>Buy Now</strong></p>
</a>