<div class="form-entry">
    <div class="form-entry__field">
        <span class="form-entry__field__input">
            {% if page.title != 'Site Search' %}
                <input
                    type="text"
                    name="searchInput"
                    id="search-input"
                    autocomplete="off"
                />
            {% else %}
                <input
                    type="text"
                    name="searchInput"
                    id="search-input"
                    value="cells"
                />
            {% endif %}
            <button
                class="form-entry__field__input__clear"
                id="search-clear"
                aria-hidden="true"
            >
                <span class="icon icon-close" aria-hidden="true"></span>
            </button>
            <button class="button theme-dark" data-clear-input>
                Search
            </button>
        </span>
    </div>
</div>