
//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use "../breakpoint/style" as breakpoint;
@use "../border/style" as border;
@use "../color/style" as color;
@use "../collapse/style" as collapse;

//////////////////////////////////////////////
// B. VL Hat
//////////////////////////////////////////////

.vl-hat {
    display: grid;

    grid-template-columns: 1fr auto;

    grid-template-areas: 
        "toggle actions"
        "menu menu";
}

.vl-hat__toggle-button {
    grid-area: toggle;
    padding: var(--spacer-1);
}

.vl-hat__menu {
    grid-area: menu;
    font-size: var(--font-size-md);

    padding: var(--spacer-1) var(--spacer-2);

    @extend .collapse;
}

.vl-hat__actions {
    grid-area: actions;
    padding: var(--spacer-1);
}

@include breakpoint.breakpoints-down(lg) {

    .vl-hat__menu {
        padding-top: var(--spacer-2);
        padding-bottom: var(--spacer-2);
    }

}

@include breakpoint.breakpoints-up(lg) {
    
    .vl-hat__toggle-button {
        display: none;
    }
    
    .vl-hat__menu,
    .vl-hat__menu.shown  {
        display: flex !important;
    }

    .vl-hat {
        grid-template-areas: 
            "menu actions";
    }
}

//////////////////////////////////////////////
// C. VL Header
//////////////////////////////////////////////

.vl-header {
    position: relative;
    z-index: 1000;
}

.vl-header__logo {
    padding: var(--spacer-2);
}

.vl-header__menu {

    :is(ul, li, a) {
        display: flex;
        height: 100%;
    }

    ul {
        list-style: none;
        line-height: normal;
    }

    li {
        width: calc(100% / 3);
    }

    a {
        position: relative;
        flex-direction: column;
        justify-content: center;
        
        padding: var(--spacer-2);

        width: 100%;

        &::before {
            content: "";
            position: absolute;
            top: unset;
            right: 0;
            bottom: 0;
            left: 0;
            height: calc(var(--default-border-width) * 2);
            // z-index: auto;
        }

        &[aria-current]::before {
            top: 0;
            height: unset;
            background-image: linear-gradient(hsla(0, 0%, 100%, 0.375), hsla(0, 0%, 100%, 0.125));
            opacity: 1;
        }
    }

    a > span{
        z-index: 5;
    }

    span {
        display: block;
    } 

    span.title {
        font-weight: var(--body-font-weight-bold);
    }

    span.tagline {
        font-size: var(--font-size-sm);
        opacity: 0.75;
    }

    li {
        --current-color: null;
        a:not([aria-current])::before, 
        a[aria-current] {
            background-color: var(--current-color);
        }
    }

    li.library {
        --current-color: var(--library);
    }

    li.glossary {
        --current-color: var(--glossary);
    }

    li.classroom {
        --current-color: var(--classroom);
    }

}

#es-translate {

    span {
        position: relative;
        z-index: 5;
    }
    
    &::before {
        background-image: linear-gradient(#d2593f,#bf3823);
        opacity: 1;
        z-index: 1;
    }

    &::after {
        z-index: 10;
    }
    
}

@include breakpoint.breakpoints-down(lg) {

    .vl-header__logo,
    .vl-header__menu {
        text-align: center;
    }

    .vl-header__logo {
        border-bottom-width: var(--default-border-width);
        border-bottom-style: var(--default-border-style);
        border-bottom-color: inherit;
    }

   span.tagline {
       display: none;
    }
}

@include breakpoint.breakpoints-up(lg) {
    .vl-header {
        display: flex;
        align-items: stretch;
    }

    .vl-header__logo,
    .vl-header__menu {
        flex: 1 1 50%;
    }

    span.title {
        font-size: var(--font-size-lg);
    }
}

//////////////////////////////////////////////
// C. VL Header
//////////////////////////////////////////////

#breadcrumb {
    background-color: yellow;

    .nav__dropdown{
        --gap-size: 0.25em;
    
        background-color: red;
    }

    .accordion {
        --accordion-panel-padding-y: var(--spacer-1);
    }

}