
//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use "../accents/style" as accents;
@use "../breakpoints/style" as breakpoints;
@use "../borders/style" as borders;
@use "../color/style" as color;
@use "../collapse/style" as collapse;
@use "../navigation/style" as navigation;
@use "../icons/style" as icons;

//////////////////////////////////////////////
// B. VL Hat
//////////////////////////////////////////////

.vl-hat {
    display: grid;

    grid-template-columns: 1fr auto;

    grid-template-areas: 
        "toggle actions"
        "menu menu";
}

.vl-hat__toggle-button {
    grid-area: toggle;
    padding: var(--spacer-1);
}

.vl-hat__menu {
    grid-area: menu;
    font-size: var(--font-size-md);

    padding: var(--spacer-1) var(--spacer-2);

    @extend .collapse;
}

.vl-hat__actions {
    grid-area: actions;
    padding: var(--spacer-1);
}

@include breakpoints.breakpoints-down(lg) {

    .vl-hat__menu {
        padding-top: var(--spacer-2);
        padding-bottom: var(--spacer-2);
    }

}

@include breakpoints.breakpoints-up(lg) {
    
    .vl-hat__toggle-button {
        display: none;
    }
    
    .vl-hat__menu,
    .vl-hat__menu.shown  {
        display: flex !important;
    }

    .vl-hat {
        grid-template-areas: 
            "menu actions";
    }
}

//////////////////////////////////////////////
// C. VL Header
//////////////////////////////////////////////

.vl-header {
    position: relative;
    z-index: 1000;
}

.vl-header__logo {
    padding: var(--spacer-2);
}

.vl-header__menu {

    :is(ul, li, a) {
        display: flex;
        height: 100%;
    }

    ul {
        list-style: none;
        line-height: normal;
    }

    li {
        width: calc(100% / 3);
    }

    a {
        position: relative;
        flex-direction: column;
        justify-content: center;
        
        padding: var(--spacer-2);

        width: 100%;

        &::before {
            content: "";
            
            position: absolute;
            top: unset;
            right: 0;
            bottom: 0;
            left: 0;

            height: calc(var(--default-border-width) * 2);
        }

        &[aria-current]::before {
            top: 0;
            height: unset;
            background-image: linear-gradient(hsla(0, 0%, 100%, 0.375), hsla(0, 0%, 100%, 0.125));
            opacity: 1;
        }
    }

    a > span{
        z-index: 5;
    }

    span {
        display: block;
    } 

    span.title {
        font-weight: var(--body-font-weight-bold);
    }

    span.tagline {
        font-size: var(--font-size-sm);
        opacity: 0.75;
    }

    li {
        --current-color: null;
        a:not([aria-current])::before, 
        a[aria-current] {
            background-color: var(--current-color);
        }
    }

    li.library {
        --current-color: var(--library);
    }

    li.glossary {
        --current-color: var(--glossary);
    }

    li.classroom {
        --current-color: var(--classroom);
    }

}

#es-translate {

    span {
        position: relative;
        z-index: 5;
    }
    
    &::before {
        background-image: linear-gradient(#d2593f,#bf3823);
        opacity: 1;
        z-index: 1;
    }

    &::after {
        z-index: 10;
    }
    
}

@include breakpoints.breakpoints-down(lg) {

    .vl-header__logo,
    .vl-header__menu {
        text-align: center;
    }

    .vl-header__logo {
        border-bottom-width: var(--default-border-width);
        border-bottom-style: var(--default-border-style);
        border-bottom-color: inherit;
    }

   span.tagline {
       display: none;
    }
}

@include breakpoints.breakpoints-up(lg) {
    .vl-header {
        display: flex;
        align-items: stretch;
    }

    .vl-header__logo,
    .vl-header__menu {
        flex: 1 1 50%;
    }

    span.title {
        font-size: var(--font-size-lg);
    }
}

//////////////////////////////////////////////
// D. Nav Module Breadcrumb
//////////////////////////////////////////////

.nav-module-breadcrumb {
    @extend %subtle-fill-psuedo;
    --subtle-fill-opacity: 0.05;

    ul {
        @extend %list-style-nav;

        li {
            position: relative;
        }

        > li > .nav__dropdown {
            position: absolute;

            min-width: 260px;
            
            background-color: white;
        }
    }

    > ul {
        display: flex;
        align-items: center;
        font-size: var(--font-size-md);
    }

    > ul > li:not(:last-child) {
        border-right-width: var(--default-border-width);
        border-right-style: var(--default-border-style);
        border-right-color: inherit;
    }

    > ul > li:first-child > a {
        --subtle-fill-opacity: 0 !important;
    }

    > ul > li > .button {
        --button-padding-x: 0.875em;
        --button-padding-y: 0.75em;
        --button-border-radius: 0;
        --button-font-weight: var(--body-font-weight-normal);

        &[aria-expanded="true"] {
            background-color: white;
        }
    }

    
    .nav__dropdown > button {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;

        padding: calc(var(--button-padding-x) * 0.625) var(--button-padding-x);

        &:not(:last-child) {
            border-bottom-width: var(--default-border-width);
            border-bottom-style: var(--default-border-style);
            border-bottom-color: inherit;
        }

        width: 100%;

        &:hover, 
        &:focus {
            text-decoration: none;
        }

        &::before {
            @extend .icon_font;

            content: "\e917";
        }
    }

    .nav__dropdown > button[aria-expanded="true"] {

        &::before {
            content: "\e916";
        }
    }

    .nav__dropdown > button + .collapse {
        padding: var(--button-padding-x);

        > ul > li {
            &:not(:last-child) {
                margin-bottom: 0.5em;
            }
        }

        > ul > li > button {
            position: relative;

            &::before {
                position: absolute;
                content: "+";
                left: 0;
                top: 0;
            }


            padding-left: 1.25rem;
        }

        > ul > li > button[aria-expanded="true"] {
            &::before {
                content: "-";
            }
        }

        > ul > li > ul {
            font-size: var(--font-size-sm);
            margin-top: 0.5em;
            margin-left: 1.25rem;
        }

        > ul > li > ul > li:not(:last-child) {
            margin-bottom: 0.5em;
        } 

        > ul > li > ul > li > a {
            color: var(--white-link);
        } 
    }

}