
//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use "../breakpoint/style" as breakpoint;
@use "../border/style" as border;
@use "../color/style" as color;
@use "../collapse/style" as collapse;

//////////////////////////////////////////////
// B. VL Hat
//////////////////////////////////////////////

.vl-hat {
    display: grid;
    padding: var(--spacer-1) var(--spacer-2);

    grid-template-columns: 1fr auto;

    grid-template-areas: 
        "toggle actions"
        "menu menu";
}

.vl-hat__toggle-button {
    grid-area: toggle;
}

.vl-hat__menu {
    grid-area: menu;
    font-size: var(--font-size-md);

    @extend .collapse;
}

.vl-hat__actions {
    grid-area: actions;
}

@include breakpoint.breakpoints-down(lg) {

    .vl-hat__menu {
        padding: var(--spacer-2);
    }

}

@include breakpoint.breakpoints-up(lg) {
    
    .vl-hat__toggle-button {
        display: none;
    }
    
    .vl-hat__menu {
        display: flex;
    }

    .vl-hat {
        grid-template-areas: 
            "menu actions";
    }
}

//////////////////////////////////////////////
// C. VL Header
//////////////////////////////////////////////

.vl-header {
    position: relative;
    z-index: 1000;
}

.vl-header__logo {
    padding: var(--spacer-2);
}

.vl-header__menu {

    :is(ul, li, a) {
        display: flex;
        height: 100%;
    }

    ul {
        list-style: none;
        line-height: normal;
    }

     li {
        position: relative;
        width: 33.3333%;

        &::before {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: calc(var(--default-border-width) * 2);
            background-color: currentColor;
        }

        &.library::before {
            background-color: var(--library);
        }

        &.glossary::before {
            background-color: var(--glossary);
        }

        &.classroom::before {
            background-color: var(--classroom);
        }
    }

    a {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: var(--spacer-2);
    }

    span {
        display: block;
    } 

    span.title {
        font-weight: var(--body-font-weight-bold);
    }

    span.tagline {
        font-size: var(--font-size-sm);
        opacity: 0.75;
    }
}

@include breakpoint.breakpoints-down(lg) {

    .vl-header__logo,
    .vl-header__menu {
        text-align: center;
    }

    .vl-header__logo {
        border-bottom-width: var(--default-border-width);
        border-bottom-style: var(--default-border-style);
        border-bottom-color: inherit;
    }

   span.tagline {
       display: none;
    }
}

@include breakpoint.breakpoints-up(lg) {
    .vl-header {
        display: flex;
        align-items: stretch;
    }

    .vl-header__logo,
    .vl-header__menu {
        flex: 1 1 50%;
    }
    span.title {
        font-size: var(--font-size-lg);
    }
}

#es-translate {

    span {
        position: relative;
        z-index: 2;
    }
    
    &::before {
        opacity: 1;
        background-image: linear-gradient(#d2593f,#bf3823);
        z-index: 1;
    }

    &::after {
        z-index: 3;
    }
    
}