/*

In this file:

// A. Variables
// B. Position Utilities

*/

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

$positions: static, relative, absolute, fixed, sticky;

//////////////////////////////////////////////
// B. Position Utilities
//////////////////////////////////////////////

@each $position in $positions {
    .position-#{$position} {
        position: $position;
    }
}
.position-absolute,
.position-top-left {
    top: 0 !important;
    right: unset !important;
    bottom: unset !important;
    left: 0 !important;
}

.position-top-right {
    top: 0 !important;
    right: 0 !important;
    bottom: unset !important;
    left: unset !important;
}

.position-bottom-right {
    top: unset !important;
    right: 0 !important;
    bottom: 0 !important;
    left: unset !important;
}

.position-bottom-left {
    top: unset !important;
    right: unset !important;
    bottom: 0 !important;
    left: 0 !important;
}

@supports (position: sticky) {
    
    .sticky-top {
        position: sticky;
        top: -1px;
    }

}