/*

In this file:

// A. Modules
// B. Quiz Selectors

*/

//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use "sass:map";
@use "../icon/theme" as icon;
@use "../alert/style" as alert;
@use "../color/style" as color;

//////////////////////////////////////////////
// B. Quiz Selectors
//////////////////////////////////////////////

.quiz {
    overflow: hidden;
    
    button[type="submit"]{
        background-color: var(--white-link);
        color: white !important;
    }
}

.quiz__questions {
    // list-style: none;
    counter-reset: section; 
    background-color: yell;
}

.quiz__questions {

    .form-entry__field__label {
        display: flex;
        padding: unset;
        padding-left: calc( var(--form-field-padding-x) + 2em);

        &::before {
            counter-increment: section;                   
            content: counter(section) ".";
            position: absolute;
            left: 0;
            padding-left: var(--form-field-padding-x);
        }
    }

    .form-entry__option__radio > label > input ~ .radio__label::before {
        @extend .vl-icon_font;
    }

    .form-entry__option__radio:nth-child(1) > label > input ~ .radio__label::before {
        content: "\e900";
    }

    .form-entry__option__radio:nth-child(2) > label > input ~ .radio__label::before {
        content: "\e901";
    }

    .form-entry__option__radio:nth-child(3) > label > input ~ .radio__label::before {
        content: "\e902";
    }

    .form-entry__option__radio:nth-child(4) > label > input ~ .radio__label::before {
        content: "\e903";
    }

    .form-entry__option__radio:nth-child(5) > label > input ~ .radio__label::before {
        content: "\e904";
    }

    .form-entry__option__radio > label > input:checked ~ .radio__label::before {
        content: "\e905";
    }

    .form-entry__option__radio > label > input:not(:checked) ~ .radio__label::before {
        opacity: 1;
        color: var(--white-link);
    }


}

.quiz__image {
    overflow: hidden;
    border-radius: var(--form-field-border-radius);
    margin-bottom: var(--spacer-2);
    // display: none;
}

.quiz__response {
    display: none;
    margin-top: var(--form-field-padding-y);
    padding-left: calc(1.25em + var(--form-field-padding-x));
    
    font-style: italic;
    font-size: 90%;

    // display: block;

    color: var(--white-warn);

    [data-answer="correct"] & {
        color: var(--white-confirm);
    }

}

.quiz__score {
    position: relative;
    padding: var(--spacer-2);

    p {
        margin-bottom: 0.25em;
    }

    &::before {
        position: absolute;
        content: "";

        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        border-radius: inherit;
        pointer-events: none;

        background-color: currentColor;
        opacity: 0.1;    
    }

    &.passed {
        color: var(--white-confirm);
    }

    display: none;
}

.quiz__score__header {
    font-size: var(--font-size-md);

        border-bottom-width: var(--default-border-width);
        border-bottom-style: var(--default-border-style);
        border-bottom-color: inherit;
}

.quiz__score__header {
    font-size: var(--font-size-md);

        border-bottom-width: var(--default-border-width);
        border-bottom-style: var(--default-border-style);
        border-bottom-color: inherit;
}