---
layout: landing
title: Glossary • A-Z
---

<div id="module-list-view">
            
    <section>

        <header>
            <h2 class="screen-reader-only">Alphabetical</h2>
        </header>

        <nav class="theme-glossary padding-2">

            <div class="container narrow terms-alphabetical">                                
                <button aria-current="page">
                <span>A</span>
                </button>
                <button>B</button>
                <button>C</button>
                <button>D</button>
                <button>E</button>
                <button>F</button>
                <button>G</button>
                <button>H</button>
                <button>I</button>
                <button>J</button>
                <button>K</button>
                <button>L</button>
                <button>M</button>
                <button>N</button>
                <button>O</button>
                <button>P</button>
                <button>Q</button>
                <button>R</button>
                <button>S</button>
                <button>T</button>
                <button>U</button>
                <button>V</button>
                <button>W</button>
                <button>X</button>
                <button>Y</button>
                <button>Z</button>
            </div>
                
        </nav>

        <div class="margin-y-2 font-size-md">
            <ul class="list-divider">
                {% for item in site.data.glossarySample %}
                    {% assign term = item.Name %}
                    {% assign pronounciation = item.Pronounciation %}
                    <li>
                        <span class="list-divider__cell">
                            <a class="text-color-link" href="{{ site.url }}/glossary/term.html">
                            {{ term }} 
                            </a>
                        </span>
                        <span class="list-divider__cell">
                        {% if pronounciation != null %}
                        <div class="button-group text-color-link">
                            <button
                                class="button button--icon-only">
                                <span class="icon icon-pronounciation" aria-hidden="true"></span>
                            </button>                                                
                        </div>
                        {% endif %}
                        </span>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </section>

</div>