---
layout: global
title: "Glossary"
---

<div class="theme-light full-height overflow-hidden padding-y-4">

    <div class="landing wide">

        <div class="landing__main theme-white">
        
            <div class="materials">

                <div class="materials__aside font-size-md padding-2 border-right--lg">

                    {% include materials-search.html search_type="Glossary" %}

                    <ul
                        class="tabs-nav glossary border border-radius"
                        id="filter-by-discipline"
                        role="menu">

                        <li>
                            <button
                                id="filter-all-disciplines"
                                aria-selected="true"
                                role="tab">
                                    A-Z
                            </button>
                        </li>
                        <li>
                            <button
                                id="filter-biology"
                                aria-selected="false"
                                role="tab">
                                    Biology
                            </button>
                        </li>
                        <li>
                            <button
                                id="filter-chemistry"
                                aria-selected="false"
                                role="tab">
                                    Chemistry
                            </button>
                        </li>
                        <li>
                            <button
                                id="filter-earth-science"
                                aria-selected="false"
                                role="tab">
                                    Earth Science
                            </button>
                        </li>
                        <li>
                            <button
                                id="filter-general-science"
                                aria-selected="false"
                                role="tab">
                                    General Science
                            </button>
                        </li>
                        <li>
                            <button
                                id="filter-inside-science"
                                aria-selected="false"
                                role="tab">
                                    Inside Science
                            </button>
                        </li>
                        <li>
                            <button
                                id="filter-math-in-science"
                                aria-selected="false"
                                role="tab">
                                    Math in Science
                            </button>
                        </li>
                        <li>
                            <button
                                id="filter-physics"
                                aria-selected="false"
                                role="tab">
                                    Physics
                            </button>
                        </li>
                        <li>
                            <button
                                id="filter-process-of-science"
                                aria-selected="false"
                                role="tab">
                                    Process  of Science
                            </button>
                        </li>
                    </ul>

                </div>

                <div class="materials__main">

                    <div class="padding-2 position-relative">

                        <div id="module-list-view">
                            
                            <section>

                                <header>
                                    <h2 class="screen-reader-only">Alphabetical</h2>
                                </header>

                                <div class="subtle-fill text-color-glossary padding-2 border-radius">

                                    <nav class="terms-alphabetical">                                
                                        <button aria-current="page">A</button>
                                        <button>B</button>
                                        <button>C</button>
                                        <button>D</button>
                                        <button>E</button>
                                        <button>F</button>
                                        <button>G</button>
                                        <button>H</button>
                                        <button>I</button>
                                        <button>J</button>
                                        <button>K</button>
                                        <button>L</button>
                                        <button>M</button>
                                        <button>N</button>
                                        <button>O</button>
                                        <button>P</button>
                                        <button>Q</button>
                                        <button>R</button>
                                        <button>S</button>
                                        <button>T</button>
                                        <button>U</button>
                                        <button>V</button>
                                        <button>W</button>
                                        <button>X</button>
                                        <button>Y</button>
                                        <button>Z</button>
                                            
                                    </nav>
                                
                                </div>

                                <div class="margin-y-2 font-size-md">
                                    <ul class="list-divider">
                                        {% for item in site.data.glossarySample %}
                                            {% assign term = item.Name %}
                                            {% assign pronounciation = item.Pronounciation %}
                                            <li>
                                                <span class="list-divider__cell">
                                                    <a class="text-color-link" href="/glossary/term.html">
                                                    {{ term }} 
                                                    </a>
                                                </span>
                                                <span class="list-divider__cell">
                                                {% if pronounciation != null %}
                                                <div class="button-group text-color-link">
                                                    <button
                                                        class="button button--icon-only">
                                                        <span class="icon icon-pronounciation" aria-hidden="true"></span>
                                                    </button>                                                
                                                </div>
                                                {% endif %}
                                                </span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>

                            </section>

                        </div>
                    
                    </div>

                </div>
            
            </div>

        </div>
        
        <div class="landing__aside">

        </div>

    </div>
    <!-- .landing -->

</div>