
//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use "../../modules/accents/style" as accents;
@use "../../modules/breakpoints/style" as breakpoints;
@use "../../modules/borders/style" as borders;
@use "../../modules/color/style" as color;
@use "../../modules/collapse/style" as collapse;
@use "../../modules/navigation/style" as navigation;
@use "../../modules/icons/style" as icons;
@use "../../modules/caret/style" as caret;

//////////////////////////////////////////////
// B. VL Hat
//////////////////////////////////////////////

.vl-hat {
    display: grid;

    grid-template-columns: 1fr auto;

    grid-template-areas: 
        "toggle actions"
        "menu menu";
}

.vl-hat__toggle-button {
    grid-area: toggle;
    padding: var(--spacer-1);
}

.vl-hat__menu {
    grid-area: menu;
    font-size: var(--font-size-md);

    padding: var(--spacer-1) var(--spacer-2);

    @extend .collapse;
}

.vl-hat__actions {
    grid-area: actions;
    padding: var(--spacer-1);
}

@include breakpoints.breakpoints-down(lg) {

    .vl-hat__menu {
        padding-top: var(--spacer-2);
        padding-bottom: var(--spacer-2);
    }

}

@include breakpoints.breakpoints-up(lg) {
    
    .vl-hat__toggle-button {
        display: none;
    }
    
    .vl-hat__menu,
    .vl-hat__menu.shown  {
        display: flex !important;
    }

    .vl-hat {
        grid-template-areas: 
            "menu actions";
    }
}

//////////////////////////////////////////////
// C. VL Header
//////////////////////////////////////////////

.vl-header {
    position: relative;
    z-index: 1000;
}

.vl-header__logo {
    padding: var(--spacer-2);
}

.vl-header__menu {

    :is(ul, li, a) {
        display: flex;
        height: 100%;
    }

    ul {
        list-style: none;
        line-height: normal;
    }

    li {
        width: calc(100% / 3);
    }

    a {
        position: relative;
        flex-direction: column;
        justify-content: center;
        
        padding: var(--spacer-2);

        width: 100%;

        &::before {
            content: "";
            
            position: absolute;
            top: unset;
            right: 0;
            bottom: 0;
            left: 0;

            height: calc(var(--default-border-width) * 2);
        }

        &[aria-current]::before {
            top: 0;
            height: unset;
            background-image: linear-gradient(hsla(0, 0%, 100%, 0.375), hsla(0, 0%, 100%, 0.125));
            opacity: 1;
        }
    }

    a > span{
        z-index: 5;
    }

    span {
        display: block;
    } 

    span.title {
        font-weight: var(--body-font-weight-bold);
    }

    span.tagline {
        font-size: var(--font-size-sm);
        opacity: 0.75;
    }

    li {
        --current-color: null;
        a:not([aria-current])::before, 
        a[aria-current] {
            background-color: var(--current-color);
        }
    }

    li.library {
        --current-color: var(--library);
    }

    li.glossary {
        --current-color: var(--glossary);
    }

    li.classroom {
        --current-color: var(--classroom);
    }

}

#es-translate {

    span {
        position: relative;
        z-index: 5;
    }
    
    &::before {
        background-image: linear-gradient(#d2593f,#bf3823);
        opacity: 1;
        z-index: 1;
    }

    &::after {
        z-index: 10;
    }
    
}

@include breakpoints.breakpoints-down(lg) {

    .vl-header__logo,
    .vl-header__menu {
        text-align: center;
    }

    .vl-header__logo {
        border-bottom-width: var(--default-border-width);
        border-bottom-style: var(--default-border-style);
        border-bottom-color: inherit;
    }

   span.tagline {
       display: none;
    }
}

@include breakpoints.breakpoints-up(lg) {
    .vl-header {
        display: flex;
        align-items: stretch;
    }

    .vl-header__logo,
    .vl-header__menu {
        flex: 1 1 50%;
    }

    span.title {
        font-size: var(--font-size-lg);
    }
}

//////////////////////////////////////////////
// D. Nav Module Breadcrumb
//////////////////////////////////////////////

.module-breadcrumb {

    ul {
        @extend %list-style-nav;

        li {
            position: relative;
        }

        > li > .nav__dropdown {
            position: absolute;

            min-width: 280px;
            
            background-color: white;
        }
    }

    > ul {
        display: flex;
        align-items: center;
        font-size: var(--font-size-md);
    }

    > ul > li:not(:last-child) {
        border-right-width: var(--default-border-width);
        border-right-style: var(--default-border-style);
        border-right-color: inherit;
    }

    > ul > li:first-child > a {
        --subtle-fill-opacity: 0 !important;
    }

    > ul > li > .button {
        --button-padding-x: 0.875em;
        --button-padding-y: 0.75em;
        --button-border-radius: 0;
        --button-font-weight: var(--body-font-weight-normal);

        line-height: normal;

        &[aria-expanded="true"] {
            background-color: white;
        }
    }

    .nav__dropdown button {
        &:hover, 
        &:focus {
            text-decoration: none;
        }
    }

    .nav__dropdown > button {

        padding: calc(var(--button-padding-x) * 0.625) var(--button-padding-x);

        width: 100%;

        &:not(:last-child) {
            border-bottom-width: var(--default-border-width);
            border-bottom-style: var(--default-border-style);
            border-bottom-color: inherit;
        }

        &:not([class*="current"]) {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between; 

            &::before {
                @extend .icon_font;

                content: "\e917";
            }
        }

        &[aria-expanded="true"] {

            &::before {
                content: "\e916";
            }
        }

        &.current {
            font-weight: var(--body-font-weight-bold);
            font-style: italic;
            cursor: default;
            text-align: left;
        }
    }

    .nav__dropdown > button + .collapse {
        padding: var(--button-padding-x);

    }

    .nav__dropdown > ul.module-breadcrumb__subcats {
        padding: var(--button-padding-x);
    }

    ul.module-breadcrumb__subcats {
        --subcat-indent: 1.5rem;

        font-size: var(--font-size-sm);

        > li:not(:last-child) {
            margin-bottom: 0.5em;
        }
    }

    ul.module-breadcrumb__subcats > li > button {
        position: relative;

        display: flex;
        align-items: center;

        &::before {
            display: block;

            @extend .icon_font;

            content: "\e91d";

            width: var(--subcat-indent);
        }
    }

    ul.module-breadcrumb__subcats > li > button[aria-expanded="true"] {
        &::before {
            content: "\e91e";
        }
    }

    ul.module-breadcrumb__subcats > li > ul {
        margin-top: 0.5em;
        margin-left: var(--subcat-indent);
    }

    ul.module-breadcrumb__subcats > li > ul > li:not(:last-child) {
        margin-bottom: 0.5em;
    } 

    ul.module-breadcrumb__subcats > li > ul > li > a {
        color: var(--white-link);
    }
}

//////////////////////////////////////////////
// E. All Modules
//////////////////////////////////////////////

.discipline-divider {
    padding: var(--spacer-3) var(--spacer-2);
    
    overflow: hidden;
    border-radius: var(--border-radius);

    h2.h3 {
        margin-bottom: unset;
        line-height: unset;
    }

}

.discipline-divider {
    background-position: center right;
    background-size: contain;
    background-repeat: no-repeat;

    &.biology {
        background-image: url(~/images/discipline-biology.jpg);
    }

    &.chemistry {
        background-image: url(~/images/discipline-chemistry.jpg);
    }

    &.earth-science {
        background-image: url(~/images/discipline-earth-science.jpg);
    }

    &.general-science {
        background-image: url(~/images/discipline-general-science.jpg);
    }

    &.inside-science {
        background-image: url(~/images/discipline-inside-science.jpg);
    }

    &.math-in-science {
        background-image: url(~/images/discipline-math-in-science.jpg);
    }

    &.physics {
        background-image: url(~/images/discipline-physics.jpg);
    }

    &.process-of-science {
        background-image: url(~/images/discipline-process-of-science.jpg);
    }
}

.terms-alphabetical {
    font-size: var(--font-size-sm);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    > button {
        border-radius: var(--button-border-radius);
        padding: var(--button-padding-y) var(--button-padding-x);
        // margin: 0.125em;
    }

    > button[aria-current] {
        font-weight: bold;
        text-decoration: underline;
        background-color: white;
        color:var(--glossary);box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    }
}


.tabs-nav {
    
    > li > button::before {
        background-color: var(--dark);
    }

    &.library > li > *::before {
        background-color: var(--library);
    }

    &.glossary > li > *::before {
        background-color: var(--glossary);
    }

    &.classroom > li > *::before {
        background-color: var(--classroom);
    }
}

.tabs-nav > li > *:not([aria-selected="true"]):not([aria-current]) {
    color: var(--white-link);
}

[data-logo="brand"] {
    > svg{
        fill: currentColor;
    }
}
