---
layout: global
title: "About"
---

{% include global-header.html %}

<div class="container wide">

    <h1 class="screen-reader-only">
        About Visionlearning
    </h1>

    {% include about-menu.html %}

    <div class="grid grid--about">

        <header class="summary padding-y-4">

            <h2 class="font-weight-normal">
                We provide high-quality, accessible learning material in science, technology, engineering, and math.
            </h2>

        </header>

        <div class="help"></div>

        <main class="main">

            <section>
            
                <div class="grid grid--column-2--lg gap-2">
                
                    <div class="card theme-canvas">

                        <img class="margin-2 border-radius" src="/images/at-a-glance-process-of-science.jpg" alt="">

                        <div class="card__body">
                            <h2 class="h6">
                                Learn the process of science
                            </h2>
                            <p>
                                We go beyond facts and dates to examine how we've come to understand the concepts, the people who have contributed to our understanding, and the ongoing research that builds our scientific knowledge.
                            </p>
                        </div>

                        <div class="card__foot">
                            <a class="button button--has-icon font-size-md text-color-link" href="#1">
                                <span class="button__text">Explore Our Library</span>
                                <span class="icon icon-caret-right"></span>
					        </a>   
                        </div>

                    </div>
                
                    <div class="card theme-canvas">

                        <img class="margin-2 border-radius" src="/images/at-a-glance-process-ngss.jpg" alt="">

                        <div class="card__body">
                            <h2 class="h6">
                                Next Generation Science Standards
                            </h2>
                            <p>
                                Our exclusive content integrates science and engineering practices with disciplinary core ideas and cross-cutting concepts in alignment with the Next Generation Science Standards.
                            </p>
                        </div>

                        <div class="card__foot">
                            <a class="button button--has-icon font-size-md text-color-link" href="#1">
                                <span class="button__text">About NGSS</span>
                                <span class="icon icon-caret-right"></span>
                            </a> 
                        </div>

                    </div>
                
                    <div class="card theme-canvas">

                        <img class="margin-2 border-radius" src="/images/at-a-glance-process-comprehension.jpg" alt="">

                        <div class="card__body">
                            <h2 class="h6">
                                Reinforce your comprehension
                            </h2>
                            <p>
                                From questions to stimulate prior knowledge in the Pre-Reader to Checkpoints strategically placed in the readings to gauge comprehension, our goal is to assist the learning process.
                            </p>
                        </div>

                        <div class="card__foot">
                            <a class="button button--has-icon font-size-md text-color-link" href="#1">
                                <span class="button__text">Our Content</span>
                                <span class="icon icon-caret-right"></span>
                            </a> 
                        </div>

                    </div>
                
                    <div class="card theme-canvas">

                        <img class="margin-2 border-radius" src="/images/at-a-glance-process-classroom.jpg" alt="">

                        <div class="card__body">
                            <h2 class="h6">
                                Create Customized Classrooms
                            </h2>
                            <p>
                                In our Classroom, instructors can select content from across the Visionlearning site to integrate the process of science into their teaching. 
                            </p>
                        </div>

                        <div class="card__foot">
                            <a class="button button--has-icon font-size-md text-color-link" href="#1">
                                <span class="button__text">Classroom</span>
                                <span class="icon icon-caret-right"></span>
                            </a> 
                        </div>

                    </div>
                
                </div>
                
            </section>

            <section class="padding-y-4">

            <p>teacher testimonials</p>
            
            </section>
        
        </main>

        <aside class="aside">

            <div class="grid gap-2">

                <div class="theme-canvas border-radius box-shadow-1 display-flex align-items-center padding-2">

                    <div class="opacity-80 margin-right-2" data-logo="brand">
                        <span class="icon icon-globe" style="font-size: 200%"></span>
                    </div>

                    <div class="text font-size-md">
                        <strong>English and Spanish</strong>
                        <p>
                            Our modules and quizzes are offered in both English and Spanish.
                        </p>
                    </div>
                
                </div>

                <div class="theme-canvas border-radius box-shadow-1 display-flex align-items-center padding-2">

                    <div class="opacity-80 margin-right-2" data-logo="brand">
                        <span class="icon icon-pronounciation" style="font-size: 200%"></span>
                    </div>

                    <div class="text font-size-md">
                        <strong>Listen to Our Content</strong>
                        <p>
                            Many of our modules and glossary terms include an audio recording. 
                        </p>
                    </div>
                
                </div>
            
                <div class="theme-canvas border-radius box-shadow-1 display-flex align-items-center padding-2">

                    <div class="opacity-80 margin-right-2" data-logo="brand">
                        <span class="icon icon-glossary-highlight" style="font-size: 200%"></span>
                    </div>

                    <div class="text font-size-md">
                        <strong>Integrated Glossary</strong>
                        <p>
                            Vitae nunc sed velit dignissim sodales ut eu sem integer vitae justo. 
                        </p>
                    </div>
                
                </div>
            
            </div>

        </aside>

    </div>

</div>