---
layout: global
title: "About"
---

{% include global-header.html %}

<div class="wide margin-x-auto">

    {% include about-menu.html %}

    <header class="header text-align-center padding-y-4">

        <h1 class="container medium font-weight-normal">
            Visionlearning is a Free, Online Learning Space for Science Educators and Students.
        </h1>

    </header>

    <hr class="divider" />

    <main class="grid grid--divider grid--column-6--lg">

        <article class="grid__colspan-4">

            <section>

                <h2 class="screen-reader-only">About Visionlearning</h2>
                
                <div class="grid grid--divider--fill-x grid--column-2--lg">

                    {% capture process_content %}
                        <p>
                            We go beyond facts and dates to examine how we've come to understand the concepts, the people who have contributed to our understanding, and the ongoing research that builds our scientific knowledge.
                        </p>
                    {% endcapture %}

                    {%
                        include at-a-glance-image-card.html
                        image_src='/images/at-a-glance-process-of-science.jpg'
                        title='Learn the process of science'
                        content=process_content
                        button_label='Explore Our Library'
                    %}

                    {% capture ngss_content %}
                        <p>
                            Our exclusive content integrates science and engineering practices with disciplinary core ideas and cross-cutting concepts in alignment with the Next Generation Science Standards.
                        </p>
                    {% endcapture %}

                    {%
                        include at-a-glance-image-card.html
                        image_src='/images/at-a-glance-process-ngss.jpg'
                        title='Next Generation Science Standards'
                        content=ngss_content
                        button_label='About NGSS'
                    %}

                    {% capture comprehension_content %}
                        <p>
                            Our exclusive content integrates science and engineering practices with disciplinary core ideas and cross-cutting concepts in alignment with the Next Generation Science Standards.
                        </p>
                    {% endcapture %}

                    {%
                        include at-a-glance-image-card.html
                        image_src='/images/at-a-glance-process-comprehension.jpg'
                        title='Reinforce your comprehension'
                        content=comprehension_content
                        button_label='Our Content'
                    %}

                    {% capture classroom_content %}
                        <p>
                            In our Classroom, instructors can select content from across the Visionlearning site to integrate the process of science into their teaching. 
                        </p>
                    {% endcapture %}

                    {%
                        include at-a-glance-image-card.html
                        image_src='/images/at-a-glance-process-classroom.jpg'
                        title='Create Customized Classrooms'
                        content=classroom_content
                        button_label='Classroom'
                    %}
                
                </div>
                    
            </section>

            <hr />

            <section>

            <div class="padding-3">
            
                <h2>Meet Our Leadership</h2>

                <div class="grid grid--column-2 gap-4 margin-y-4">

                    <article class="display-flex align-items-start font-size-md">

                        <img width="180" src="./images/bio-anthony-carpi.jpg" alt="">

                        <div class="margin-left-3">
                        
                            <h3 class="h5">Anthony Carpi, Ph.D.</h3>

                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit ex deleniti consequuntur eius? Beatae debitis molestias cumque facilis praesentium maiores quam tempore pariatur delectus maxime quo dolores provident totam culpa
                            </p>

                        </div>
                                    
                    </article>

                    <article class="display-flex align-items-start font-size-md">

                        <img width="180" src="./images/bio-anne-egger.jpg" alt="">

                        <div class="margin-left-3">
                        
                            <h3 class="h5">Anne E. Egger, Ph.D.</h3>

                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit ex deleniti consequuntur eius? Beatae debitis molestias cumque facilis praesentium maiores quam tempore pariatur delectus maxime quo dolores provident totam culpa
                            </p>

                        </div>
                                    
                    </article>
                
                </div>

            </div>



            
            </section>
            
        </article>

        <aside class="grid__colspan-2">

        <ul class="grid grid--divider gap-4">
            <li class="display-flex align-items-center">
                <div class="opacity-70 margin-right-3" data-logo="brand">
                    <span class="icon icon-globe" style="font-size: 200%"></span>
                </div>

                <div class="text font-size-md">
                    <strong>English and Spanish</strong>
                    <p>
                        Our modules and quizzes are offered in both English and Spanish.
                    </p>
                </div>
            </li>
            <li class="display-flex align-items-center">
                <div class="opacity-70 margin-right-3" data-logo="brand">
                    <span class="icon icon-pronounciation" style="font-size: 200%"></span>
                </div>

                <div class="text font-size-md">
                    <strong>Listen to Our Content</strong>
                    <p>
                        Many of our modules and glossary terms include an audio recording.
                    </p>
                </div>
            </li>
            <li class="display-flex align-items-center">
                <div class="opacity-70 margin-right-3" data-logo="brand">
                    <span class="icon icon-glossary-highlight" style="font-size: 200%"></span>
                </div>

                <div class="text font-size-md">
                    <strong>Integrated Glossary</strong>
                    <p>
                        Vitae nunc sed velit dignissim sodales ut eu sem integer vitae justo.
                    </p>
                </div>
            </li>
        </ul>

            

        </aside>

    </main>

</div>