---
layout: about
title: "Who We Are"
---

<section class="container narrow margin-y-5">
    
    <h2>Leadership</h2>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>

    <div class="narrow margin-y-4">
        <hr class="color-dark" />
    </div>

    <figure class="float-right">
        <img src="./images/bio-anthony-carpi.jpg" alt="">
    </figure>

    <h3>Anthony Carpi, Ph.D.</h3>

    <p>
        <strong>Title/Role</strong>
    </p>

    <p>
        Anthony is the founder and president of Visionlearning. He is a Professor of Environmental Toxicology at John Jay College of the City University of New York and has extensive experience in teaching and educational research. He has authored articles for the Journal of Chemical Education, Journal of College Science Teaching, Journal of Hispanic Higher Education and other venues on the design and effectiveness of teaching resources, including Web-based materials. 
    </p>

    <p>
        He is also the recipient of several grants from the National Science Foundation and U.S. Department of Education that have focused on improving student pedagogy in science through the creation of online and offline services and materials. In 2011, his work mentoring young scientists was recognized when he was presented with a Presidential Award for Excellence in Math, Science, and Engineering Mentoring by President Barack Obama. For more information about his research and scholarship, visit his personal web page at John Jay College.
    </p>

    <a class="button button--has-icon font-size-md text-color-link margin-top-auto" href="#1">
        <span class="button__text">
            Modules Authored
        </span>
        <span class="icon icon-caret-right"></span>
    </a> 

    <div class="narrow margin-y-4">
        <hr class="color-dark" />
    </div>

    <figure class="float-right">
        <img src="./images/bio-anne-egger.jpg" alt="">
    </figure>

    <h3>Anne E. Egger, Ph.D.</h3>

    <p>
        <strong>Title/Role</strong>
    </p>

    <p>
        Anne is an assistant professor of geological sciences and science education at Central Washington University in Ellensburg, WA. Her joint appointment reflects two distinct research areas. In her geology research, she combines geological field mapping of the surface and geophysical mapping of the subsurface to better understand the geologic setting and history of regions such as the Basin and Range.
    </p>
        
    <p>
        In science education, Anne is involved in the development of materials for geoscience education at the college level and works with faculty to integrate best practices into their teaching. From 2004 to 2011, Anne was a lecturer and the Undergraduate Program Coordinator in the School of Earth Sciences at Stanford University. For more information, visit Anne's web page at CWU Anne's personal web page. 
    </p>

    <a class="button button--has-icon font-size-md text-color-link margin-top-auto" href="#1">
        <span class="button__text">
            Modules Authored
        </span>
        <span class="icon icon-caret-right"></span>
    </a> 
        
</section>

<hr />

<section class="container narrow margin-y-5">
    
    <h2>Authors</h2>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Velit ut tortor pretium viverra suspendisse potenti nullam.
    </p>

    <div class="grid grid--divider--fill-x grid--column-2--lg gap-4">

        {% include about-author-bio.html %}
        {% include about-author-bio.html %}
        {% include about-author-bio.html %}
        {% include about-author-bio.html %}
        {% include about-author-bio.html %}
        {% include about-author-bio.html %}
        {% include about-author-bio.html %}
        {% include about-author-bio.html %}
        {% include about-author-bio.html %}
        {% include about-author-bio.html %}
        
    </div>

</section>