
//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use "../breakpoints/style" as breakpoints;

//////////////////////////////////////////////
// A. Article (Module)
//////////////////////////////////////////////

.article {
    display: grid;

    gap: var(--spacer-2);
    
    grid-template-areas:
        "head"
        "did-you-know"
        "sidebar"
        "main";
}

.article__head {
    grid-area: head;
}

.article__main {
    grid-area: main;

    align-items: start;

    section {
        margin-top: var(--spacer-4);
        margin-bottom: var(--spacer-4);
    }

    figure {
        display: table;

        margin: var(--spacer-5) auto;
        
        figcaption {
            display: table-caption;
            caption-side: bottom;
        }

        img {
            min-width: unset !important;
            width: auto !important;
        }

    }
}

.article__did-you-know {    
    grid-area: did-you-know;
}

.article__sidebar {    
    grid-area: sidebar;
}

@include breakpoints.breakpoints-up(lg) {

    .article {
        grid-template-columns: 1fr 20em;
        grid-template-rows: auto auto 1fr;
        grid-template-areas:
            "head head"
            "main did-you-know"
            "main sidebar";
    }

}