
.article {
    // background-color:antiquewhite;

    display: grid;

    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        "head head"
        "main aside";


}

.article__head {
    // background-color:azure;

    grid-area: head;
}

.article__main {
    // background-color: azure;

    grid-area: main;
}

.article__aside {
    // background-color: aqua;
    
    grid-area: aside;
}