
//////////////////////////////////////////////
// A. CSS Grid
//////////////////////////////////////////////

.css-grid {
    --columns: 3;
    --grid-gap: var(--spacer-2);

    display: grid;
    gap: var(--grid-gap); 

    grid-template-columns: repeat(var(--columns), 1fr);
}

//////////////////////////////////////////////
// A. CSS Grid
//////////////////////////////////////////////

.discipline-grid {
    --columns: 4;
    --grid-gap: null;

    position: relative;

    display: grid;
    gap: var(--grid-gap); 

    grid-template-columns: repeat(var(--columns), 1fr);
    
}

.backdrop__info {
    position: absolute;
    top: 100%;

    background-color: inherit;

    padding-left: var(--spacer-2);
    padding-right: var(--spacer-2);
    padding-bottom: var(--spacer-2);
    
    font-size: calc( var(--font-size-md) * 0.875);
    transition: opacity 0.125s;
    
    opacity: 0;
}

.discipline-grid .backdrop {
  overflow: hidden;
}

.discipline-grid .backdrop {
  transition: transform 0.2s ease-in-out;
  &:nth-child(1), 
  &:nth-child(5){
    transform-origin: left;
  }
  &:nth-child(4), 
  &:nth-child(8){
    transform-origin: right;
  }
  
}

.discipline-grid .backdrop.focused {
  overflow: visible;
  z-index: 50;
  
  transform: scale(1.25);

  filter: drop-shadow(0 0 0.5em hsla(0, 0%, 0%, 0.375));

  .backdrop__info {
    opacity: 1;
  }

}






// .discipline-grid:focus-within .backdrop,
// .discipline-grid:hover .backdrop {
//   transform: translateY(-12.5%);
// }

// .backdrop:focus ~ .backdrop,
// .backdrop:hover ~ .backdrop {
//   transform: translateX(-12.5%);
// }
