//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use "sass:map";
@use "../breakpoints/style" as breakpoints;

//////////////////////////////////////////////
// B. CSS Grid Component
//////////////////////////////////////////////

.grid {
  --grid-columns: 1;
  --grid-gap: var(--spacer-2);

  position: relative;

  display: grid;
  gap: var(--grid-gap);
}

[class*="grid--columns"] {
    @include breakpoints.breakpoints-up(lg) {

      &[class*="columns-2"] {
        --grid-columns: 2;
      }

      &[class*="columns-3"] {
        --grid-columns: 3;
      }

      &[class*="columns-4"] {
        --grid-columns: 4;
      }
  
      grid-template-columns: repeat(var(--grid-columns), 1fr);
      
    }
}

//////////////////////////////////////////////
// C. Grid Discipline
//////////////////////////////////////////////

// Grid Discipline Component

.grid--discipline { 
  --grid-columns: 4;
  --grid-gap: null;

  grid-template-columns: repeat(var(--grid-columns), 1fr);

  .backdrop {
    overflow: hidden;
    z-index: auto;
    
    &:hover {
      cursor: pointer;
    }

    &:nth-child(1), 
    &:nth-child(5) {
      transform-origin: left;
    }

    &:nth-child(4), 
    &:nth-child(8) {
      transform-origin: right;
    }

    &.focused, 
    &.unfocused {
      animation-duration: 0.25s;
      animation-fill-mode: forwards;
      z-index: 1500;
    }
    
    &.focused {
      overflow: visible;
      animation-name: scaleUp;
    }

    &.unfocused {
      animation-name: scaleDown;
    }

  }

}

// Grid Discipline Info

.grid--discipline__info {
    position: absolute;
    top: 100%;

    background-color: inherit;

    padding-left: var(--spacer-2);
    padding-right: var(--spacer-2);
    padding-bottom: var(--spacer-2);
    
    font-size: calc( var(--font-size-md) * 0.875);
    transition: opacity 0.125s;
}

// Keyframe Animations

@keyframes scaleUp {

  from {
    transform: scale(1);
    filter: none;
  }

  to {
    transform: scale(1.25);
    filter: drop-shadow(0 0 0.5em hsla(0, 0%, 0%, 0.375));
  }
  
}

@keyframes scaleDown {

  from {
    transform: scale(1.25);
  }

  to {
    transform: scale(1);
  }

}

//////////////////////////////////////////////
// D. Grid Overview
//////////////////////////////////////////////

.grid--introduction {
    --columns: 2;
    --grid-gap: var(--spacer-4);

    @include breakpoints.breakpoints-up(lg) {
      
      [class*="--discipline"] {
        grid-area: disciplines;
      }

      .vl {
        grid-area: vl;
      }

      .ngss {
        grid-area: ngss;
      }
      
      grid-template-areas: 
        "disciplines disciplines"
        "vl ngss";

    }
}

//////////////////////////////////////////////
// E. Grid Global Foot
//////////////////////////////////////////////

.grid--global-foot {
    --grid-gap: var(--spacer-4);
    
    font-size: var(--font-size-md);

    // > * {
    //   background-color: yellow;
    // }

    .nav-primary {
      grid-area: nav-primary;
    }

    .nav-secondary {
      grid-area: nav-secondary;
    }

    .ctas {
      grid-area: ctas;
    }

    .connect {
      grid-area: connect;
    }

    grid-template-areas: 
      "nav-primary nav-secondary"
      "ctas ctas"
      "connect connect";

    @include breakpoints.breakpoints-up(lg) {

      grid-template-columns: 1fr 1fr 1.5fr 1.5fr;

      grid-template-areas: 
        "nav-primary nav-secondary ctas connect";
    }
}

//////////////////////////////////////////////
// B. Grid Global Foot
//////////////////////////////////////////////

.disc-banner {

  display: grid;
  gap: var(--spacer-5);

  > .banner-headline {
    grid-area: headline;
  }

  > .disc-banner__teaser {
    grid-area: teaser;

  }
  > .disc-banner__summary {
    grid-area: summary;

  }
  
  grid-template-columns: 66% auto;

  grid-template-areas:
    "headline headline"
    "summary teaser";
}


//////////////////////////////////////////////
// A. Article (Module)
//////////////////////////////////////////////

.landing {
    display: grid;

    gap: var(--spacer-2);
    
    grid-template-areas:
        "cta"
        "sidebar"
        "main";
}


.landing__main {
    grid-area: main;

    align-items: start;

    section {
        margin-top: var(--spacer-4);
        margin-bottom: var(--spacer-4);
    }

    figure {
        display: table;

        margin: var(--spacer-5) auto;
        
        figcaption {
            display: table-caption;
            caption-side: bottom;
        }

        img {
            min-width: unset !important;
            width: auto !important;
        }

    }
}

.landing__cta {    
    grid-area: cta;
}

.landing__sidebar {    
    grid-area: sidebar;
}

@include breakpoints.breakpoints-up(lg) {

    .landing {
        grid-template-columns: 1fr 20em;
        grid-template-areas:
            "main cta"
            "main sidebar";
    }

}