/*

In this file:

// A. Variables
// B. Selector Resets
// C. Button Block
// D. Button Outline Modifier
// E. Button Has Icon Modifiers
// F. Button Icon Only Modifier
// G. Button Icon Only Tooltip
// H. Button Group Component

*/

////////////////////////////////////////
// A. Modules
////////////////////////////////////////

@use "../accents/style" as accents;
@use "../caret/style" as caret;

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

// Scoped to Root

:root {
    --button-padding-x: 1em;
    --button-padding-y: 0.75em;

    --button-font-weight: var(--body-font-weight-bold);

    --button-border-radius: 0;
    
    --button-outline-border-width: calc( var(--default-border-width) * 2);

    --button-icon-only-size: 2em;
}

//////////////////////////////////////////////
// B. Selector Resets
//////////////////////////////////////////////

button {
    cursor: pointer;
    
    font-family: inherit;

    &:not([class*="theme-"]){
        background-color: transparent;
    }

    &:not([class*="border-"]){
        border: none;
    }

}

//////////////////////////////////////////////
// C. Button Block
//////////////////////////////////////////////

.button {
    --button-opacity-hover: 0.75;

    position: relative;

    display: inline-block;
    
    vertical-align: middle;
    
    line-height: normal;
    
    text-align: center;
    
    cursor: pointer;

    border-radius: var(--button-border-radius);

    transition: opacity 0.5s ease-out;

    &:not([class*="button--outline"]):not([class*="theme-"]):not([class*="background-color"]):not([data-toggle="dropdown"]) {
        @extend %subtle-fill-psuedo;
        --subtle-fill-opacity: 0.05;
    }

    &:hover, 
    &:focus, 
    &:active
    {
        opacity: var(--button-opacity-hover);
    }

    &:not([class*="button--icon-only"]) {
        padding: var(--button-padding-y) var(--button-padding-x);
        font-weight: var(--button-font-weight);
    }

    &[aria-disabled="true"] {
        opacity: var(--button-opacity-hover);
        cursor: not-allowed;
    }
    
}


//////////////////////////////////////////////
// D. Button Outline Modifier
//////////////////////////////////////////////

.button--outline {
    background-color: transparent;
    box-shadow: inset 0 0 0 var(--button-outline-border-width, 2px) currentColor;
}

//////////////////////////////////////////////
// E. Button Has Icon Modifiers
//////////////////////////////////////////////

[class*="button--has-icon"] {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:hover,
    &:focus {
        .button__text {
            text-decoration: underline;
        }
    }

    &:not([class*="--disperse"]) {
        .button__text {
            margin-inline: 0.25em;
        }
    }
}

.button--has-icon--disperse {
    justify-content: space-between;
    width: 100%;
}

//////////////////////////////////////////////
// F. Button Icon Only Modifier
//////////////////////////////////////////////

.button--icon-only {
    display: inline-flex;
    flex-shrink: 0;

    align-items: center;
    justify-content: center;

    width: var(--button-icon-only-size);
    height: var(--button-icon-only-size);

    [class*="icon-"] {
        --icon-size: 1.125em;

        display: flex;
    }
}

//////////////////////////////////////////////
// G. Button Icon Only Tooltip
//////////////////////////////////////////////

.button__tooltip {
    --button-tooltip-background: hsla(0, 0%, 0%, 0.9);

    position: absolute;
    top: -150000px;
    left: 50%;

    transform: translateX(-50%);

    display: block;

    margin-block-start: var(--spacer-2);

    padding: 0.5em 1em;

    border-radius: inherit;

    background-color: var(--button-tooltip-background);

    color: white;

    font-size: var(--font-size-sm);

    white-space: nowrap;

    pointer-events: none;

    &.left {
        transform: unset;
        right: unset;
        inset-inline-start: 0;
    }

    &.right {
        transform: unset;
        left: unset;
        inset-inline-end: 0;
    }
}

.tooltip-show > .button__tooltip {
    inset-block-start: 100%;

    animation-name: fadeIn;
    animation-duration: 0.5s;
}

@keyframes fadeIn {

  from {
    opacity: 0;
  }

  to {
      opacity: 1;
  }

}

//////////////////////////////////////////////
// H. Button Group Component
//////////////////////////////////////////////

.button-group {
    --gap-size: var(--spacer-1);
    
    --form-field-padding-y: 0;
    --button-padding-y: 0;

    display: flex;
    justify-content: center;

    min-height: var(--button-icon-only-size);

    > [class*="button"], 
    > button {
        &:not(:last-child){
            margin-inline-end: var(--gap-size);
        }
    }

    > [class*="button"]:not(.button--icon-only){
        min-height: 100%;
        font-size: 80%; 
    }

    > [class*="button"]:not(.button--icon-only) {
        display: flex;
        align-items: center;
        flex-shrink: 0;
    }
}