/*

In this file:

// A. Modules
// B. Variables
// C. Font Weight Utilities
// D. Font Size Utilities
// E. Headers
// F. Fluid Type Utility
// G. Body Selectors
// H. Text Align Utilities
// I. Text Transform Utilities
// J. Word Wrap Utilities
// K. Truncate Text Utility

*/

//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use "sass:map";
@use "../breakpoints/style" as breakpoints;
@use "../borders/style" as borders;

//////////////////////////////////////////////
// B. Variables
//////////////////////////////////////////////

// Import Open Source Fonts

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

:root {

    // Body Font Stack

    --body-font-family: "Source Sans Pro", sans-serif;
    
    --body-font-weight-normal: 400;
    --body-font-weight-medium: 600;
    --body-font-weight-bold: 700;

    --body-font-size: 20px;

    --body-line-height: 1.5;

    // Font Sizes

    --font-size-sm: calc(var(--body-font-size) * 0.75);  // ~ 16.5px
    --font-size-md: calc(var(--body-font-size) * 0.825);  // ~ 18px
    --font-size-rg: calc(var(--body-font-size) * 1);    // = 22px
    --font-size-lg: calc(var(--body-font-size) * 1.375);  // ~ 26px
    --font-size-xl: calc(var(--body-font-size) * 1.75);  // ~ 30px

    // Headers

    --h1-font-size: calc(var(--body-font-size) * 3);    // ~ 60px
    --h2-font-size: calc(var(--body-font-size) * 2.2);  // ~ 48px
    --h3-font-size: calc(var(--body-font-size) * 1.8);  // ~ 40px
    --h4-font-size: calc(var(--body-font-size) * 1.6);  // ~ 35px
    --h5-font-size: calc(var(--body-font-size) * 1.4);  // ~ 30px
    --h6-font-size: calc(var(--body-font-size) * 1.2);  // ~ 26px

    --header-line-height: 1.125;

    // Banner Headline

    --banner-headline-font-size: calc(var(--body-font-size) * 3.8);
    --banner-headline-font-weight: var(--body-font-weight-normal);

    // Paragraph

    --paragraph-margin-bottom: 1.25em;
}

//////////////////////////////////////////////
// C. Font Weight Utilities
//////////////////////////////////////////////

$font-weights: (
    normal: var(--body-font-weight-normal),
    medium: var(--body-font-weight-medium),
    bold: var(--body-font-weight-bold),
);

@each $key, $value in $font-weights {
    .font-weight-#{$key} {
        font-weight: #{$value};
    }
}

//////////////////////////////////////////////
// D. Font Size Utilities
//////////////////////////////////////////////

$font-sizes: (

    sm: (
        size: var(--font-size-sm)
    ),

    md: (
        size: var(--font-size-md)
    ),
    
    rg: (
        size: var(--font-size-rg)
    ),

    lg: (
        size: var(--font-size-lg)
    ),
    
    xl: (
        size: var(--font-size-xl)
    )
);

@each $key, $font-size-map in $font-sizes {
    .font-size-#{$key} {
        font-size: map.get($font-size-map, "size") !important;

        @if map.has-key($font-size-map, "line-height") {
            line-height: map.get($font-size-map, "line-height");
        }
    }
}

//////////////////////////////////////////////
// E. Headers
//////////////////////////////////////////////

h1, .h1,
h2, .h2, 
h3, .h3,
h4, .h4,
h5, .h5, 
h6, .h6 {
    font-weight: var(--body-font-weight-bold);
    line-height: var(--header-line-height);

    &:not(.accordion__button):not(.alert__title):not(:last-child){
        margin-block-end: var(--spacer-2);
    }
}

$headers: (

    h1: (
        size: var(--h1-font-size)
    ),

    h2: (
        size: var(--h2-font-size)
    ),
    
    h3: (
        size: var(--h3-font-size)
    ),

    h4: (
        size: var(--h4-font-size)
    ),
    
    h5: (
        size: var(--h5-font-size)
    ),

    h6: (
        size: var(--h6-font-size)
    )
);

@each $key, $header-map in $headers {

    #{$key} {
        font-size: map.get($header-map, "size");
    }
}

@each $key, $header-map in $headers {

    .#{$key} {
        font-size: map.get($header-map, "size") !important;
    }
}

.banner-headline {
    font-weight: var(--banner-headline-font-weight);
    line-height: var(--header-line-height);

    font-size: var(--banner-headline-font-size);
}

//////////////////////////////////////////////
// F. Fluid Type Utility
//////////////////////////////////////////////

html {
    --fluid-typ-min: 1rem;
    --fluid-typ-rec: 0.6vw + 0.9rem;
    --fluid-typ-max: 1.5rem;

    &.fluid-type {
        --body-font-size:
            clamp(var(--fluid-typ-min), 
                  var(--fluid-typ-rec),
                  var(--fluid-typ-max));
    }
}

//////////////////////////////////////////////
// G. Body Selectors
//////////////////////////////////////////////

body {
    font-family: var(--body-font-family);

    font-size: var(--body-font-size);
    
    font-weight: var(--body-font-weight-normal);
    
    line-height: var(--body-line-height);
}

p, 
p ~ ul:not([class]),
p ~ ol:not([class]) {
    &:not(:last-child){
        margin-block-end: var(--paragraph-margin-bottom);
    }
}


ul.bulleted,
p ~ ul:not([class]),
p ~ ol:not([class]) {
    li {
        margin-block-end: var(--spacer-1);
    }
}

ul.bulleted,
p ~ ul:not([class]) {
    --list-item-padding: 1em;

    li {
        margin-inline-start: var(--list-item-padding);
    }
}

ol:not([class]) {
    --list-item-padding: 2em;

    list-style: none;

    counter-reset: list-item-counter;
  
    li {
        position: relative;
        
        padding-inline-start: var(--list-item-padding);

        counter-increment: list-item-counter;
    }

    li::before {
        position: absolute;
        inset-inline-start: 0;

        content: counters(list-item-counter, ".") ". ";
    }

}

figure {
    figcaption {
        font-size: var(--font-size-sm);
        opacity: 0.85;
        margin-block-start: var(--spacer-2);
    }
}

//////////////////////////////////////////////
// H. Text Align Utilities
//////////////////////////////////////////////

@each $breakpoint in map.keys(breakpoints.$breakpoints) {
    @include breakpoints.breakpoints-up($breakpoint) {
        $mod: breakpoints.breakpoint-modifier($breakpoint, breakpoints.$breakpoints);

        .text-align-left#{$mod} {
            text-align: start !important;
        }
        
        .text-align-center#{$mod} {
            text-align: center !important;
        }

        .text-align-right#{$mod} {
            text-align: end !important;
        }

    }
}

//////////////////////////////////////////////
// I. Text Transform Utilities
//////////////////////////////////////////////

.text-transform-capitalize {
    text-transform: capitalize;
}

.text-transform-uppercase {
    text-transform: uppercase;
}

.text-transform-lowercase {
    text-transform: lowercase;
}

//////////////////////////////////////////////
// J. Word Wrap Utilities
//////////////////////////////////////////////

.nowrap {
    white-space: nowrap;
}

.break-word {
    overflow-wrap: break-word;
}

////////////////////////////////////////
// K. Truncate Text Utility
////////////////////////////////////////

.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}