//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

:root {

    // Body Font Stack

    --body-font-family: "Open Sans";
    
    --body-font-weight-normal: 400;
    --body-font-weight-medium: 600;
    --body-font-weight-bold: 700;

    --body-font-size: 20px;


    // Banner Headline

    --banner-headline-font-size: calc(var(--body-font-size) * 3.25);
    --banner-headline-font-weight: var(--body-font-weight-normal);

    // Headers

    --h1-font-size: calc(var(--body-font-size) * 2.5);    // ~ 60px
    --h2-font-size: calc(var(--body-font-size) * 2);  // ~ 48px
    --h3-font-size: calc(var(--body-font-size) * 1.75);  // ~ 40px
    --h4-font-size: calc(var(--body-font-size) * 1.5);  // ~ 35px
    --h5-font-size: calc(var(--body-font-size) * 1.25);  // ~ 30px
    --h6-font-size: calc(var(--body-font-size) * 1.125);  // ~ 26px

    --header-line-height: 1.125;
}

//////////////////////////////////////////////
// B. List Divider
//////////////////////////////////////////////

.list-divider { 
    list-style: none;

    > li {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    > li:not(:last-child) {
        border-bottom-width: var(--default-border-width);
        border-bottom-style: var(--default-border-style);
        border-bottom-color: inherit;
    }

}

.list-divider__cell{
    padding: var(--spacer-1) var(--spacer-2);
}

//////////////////////////////////////////////
// C. Description List
//////////////////////////////////////////////

dl > dt {
    font-weight: var(--body-font-weight-bold);
    font-style: italic;
}

dd {
    margin-bottom: 1em;
    margin-left: 1em;
}