
:root {

    // Body Font Stack

    --body-font-family: "Open Sans";
    
    --body-font-weight-normal: 400;
    --body-font-weight-medium: 600;
    --body-font-weight-bold: 700;

    --body-font-size: 20px;
}