---
layout: course
title: Classroom • Course
account: Signed In
---

<h1 class="text-align-center banner-headline text-color-classroom">
    Add Modules
</h1>

<div class="container medium">

    <p>Select from the disciplines below to add modules to this course.</p>

    <div class="accordion margin-bottom-3 font-size-md">

        {% for item in site.data.librarySample %}
            {% assign header = item.Discipline %}                         
            {% assign slug = item.Slug %}                         
            {% assign subcategories = item.Subcategories %}         

            <button
                class="accordion__button h6"
                id="acc-button-{{ slug }}"
                data-accordion="button"
                aria-controls="acc-panel-{{ slug }}"
                aria-expanded="false">
                    {{ header }}
            </button>

            <div
                class="accordion__panel"
                id="acc-panel-{{ slug }}"
                data-accordion="panel"
                aria-labelledby="acc-button-elephant"
                role="region">

                <div class="accordion__panel__content">

                    <div class="padding-x-2 overflow-hidden">

                        {% for category in subcategories %}                
                            {% assign title = category.Title %}          
                            {% assign modules = category.Modules %}          

                            <div class="margin-y-4">
                                                    
                                <div class="form-entry">

                                    <fieldset class="form-entry__field">

                                        <legend class="form-entry__field__label ">
                                            {{ title }}
                                        </legend>

                                        <div class="form-entry__option">

                                        {% for module in modules %}              
                                            {% assign name = module.Name %}
                                            
                                                <div class="form-entry__option__check">
                                                    <label>
                                                        <input
                                                            type="checkbox"
                                                            name="checkboxGroupExample"
                                                            id="check-option-one"
                                                            value="optionOne">
                                                            <span class="option__label">
                                                                {{ name }}
                                                            </span>
                                                    </label>
                                                </div>

                                        {% endfor %}

                                        </div>

                                    </fieldset>

                                </div>

                            </div>

                        {% endfor %}
                                        
                    </div>
                </div>

            </div>
                           
        {% endfor %}

    </div>

    <button class="button theme-classroom">
        Add Modules
    </button>

</div>