---
layout: global
title: Classroom • Course • Title 
---


<main id="skip-header-content">

    <div class="padding-y-5">

        <div class="container wide">


        <div class="grid grid--fixed-sidebar-column-2">

            <div class="main">

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate maxime a dolores. Eos, dolor, nemo ea excepturi nostrum laudantium, est optio accusantium non neque numquam aut ullam consequatur! Dicta, quibusdam.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate maxime a dolores. Eos, dolor, nemo ea excepturi nostrum laudantium, est optio accusantium non neque numquam aut ullam consequatur! Dicta, quibusdam.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate maxime a dolores. Eos, dolor, nemo ea excepturi nostrum laudantium, est optio accusantium non neque numquam aut ullam consequatur! Dicta, quibusdam.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate maxime a dolores. Eos, dolor, nemo ea excepturi nostrum laudantium, est optio accusantium non neque numquam aut ullam consequatur! Dicta, quibusdam.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate maxime a dolores. Eos, dolor, nemo ea excepturi nostrum laudantium, est optio accusantium non neque numquam aut ullam consequatur! Dicta, quibusdam.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate maxime a dolores. Eos, dolor, nemo ea excepturi nostrum laudantium, est optio accusantium non neque numquam aut ullam consequatur! Dicta, quibusdam.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate maxime a dolores. Eos, dolor, nemo ea excepturi nostrum laudantium, est optio accusantium non neque numquam aut ullam consequatur! Dicta, quibusdam.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate maxime a dolores. Eos, dolor, nemo ea excepturi nostrum laudantium, est optio accusantium non neque numquam aut ullam consequatur! Dicta, quibusdam.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate maxime a dolores. Eos, dolor, nemo ea excepturi nostrum laudantium, est optio accusantium non neque numquam aut ullam consequatur! Dicta, quibusdam.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate maxime a dolores. Eos, dolor, nemo ea excepturi nostrum laudantium, est optio accusantium non neque numquam aut ullam consequatur! Dicta, quibusdam.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate maxime a dolores. Eos, dolor, nemo ea excepturi nostrum laudantium, est optio accusantium non neque numquam aut ullam consequatur! Dicta, quibusdam.</p>

            </div>

            <div class="aside">

                <div class="collapse display-block--lg" id="material-nav">
                    
                    <nav class="font-size-md">
                        
                        <ul
                            class="tabs-nav classroom border border-radius"
                            id="material-nav"
                            role="menu">

                            <li>
                                <a
                                    href="{{ site.url }}/library"
                                    {% if page.title == 'Classroom • Course • Title' %}
                                    aria-current="page"
                                    {% endif %}>
                                        Qverview
                                </a>
                            </li>
                                
                            <li>
                                <a
                                    href="{{ site.url }}/library/all-disciplines.html"
                                    {% if page.title == 'Library • All Disciplines' %}
                                    aria-current="page"
                                    {% endif %}>
                                        All Disciplines
                                </a>
                            </li>
                        
                        </ul>

                        <hr class="divider" />

                        <div>
                        
                            <a
                                class="button text-color-link width-100"
                                href="{{ site.url }}/library/interactive-animations.html">
                                <span class="button__text">Interactive Animations</span>
                            </a>

                        </div>

                    </nav>
                            
                </div>

        </div>

    </div>

    </div>



</main>
