---
layout: global
---

<div class="theme-light">

<div class="container wide">

        {% include about-menu.html %}

        <header class="text-align-center padding-y-4">

            <h1 class="container medium font-weight-normal">
                {{ page.title }}
            </h1>

        </header>
</div>

</div>
<main id="skip-header-content">

    <article class="container wide margin-bottom-5">

        <main class="grid grid--sidebars margin-y-4">

            <div class="display-none display-block--xl">
                
                <nav class="anchor-nav font-size-md position-sticky-top">

                    {% if page.links %}

                    <ul class="tabs-nav border border-radius">
                        {% for link in page.links %}
                        <li>
                            <a href="{{ site.url }}{{ link.url }}" aria-selected={{ forloop.first | yes: 'true', 'false' }}>
                                {{ link.title }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    
                    {% endif %}
                    
                </nav>

            </div>

            <article class="module__main">

            {{ content }}
                    
            </article>

            <div class="font-size-md">

                    <div class="padding-x-2 margin-bottom-2 text-align-center">
                            
                        <h6>
                            Sign in or Join for Free
                        </h6>

                        <p>
                            For an ad-free experience and access the Classroom:
                        </p>

                    </div>

                    <ul class="grid gap-1 margin-bottom-2">

                        <li>
                            <a class="button button--has-icon--disperse text-color-link" href="{{ site.url }}/classroom/my-courses">
                                <span class="button__text">Sign In</span>
                                <span class="icon icon-caret-right"></span>
                            </a>
                        </li>

                        <li>                    
                            <a class="button button--has-icon--disperse text-color-link" href="{{ site.url }}/account/register">
                                <span class="button__text">Join for Free</span>
                                <span class="icon icon-caret-right"></span>
                            </a>
                        </li>

                    </ul>

                    {% include process-of-science-book.html %}

                </div>

        </main>

    </article>

</main>