---
layout: global
---

{% capture anchor_links %}
<li>
    <a href="{{ site.url }}/about/who-we-are.html#section-1">
        Leadership
    </a>
</li>
<li>
    <a href="{{ site.url }}/about/who-we-are.html#section-2">
        Authors
    </a>
</li>
{% endcapture %}

<main id="skip-header-content">

    <article class="container wide">

        {% include about-menu.html %}

        <div class="margin-bottom-5">
            
            <header class="text-align-center padding-y-4">

                <h1 class="container medium font-weight-normal">
                    {{ page.title }}
                </h1>

            </header>

            <hr class="divider" />

            <main class="grid grid--sidebars grid--divider">

                <div class="font-size-md">
                    
                    <ul class="nav position-sticky-top margin-y-3">
                        {{ anchor_links }}
                    </ul>
                
                </div>

                <article>

                {{ content }}
                    
                </article>

                <div class="font-size-md">

                    {% include process-of-science-book.html %}

                </div>

            </main>

        </div>

    </article>

</main>