---
layout: global
---

<!-- Russ D.,

Let's try this simpler layout for the about page. Currently the jump to navigation doesn't work exactly as expected and I'm hoping to simplify matters for now and we might make these pages more engaging at a different time. 

-->

<div class="theme-light">

    <div class="container wide">

            {% include about-menu.html %}

            <header class="text-align-center padding-y-4">

                <h1 class="banner-headline">
                    {{ page.title }}
                </h1>

            </header>
    </div>

</div>

<main id="skip-header-content">

    <article class="container wide">

        <article class="about-article">

            {{ content }}
                    
        </article>

    </article>

</main>