---
layout: global
---

<main id="skip-header-content">

    <div class="margin-y-5">

        <div class="container wide">

            <!-- Russ, D.

            With `grid--sidebars`, we can remove the `grid--divider` class and add `gap-3` to the parent grid.

            -->

            <div class="grid grid--sidebars gap-3">

                <div>

                    <div class="grid grid--divider">

                        <div class="grid grid--column-2 gap-1 display-none--xl">

                            <button
                                class="button button--has-icon text-color-link"
                                data-toggle="collapse"
                                data-target-toggle="#material-nav"
                                data-target-close="#material-search">
                                    <span class="icon icon-menu"></span>
                                    <span class="button__text">Browse</span>
                            </button>

                            <button
                                class="button button--has-icon text-color-link"
                                data-toggle="collapse"
                                data-target-toggle="#material-search"
                                data-target-close="#material-nav">
                                    <span class="icon icon-search"></span>
                                    <span class="button__text">Search</span>
                            </button>
                                
                        </div>

                        <form
                            class="search-bar collapse display-block--xl"
                            action="{{ site.url }}/library/search-results.html"
                            id="material-search"
                            data-focus-first>
                            
                            <div class="form-entry">

                                <div class="form-entry__field">

                                    <label class="form-entry__field__label screen-reader-only" for="search-example">
                                        Search
                                    </label>
                                        
                                    <span class="form-entry__field__input">
                                        <input
                                            type="search"
                                            name="search-example"
                                            id="search-example"
                                            placeholder="Search Classrooms"
                                            autocomplete="off"
                                        />
                                        <div class="button-group">
                                        <button
                                            class="button button--icon-only theme-light border-radius-circle"
                                            type="submit"  
                                        >
                                            <span class="icon icon-search" aria-hidden="true"></span>
                                        </button>
                                        </div>
                                    </span>

                                </div>

                            </div>
                        
                        </form>

                        <div class="collapse display-block--xl" id="material-nav">
                            
                            <nav class="font-size-md">

                                {% if page.title contains 'Glossary' %}

                                <ul
                                    class="tabs-nav {{ class_name }} border border-radius"
                                    id="material-nav"
                                    role="menu">

                                    <li>
                                        <a
                                            href="{{ site.url }}/glossary"
                                            {% if page.title == 'Glossary • A-Z' %}
                                            aria-current="page"
                                            {% endif %}>
                                                A-Z
                                        </a>
                                    </li>

                                    {{ discipline_links }}
                                    
                                </ul>

                                {% endif %}

                                {% if page.title contains 'Classroom' %}

                                <ul
                                    class="tabs-nav {{ class_name }} border border-radius"
                                    id="material-nav"
                                    role="menu">

                                    <li>
                                        <a
                                            href="{{ site.url }}/classroom/index.html"
                                            {% if page.title == 'Classroom • About' %}
                                            aria-current="page"
                                            {% endif %}>
                                                About the Classroom
                                        </a>
                                    </li>

                                    <li>
                                        <a
                                            href="{{ site.url }}/classroom/courses.html"
                                            {% if page.title == 'Classroom • Courses' %}
                                            aria-current="page"
                                            {% endif %}>
                                                Course Catalogue
                                        </a>
                                    </li>

                                </ul>

                                {% endif %}

                            </nav>
                                    
                        </div>

                    </div>
                </div>

                <div>

                    {{ content }}

                </div>

                <div class="font-size-md">

                    <div class="padding-x-2 margin-bottom-2 text-align-center">
                            
                        <h6>
                            Sign in or Join for Free
                        </h6>

                        <p>
                            For an ad-free experience and access the Classroom:
                        </p>

                    </div>

                    <ul class="grid gap-1 margin-bottom-2">

                        <li>
                            <a class="button button--disperse text-color-link" href="{{ site.url }}/classroom/my-courses">
                                <span class="button__text">Sign In</span>
                                <span class="icon icon-caret-right"></span>
                            </a>
                        </li>

                        <li>                    
                            <a class="button button--disperse text-color-link" href="{{ site.url }}/account/register">
                                <span class="button__text">Join for Free</span>
                                <span class="icon icon-caret-right"></span>
                            </a>
                        </li>

                    </ul>

                    {% include process-of-science-book.html %}

                </div>

            </div>

        </div>

    </div>

</main>