---
layout: global
---

<main id="skip-header-content">

    <div class="margin-y-5">

        <div class="container wide">

            <div class="grid grid--sidebars grid--divider">

                <div>
                    {% include materials-sidebar.html %}
                </div>

                <div>

                    {{ content }}

                </div>

                <div class="font-size-md">

                    <div class="padding-x-2 margin-bottom-2 text-align-center">
                            
                        <h6>
                            Sign in or Join for Free
                        </h6>

                        <p>
                            For an ad-free experience and access the Classroom:
                        </p>

                    </div>

                    <ul class="grid grid--divider">

                        <li>
                            <a class="button button--has-icon--disperse text-color-link" href="{{ site.url }}/classroom/my-courses">
                                <span class="button__text">Sign In</span>
                                <span class="icon icon-caret-right"></span>
                            </a>
                        </li>

                        <li>                    
                            <a class="button button--has-icon--disperse text-color-link" href="{{ site.url }}/account/register">
                                <span class="button__text">Register for Free</span>
                                <span class="icon icon-caret-right"></span>
                            </a>
                        </li>
                        
                        <li>
                            {% include process-of-science-book.html %}
                        </li>

                    </ul>

                </div>

            </div>

        </div>

    </div>

</main>