---
layout: global
---

<main id="skip-header-content">

    <div class="margin-y-5">

        <div class="container wide">

            <div class="grid grid--sidebars grid--divider">

                <div>
                
                    {% include materials-sidebar.html %}
                    
                </div>

                <div>

                    {{ content }}

                </div>

                <div class="font-size-md">

                    <div class="padding-x-2 margin-bottom-2 text-align-center">
                            
                        <h6>
                            Sign in or register
                        </h6>

                        <p>
                            For an ad-free experience and access the Visionlearning Classroom, sign in or register.
                        </p>

                    </div>

                    <ul class="grid grid--divider text-color-link">

                        <li>
                            <a class="button button--has-icon--disperse" href="{{ site.url }}/classroom/my-courses">
                                <span class="button__text">Sign In</span>
                                <span class="icon icon-caret-right"></span>
                            </a>
                        </li>

                        <li>                    
                            <a class="button button--has-icon--disperse" href="{{ site.url }}/account/register">
                                <span class="button__text">Register for Free</span>
                                <span class="icon icon-caret-right"></span>
                            </a>
                        </li>
                        <li>
                            <a
                                class="display-block theme-light padding-2 font-size-sm text-align-center"
                                href="http://www.lulu.com/us/en/shop/anthony-carpi-anne-egger/the-process-of-science-revised-edition/paperback/product-16507360.html?codekitCB=406218852.341107"
                                target="blank">
                                    <img width="90" src="{{ site.url }}/images/process-of-science-book.png" alt="The Process of science book">
                                    <p>
                                        <strong>
                                            The Process of Science, Revised Edition
                                        </strong>
                                    </p>
                                    <p>Get the paperback by Anthony Carpi and Anne Egger</p>
                                    <p>$15.99 - <strong>Buy Now</strong></p>
                            </a>
                        </li>

                    </ul>


                </div>

            </div>

        </div>

    </div>

</main>