---
layout: global
---

<main id="skip-header-content">

    <article class="wide margin-x-auto module">

        <header class="grid grid--sidebar-right module__header">

            <div class="container medium text-align-center padding-y-2">

                <span class="font-size-sm">
                    <strong>
                        <em>Plate Tectonics</em>
                    </strong>
                </span>

                <h1 class="font-weight-normal">
                    Earth structure:
                    <sub>
                        <em>
                            A Virtual Journey to the Center of Earth
                        </em>
                    </sub>
                </h1>

                <p class="font-size-sm">
                    by Anne E. Egger, Ph.D.
                </p>

            </div>

            {% if page.tab == 'reading' %}

            <div class="flex-column justify-content-end">

                <audio class="display-inline-block width-100" controls="" src="https://www.visionlearning.com/img/library/moduleAudio/module_64.mp3">
                    Your browser does not support the
                    <code>audio</code>
                    element.
                </audio>

            </div>

            {% endif %}

        </header>

        {% if page.tab == 'reading' %}
        
        {% endif %}

        <hr class="divider" />

        <div class="grid grid--sidebar-right grid--divider">
        
            <div class="order-2 order-1--lg">

                <nav class="narrow margin-x-auto font-size-md module-tabs">

                    <ul class="tabs-nav tabs-nav--horizontal library">
                        <li>
                            <a
                                href="{{ site.url }}/library/module/reading.html"
                                {% if page.url contains '/reading.html' %}
                                aria-current="page" 
                                {% endif %}>
                                    Reading
                            </a>
                        </li>
                        <li>
                            <a
                                href="{{ site.url }}/library/module/quiz.html"
                                {% if page.url contains '/quiz.html' %}
                                aria-current="page" 
                                {% endif %}>
                                	Quiz
                            </a>
                        </li>
                        <li>
                            <a
                                href="{{ site.url }}/library/module/teach.html"
                                {% if page.url contains '/teach.html' %}
                                aria-current="page" 
                                {% endif %}>
                                	Teach with this
                            </a>
                        </li>
                    </ul>

                </nav>

                {{ content }}

            </div>
            <!-- .module__main -->

            {% if page.tab == 'reading' %}

            <div class="order-1 order-2--lg">

                <div class="position-sticky-top in-this-module">

						<div class="tabs" role="tablist">

							<nav class="button-group gap-1 font-size-md">

								<button
									class="button button--icon-only flex-grow-1"
									aria-label="In this module"
									aria-controls="tab-panel-in-this-module"
									aria-selected="true"
									role="tab">
									<span class="icon icon-list" aria-hidden="true"></span>
								</button>

								<button
									class="button button--has-icon flex-grow-1"
									aria-controls="tab-panel-toggle-terms"
									aria-selected="false"
									role="tab">
									<span class="icon icon-glossary-highlight"></span>
									<span class="button__text">Glossary</span>
								</button>

								<button
									class="button button--has-icon flex-grow-1"
									aria-controls="tab-panel-toggle-ngss"
									aria-selected="false"
									role="tab">
									<span class="icon icon-ngss"></span>
									<span class="button__text">NGSS</span>
								</button>

							</nav>

							<div
								class="tabs__panel shown"
								id="tab-panel-in-this-module"
								aria-labelledby="tab-button-in-this-module"
								role="tabpanel">
								
								<div class="padding-y-2">

									<div class="accordion font-size-md">

										<button class="accordion__button" id="acc-button-key-concepts" data-accordion="button" aria-controls="acc-panel-key-concepts" aria-expanded="true" tabindex="0">
											Key concepts
										</button>

										<div class="accordion__panel shown show" id="acc-panel-key-concepts" data-accordion="panel" aria-labelledby="acc-button-key-concepts" role="region">
											<div class="accordion__panel__content">

												<ul class="bulleted">
													<li>
														Cells are the basic structural and functional unit of all living things and contain inheritable genetic material.
													</li>
													<li>
														The activity of a cell is carried out by the sub-cellular structures it possesses.
													</li>
													<li>
														Cells possess an outer boundary layer, called a cell membrane, cytoplasm, which contains organelles, and genetic material.
													</li>
													<li>
														There is considerable variety among living cells, including the function of membranes and subcellular structures, and the different types of functions the cells carry out, such as chemical transport, support, and other functions.
													</li>
												</ul>

											</div>
										</div>

										<button class="accordion__button" id="acc-button-terms-you-should-know" data-accordion="button" aria-controls="acc-panel-terms-you-should-know" aria-expanded="false" tabindex="0">
											Terms you should know
										</button>

										<div class="accordion__panel" id="acc-panel-terms-you-should-know" data-accordion="panel" aria-labelledby="acc-button-terms-you-should-know" role="region" aria-hidden="true">
											<div class="accordion__panel__content">

												<dl>
													<dt>
														<a href="#1">boundary</a>
													</dt>
													<dd>
														a line or limit that divides one area from another
													</dd>

													<dt>
														<a href="#1">dense</a>
													</dt>
													<dd>
														compact, packed close together, having a high mass in relation to volume
													</dd>

													<dt>
														<a href="#1">wave</a>
													</dt>
													<dd>
														a motion of rising and falling in curves; undulation
													</dd>
												</dl>

											</div>
										</div>

										<button class="accordion__button" id="acc-button-table-of-contents" data-accordion="button" aria-controls="acc-panel-table-of-contents" aria-expanded="false" tabindex="0">
											Table of contents
										</button>

										<div class="accordion__panel" id="acc-panel-table-of-contents" data-accordion="panel" aria-labelledby="acc-button-table-of-contents" role="region" aria-hidden="true">
											<div class="accordion__panel__content">

												<ul class="nav">
													<li>
														<a href="{{ site.url }}/library/module/reading.html#section-1">
															Evidence about Earth's interior
														</a>
													</li>
													<li>
														<a href="{{ site.url }}/library/module/reading.html#section-2">
															Seismic waves
														</a>
													</li>
													<li>
														<a href="{{ site.url }}/library/module/reading.html#section-3">
															The Moho
														</a>
													</li>
													<li>
														<a href="{{ site.url }}/library/module/reading.html#section-4">
															Shadow zones
														</a>
													</li>
													<li>
														<a href="{{ site.url }}/library/module/reading.html#section-5">
															The layers of Earth
														</a>
													</li>
													<li>
														<a href="{{ site.url }}/library/module/reading.html#section-6">
															Compositional layers
														</a>
													</li>
													<li>
														<a href="{{ site.url }}/library/module/reading.html#section-7">
															Mechanical layers
														</a>
													</li>
												</ul>

											</div>
										</div>

									</div>
									<!-- .accordion -->

								</div>

							</div>

							<div
								class="tabs__panel"
								id="tab-panel-toggle-terms"
								aria-labelledby="tab-button-toggle-terms"
								role="tabpanel">

								<div class="padding-y-2">

									<div class="form-entry__option__switch">

										<label>
											<input type="checkbox" name="termsToggleSwitch" id="terms-toggle-switch">
											<span class="switch__slider"></span>
											<span class="option__label text-decoration-none font-size-md">
												Highlight Glossary Terms in Reading
											</span>
										</label>

									</div>

									<hr class="divider">

									<div class="term-def-container font-size-md"></div>

								</div>

							</div>

							<div
								class="tabs__panel"
								id="tab-panel-toggle-ngss"
								aria-labelledby="tab-button-toggle-ngss"
								role="tabpanel">

								<div class="padding-y-2">

									<div class="form-entry__option__switch">

										<label>
											<input type="checkbox" name="ngssToggleSwitch" id="ngss-toggle-switch">
											<span class="switch__slider"></span>
											<span class="option__label text-decoration-none font-size-md">
												Show NGSS Annotations
											</span>
										</label>

									</div>

									<hr class="divider">

									<div class="ngss-desc-container font-size-md"></div>

								</div>

							</div>

						</div>

					</div>

            </div>

            {% endif %}

        </div>

</article>
</main>