---
layout: global
---

<main id="skip-header-content">

    <article class="container wide module">

        <header class="grid grid--sidebar-right module__header">

            <div class="module__header__title">

				<span class="subcategory">
					<strong>
						<em>Plate Tectonics</em>
					</strong>
				</span>

                <h1>
                    {{ page.title}}{% if page.subtitle != null  %}:
                    <sub>
                        <em>
                            {{ page.subtitle }}
                        </em>
                    </sub>
					{% endif %}
                </h1>

                <p class="byline">
                    by Anne E. Egger, Ph.D.
                </p>

				<nav class="module__header__tabs">

                    <ul class="tabs-nav tabs-nav--horizontal library">
                        <li>
                            <a
                                href="{{ site.url }}/library/module/reading.html"
                                {% if page.url contains '/reading.html' %}
                                aria-current="page" 
                                {% endif %}>
                                    Reading
                            </a>
                        </li>
                        <li>
                            <a
                                href="{{ site.url }}/library/module/quiz.html"
                                {% if page.url contains '/quiz.html' %}
                                aria-current="page" 
                                {% endif %}>
                                	Quiz
                            </a>
                        </li>
                        <li>
                            <a
                                href="{{ site.url }}/library/module/teach.html"
                                {% if page.url contains '/teach.html' %}
                                aria-current="page" 
                                {% endif %}>
                                	Teach with this
                            </a>
                        </li>
                    </ul>

                </nav>

            </div>

            {% if page.tab == 'reading' %}

            <div class="module_header_audio">

				<div class="audio-player" id="module-audio">

							<audio id="audio">
								<source src="https://www.visionlearning.com/img/library/moduleAudio/module_64.mp3" type="audio/mpeg">
								Your browser does not support the audio element.
							</audio>

							<div class="audio-player__controls" id="controls">

								<button class="button button--icon-only" aria-label="Play" id="play-pause-button">
									<span class="icon icon-play" aria-hidden="true"></span>
								</button>
								<div
									class="audio-player__progress"
									id="progress-bar">
									<div id="progress"></div>
								</div>
								<input
									type="range"
									class="audio-player__progress"
									id="volume-slider"
									min="0"
									max="1"
									step="0.01"
									value="1"
								/>
								<span id="timestamp">00:00</span>

							</div>

						</div>

				</div>

				<script>
                
            const audio = document.getElementById('audio');
            const playPauseButton = document.getElementById('play-pause-button');
            const progressBar = document.getElementById('progress-bar');
            const progress = document.getElementById('progress');
            const volumeSlider = document.getElementById('volume-slider');
            const timestamp = document.getElementById('timestamp');

            let isPlaying = false;

            function toggleClasses(element, class1 = null, class2 = null) {
                if (element.classList.contains(class1)) {
                    element.classList.remove(class1);
                    element.classList.add(class2);
                } else {
                    element.classList.remove(class2);
                    element.classList.add(class1);
                }
            }

            playPauseButton.addEventListener('click', function () {
                isPlaying ? audio.pause() : audio.play();
                isPlaying = !isPlaying;

                toggleClasses(playPauseButton.querySelector('span.icon'), 'icon-play', 'icon-pause');

            });

            audio.addEventListener('timeupdate', function () {
                const progressPercentage = (audio.currentTime / audio.duration) * 100;
                progress.style.width = `${progressPercentage}%`;
                
                const minutes = Math.floor(audio.currentTime / 60);
                const seconds = Math.floor(audio.currentTime - minutes * 60);
                timestamp.innerText = `${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;
            });

            volumeSlider.addEventListener('input', function () {
                audio.volume = volumeSlider.value;
            });

            progressBar.addEventListener('click', function (e) {
                const clickPositionInBar = e.clientX - progressBar.getBoundingClientRect().left;
                const progressPercentage = (clickPositionInBar / progressBar.offsetWidth) * 100;
                audio.currentTime = (progressPercentage / 100) * audio.duration;
            });

        </script>


            {% endif %}

        </header>

        <hr class="divider" />

        <div class="grid grid--sidebar-right grid--divider">
        
            <div class="order-2 order-1--lg module__main">

                {{ content }}

            </div>

            {% if page.tab == 'reading' %}

            <div class="order-1 order-2--lg module__tools">

                <div class="narrow margin-x-auto position-sticky-top">

					<div class="tabs" role="tablist">

						<nav class="button-group gap-1 font-size-md">

							<button
								class="button button--icon-only"
								aria-label="In this module"
								aria-controls="tab-panel-module__tools"
								aria-selected="true"
								role="tab">
								<span class="icon icon-list" aria-hidden="true"></span>
							</button>

							<button
								class="button button--has-icon flex-grow-1"
								aria-controls="tab-panel-toggle-terms"
								aria-selected="false"
								role="tab">
								<span class="icon icon-glossary-highlight"></span>
								<span class="button__text">Glossary</span>
							</button>

							<button
								class="button button--has-icon flex-grow-1"
								aria-controls="tab-panel-toggle-ngss"
								aria-selected="false"
								role="tab">
								<span class="icon icon-ngss"></span>
								<span class="button__text">NGSS</span>
							</button>

						</nav>

						<div
							class="tabs__panel shown"
							id="tab-panel-module__tools"
							aria-labelledby="tab-button-module__tools"
							role="tabpanel">

							<p class="margin-y-2">
								<strong>
									<em>
										Table of Contents
									</em>
								</strong>		
							</p>

							<div class="table-of-contents">
								<ul>
									<li>
										<a href="{{ site.url }}/library/module/reading.html#toc_1">
											Introduction
										</a>
									</li>
									<li>
										<a href="{{ site.url }}/library/module/reading.html#toc_1">
											Evidence about Earth's interior
										</a>
									</li>
									<li>
										<a href="{{ site.url }}/library/module/reading.html#toc_2">
											Seismic waves
										</a>
									</li>
									<li>
										<a href="{{ site.url }}/library/module/reading.html#toc_3">
											The Moho
										</a>
									</li>
									<li>
										<a href="{{ site.url }}/library/module/reading.html#toc_4">
											Shadow zones
										</a>
									</li>
									<li>
										<a href="{{ site.url }}/library/module/reading.html#toc_5">
											The layers of Earth
										</a>
									</li>
									<li>
										<ul>
											<li>
												<a href="{{ site.url }}/library/module/reading.html#toc2_1">
													Compositional layers
												</a>
											</li>
											<li>
												<a href="{{ site.url }}/library/module/reading.html#toc2_2">
													Mechanical layers
												</a>
											</li>
										</ul>
									</li>
								</ul>

							</div>

						</div>

						<div
							class="tabs__panel"
							id="tab-panel-toggle-terms"
							aria-labelledby="tab-button-toggle-terms"
							role="tabpanel">

							<div class="reading-toggle">

								<div class="reading-toggle__description">								
									<p>
										<em>
											Activate glossary term highlighting to easily identify key terms within the module. Once highlighted, you can click on these terms to view their definitions directly in the text.
										</em>
									</p>
								</div>

								<div class="form-entry__option__switch">

									<label>
										<input type="checkbox" name="termsToggleSwitch" id="terms-toggle-switch">
										<span class="switch__slider"></span>
										<span class="option__label text-decoration-none font-size-md">
											Highlight Glossary Terms
										</span>
									</label>

								</div>

							</div>
							
							<div class="term-def-container font-size-md"></div>

						</div>

						<div
							class="tabs__panel"
							id="tab-panel-toggle-ngss"
							aria-labelledby="tab-button-toggle-ngss"
							role="tabpanel">

							<div class="reading-toggle">

								<div class="reading-toggle__description">								
									<p>
										<em>
											Activate NGSS annotations to easily identify NGSS standards within the module. Once highlighted, you can click on them to view these standards directly in the text.
										</em>
									</p>
								</div>

								<div class="form-entry__option__switch">

									<label>
										<input type="checkbox" name="ngssToggleSwitch" id="ngss-toggle-switch">
										<span class="switch__slider"></span>
										<span class="option__label text-decoration-none font-size-md">
											Show NGSS Annotations
										</span>
									</label>

								</div>

							</div>
							
							<div class="ngss-desc-container font-size-md"></div>

						</div>

					</div>

				</div>

            </div>

            {% endif %}

        </div>

	</article>

</main>