/*

In this file:

// A. Enhanced Hover Focus
// B. Utilities

*/

//////////////////////////////////////////////
// A. Enhanced Hover Focus
//////////////////////////////////////////////

%hover-focus {

    &:hover,
    &:focus {
        &:not([aria-disabled="true"]):not([class*="icon"]):not([class*="nav--has-icons"] > li > *):not([class*="accordion__button"]) {
            text-decoration: underline;
        }
    }

    &:focus-visible {
        outline-style: none;

        &:not(.focusable-only) {
            position: relative;
        }

        &::before {
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            margin: var(--focus-outline-distance, 4px);

            border-radius: inherit;

            pointer-events: none;
            
            box-shadow: inset 0 0 0 var(--focus-outline-size, 2px) currentColor;

            z-index: 100;
        }
    }
}

@layer base {

    :is(a, button) {
        --focus-outline-distance: 0;
        --focus-outline-size: calc(var(--border-width) * 2);
        
        @extend %hover-focus;
        
        &.button {
            --focus-outline-distance: calc(var(--border-width) * 4);
        }
    }

} // end @layer

//////////////////////////////////////////////
// B. Utilities
//////////////////////////////////////////////

@layer utility {

    // Shared Utilities

    .focusable-only, 
    .screen-reader-only {
        position: absolute;
    }

    // Screen Reader Only Utility

    .screen-reader-only {
        overflow: hidden;

        width: 1px;
        height: 1px;
        
        clip: rect(0, 0, 0, 0);
        
        white-space: nowrap;
    }

    // Focusable Only Utility

    .focusable-only {

        &:not(:focus) {
            @extend .screen-reader-only;
        }

        top: var(--spacer-1);
        left: var(--spacer-1);

        padding: var(--button-padding-y) var(--button-padding-x);

        font-size: var(--font-size-sm);
        
        color: var(--dark);
        
        background-color: rgba( white, 0.95);
        
        box-shadow: 0 0 0.25rem currentColor;
        
        z-index: 12000;
    }

} // end @layer