/*

In this file:

// A. Modules
// B. Variables
// C. Placeholders
// D. Utilities

*/

////////////////////////////////////////
// A. Modules
////////////////////////////////////////

@use 'sass:map';
@use './breakpoint' as breakpoint;

////////////////////////////////////////
// B. Variables
////////////////////////////////////////

:root {

    // Subtle Fill

    --subtle-fill-opacity: 5%;
    --subtle-fill-background-color: color-mix(in srgb, currentColor var(--subtle-fill-opacity, 5%), transparent);

    // Gradient Mask Direction
    
    --gradient-mask-direction-start: clamp(25%, 50%, 75%);

    // Gradient Mask Vignette

    --gradient-mask-vignette-start: 75%;

    // Gradient Mask Opacity

    --gradient-mask-opacity: 1;
}

////////////////////////////////////////
// C. Placeholders
////////////////////////////////////////

%caret {
    --_caret-size: 0.25em;
    --_caret-margin: 0.375em;

    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    
    &::before {
        border-top: var(--_caret-size) solid;
        border-right: var(--_caret-size) solid transparent;
        border-bottom: 0;
        border-left: var(--_caret-size) solid transparent;

        position: relative;
        content: "";
        
        display: inline-flex;
        
        margin-inline-start: var(--_caret-margin);
        
        color: inherit;
        
        pointer-events: none;
    }
}

////////////////////////////////////////
// D. Utilities
////////////////////////////////////////

@layer utility {

    // Subtle Fill Utility

    .subtle-fill {
        background-color: var(--subtle-fill-background-color);
    }

    // Caret Utility

    .caret {
        @extend %caret;
    }

    // Gradient Mask Utilities

    [class*="gradient-mask"] {
        --_gradient-direction: to bottom;
        --_gradient-stop-1: hsla(0, 0%, 100%, 1) var(--gradient-mask-direction-start);
        --_gradient-stop-2: hsla(0, 0%, 100%, 0) 100%;

        pointer-events: none;
    }
    
    [class*="gradient-mask-top"] {
        --_gradient-direction: to top;
    }

    [class*="gradient-mask-right"] {
        --_gradient-direction: to right;
    }

    [class*="gradient-mask-bottom"] {
        --_gradient-direction: to bottom;
    }

    [class*="gradient-mask-left"] {
        --_gradient-direction: to left;
    }

    [class*="gradient-mask-vignette"] {
        --gradient-mask-vignette-start: 75%;
        
        mask-composite: intersect;
        -webkit-mask-composite: intersect;
    }

    @each $breakpoint in map.keys(breakpoint.$breakpoints) {
        @include breakpoint.breakpoint-up($breakpoint) {
            $mod: breakpoint.breakpoint-modifier($breakpoint, breakpoint.$breakpoints);

            .gradient-mask-top#{$mod},
            .gradient-mask-right#{$mod},
            .gradient-mask-bottom#{$mod},
            .gradient-mask-left#{$mod} {
                mask-image: linear-gradient(var(--_gradient-direction), var(--_gradient-stop-1), var(--_gradient-stop-2));
            }

            .gradient-mask-vignette#{$mod} {
                mask-image:
                    linear-gradient(to top, var(--_gradient-stop-1), var(--_gradient-stop-2)),
                    linear-gradient(to right, var(--_gradient-stop-1), var(--_gradient-stop-2)),
                    linear-gradient(to bottom, var(--_gradient-stop-1), var(--_gradient-stop-2)),
                    linear-gradient(to left, var(--_gradient-stop-1), var(--_gradient-stop-2));
            }   
        }
    }

} // end @layer