/*

In this file:

// A. Variables
// B. Hover Focus
// C. Utilities

*/

////////////////////////////////////////
// A. Modules
////////////////////////////////////////

@use './accent';

////////////////////////////////////////
// A. Variables
////////////////////////////////////////

:root {
    --focus-outline-size: calc(var(--border-width) * 2);

    --focus-outline-color: currentColor;
    
    --focus-outline-style: solid;

    --focus-outline-distance: calc(var(--border-width) * 4);
}

//////////////////////////////////////////////
// B. Hover Focus
//////////////////////////////////////////////

%hover-focus {

    &:hover,
    &:focus {
        &:not(
            [class*="no-hover-focus"],
            [class*="icon"],
            [class*="backdrop"],
            [class*="accordion__button"],
            [class*="form-entry__field__input__clear"],
            [aria-disabled="true"],
            [class*="nav--has-icons"] > li > *,
            p > a
        ) {
            text-decoration: underline;
        }
    }

    &:focus-visible {
        outline: var(--focus-outline-size) var(--focus-outline-style) var(--focus-outline-color);
        outline-offset: var(--focus-outline-distance);
    }

}

@layer base {

    :is(a, button) {
        --focus-outline-distance: calc(var(--focus-outline-size) * -1);

        @extend %hover-focus;
        
        &.button{
            --focus-outline-distance: calc(var(--focus-outline-size) * -2);
        }
        
        &.button--outline {
            --focus-outline-distance: calc(var(--focus-outline-size) * -3);
        }
    }

} // end @layer

//////////////////////////////////////////////
// C. Utilities
//////////////////////////////////////////////

@layer utility {

    // Shared Utilities

    .screen-reader-only {
        position: absolute;
    }

    // Screen Reader Only Utility

    .screen-reader-only {
        overflow: hidden;

        width: 1px;
        height: 1px;
        
        clip: rect(0, 0, 0, 0);
        
        white-space: nowrap;
    }

    // Focusable Only Utility

    .focusable-only {

        &:not(:focus) {
            @extend .screen-reader-only;
        }

        display: inline-block;

        text-decoration: none !important;



        padding: 0.5em 1em;

        margin: 0.5em;

        font-size: var(--font-size-sm);
        
        color: var(--link-color);
        
        // background-color: rgba( white, 0.95);
        
        // box-shadow: 0 0 0.25rem currentColor;
        
    }

    .no-hover-focus {
        display: inherit;

        &:focus-visible {

            > * {
                position: relative;
                z-index: -1;
            }
        }
    }

} // end @layer