/*

In this file:

// A. Modules
// B. Variables
// C. Breakpoints Functions
// D. Breakpoints Mixins

*/

//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use 'sass:map';

//////////////////////////////////////////////
// B. Variables
//////////////////////////////////////////////

$bp-sm: 400px; 
$bp-md: 760px;
$bp-lg: 1000px;
$bp-xl: 1360px;

$breakpoints: (
  sm: $bp-sm,
  md: $bp-md,
  lg: $bp-lg,
  xl: $bp-xl,
);

$breakpoints: map.merge((null : 0), $breakpoints);

//////////////////////////////////////////////
// C. Breakpoints Functions
//////////////////////////////////////////////

// Name of the next breakpoint, or null for the last breakpoint.

@function breakpoint-value($name, $breakpoint) {
  $value: map.get($breakpoint, $name);
  @return if($value != 0, $value, null);
}

@function breakpoint-modifier($name, $breakpoint) {
  @return if(breakpoint-value($name, $breakpoint) == null, "", "--#{$name}");
}

//////////////////////////////////////////////
// D. Breakpoints Mixins
//////////////////////////////////////////////

@mixin breakpoint-up($breakpoint) {
  @if ($breakpoint != null) {
    @media (min-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  }
  @else {
    @content;
  }
}

@mixin breakpoint-down($breakpoint) {
  @if ($breakpoint != null) {
    @media (max-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  }
  @else {
    @content;
  }
}