/*

In this file:

// A. Button Aria Expanded
// B. Collapse Utility

*/

//////////////////////////////////////////////
// A. Button Aria Expanded
//////////////////////////////////////////////

@layer component {

    .button[aria-expanded="true"] {
        --subtle-fill-opacity: 15%;
    }

} // end @layer

//////////////////////////////////////////////
// B. Utility
//////////////////////////////////////////////

@layer utility {

    .collapse {
        display: none;
        
        &.shown {
            display: block;
        }
    }

} // end @layer