/*

In this file:

// A. Modules
// B. Variables
// C. Utilities

*/

//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use 'sass:map';
@use './breakpoint';

//////////////////////////////////////////////
// B. Variables
//////////////////////////////////////////////

// Scoped to Root

:root {
    --spacer-base: 1rem;

    --spacer-1: calc(var(--spacer-base) * 0.5);
    --spacer-2: calc(var(--spacer-base) * 1);
    --spacer-3: calc(var(--spacer-base) * 1.5);
    --spacer-4: calc(var(--spacer-base) * 2.5);
    --spacer-5: calc(var(--spacer-base) * 4);
    --spacer-6: calc(var(--spacer-base) * 6.5);
}

$spacers: (
    1: var(--spacer-1), 
    2: var(--spacer-2), 
    3: var(--spacer-3), 
    4: var(--spacer-4), 
    5: var(--spacer-5),
    6: var(--spacer-6),
);

//////////////////////////////////////////////
// C. Utilities
//////////////////////////////////////////////

@layer utility {

    @each $breakpoint in map.keys(breakpoint.$breakpoints) {
        @include breakpoint.breakpoint-up($breakpoint) {
            $mod: breakpoint.breakpoint-modifier($breakpoint, breakpoint.$breakpoints);

            @each $spacer, $value in $spacers {

                // Padding

                .padding-#{$spacer}#{$mod} {
                    padding: #{$value};
                }

                .padding-x-#{$spacer}#{$mod} {
                    padding-inline: #{$value};
                }

                .padding-y-#{$spacer}#{$mod} {
                    padding-block: #{$value};
                }

                .padding-top-#{$spacer}#{$mod} {
                    padding-block-start: #{$value};
                }

                .padding-right-#{$spacer}#{$mod} {
                    padding-inline-end: #{$value};
                }

                .padding-bottom-#{$spacer}#{$mod} {
                    padding-block-end: #{$value};
                }

                .padding-left-#{$spacer}#{$mod} {
                    padding-inline-start: #{$value};
                }

                // Margin

                .margin-#{$spacer}#{$mod} {
                    margin: #{$value};
                }

                .margin-x-#{$spacer}#{$mod} {
                    margin-inline: #{$value};
                }

                .margin-y-#{$spacer}#{$mod} {
                    margin-block: #{$value};
                }

                .margin-top-#{$spacer}#{$mod} {
                    margin-block-start: #{$value};
                }

                .margin-right-#{$spacer}#{$mod} {
                    margin-inline-end: #{$value};
                }

                .margin-bottom-#{$spacer}#{$mod} {
                    margin-block-end: #{$value};
                }

                .margin-left-#{$spacer}#{$mod} {
                    margin-inline-start: #{$value};
                }

                // Negative Margin

                .margin-x-n#{$spacer}#{$mod} {
                    margin-inline: calc(#{$value} * -1);
                }

                .margin-y-n#{$spacer}#{$mod} {
                    margin-block: calc(#{$value} * -1);
                }

                .margin-top-n#{$spacer}#{$mod} {
                    margin-block-start: calc(#{$value} * -1);
                }

                .margin-right-n#{$spacer}#{$mod} {
                    margin-inline-end: calc(#{$value} * -1);
                }

                .margin-bottom-n#{$spacer}#{$mod} {
                    margin-block-end: calc(#{$value} * -1);
                }

                .margin-left-n#{$spacer}#{$mod} {
                    margin-inline-start: calc(#{$value} * -1);
                }
                    
                // D. Zero and Auto
                
                .padding-0#{$mod} {
                    padding: 0;
                }

                .margin-0#{$mod} {
                    margin: 0;
                }

                .margin-top-0#{$mod} {
                    margin-top: 0;
                }

                .margin-right-0#{$mod} {
                    margin-right: 0;
                }

                .margin-bottom-0#{$mod} {
                    margin-bottom: 0;
                }

                .margin-left-0#{$mod} {
                    margin-left: 0;
                }

                .margin-y-0#{$mod} {
                    margin-block: 0;
                }

                .margin-x-0#{$mod} {
                    margin-inline: 0;
                }

                .margin-x-auto#{$mod} {
                    margin-inline: auto;
                }

                .margin-y-auto#{$mod} {
                    margin-block: auto;
                }

                .margin-top-auto#{$mod} {
                    margin-block-start: auto;
                }

                .margin-right-auto#{$mod} {
                    margin-inline-end: auto;
                }

                .margin-bottom-auto#{$mod} {
                    margin-block-end: auto;
                }

                .margin-left-auto#{$mod} {
                    margin-inline-start: auto;
                }
            }
        }
    }

} // end @layer