/*

In this file:

// A. Variables
// B. Utilities

*/

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

$z-indexes: 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1500, 2000, 2500;

//////////////////////////////////////////////
// B. Utilities
//////////////////////////////////////////////

@layer utility {

    [class*="z-index"] {
        &:not([class*="position-"]) {
            position: relative;
        }
    }

    @each $z-index in $z-indexes {
        .z-index-#{$z-index} {
            z-index: $z-index;
        }
    }

} // end @layer