/*

In this file:

// A. Modules
// B. Variables
// C. Placeholders
// D. Subtle Fill Utility
// E. Caret
// F. Gradient Veneer Utility

*/

////////////////////////////////////////
// A. Modules
////////////////////////////////////////

@use "sass:map";
@use "./breakpoint" as breakpoint;

////////////////////////////////////////
// B. Variables
////////////////////////////////////////

// Scoped to Root

:root {
    --subtle-fill-opacity: 0.075;
}

// Scoped to Block

%caret-vars {
    --caret-size: 0.25em;

    --caret-margin: 0.375em;
}

%gradient-veneer-vars {
    --gradient-veneer-start: 50%;

    --gradient-veneer-opacity: 1;
}

////////////////////////////////////////
// C. Placeholders
////////////////////////////////////////

%subtle-fill-psuedo {
    position: relative;

    &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;   

        border-radius: inherit;

        pointer-events: none;

        background-color: currentColor;
        
        opacity: var(--subtle-fill-opacity);  
        
        z-index: 0;  
    }
    
}

%caret {
    @extend %caret-vars;
    
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    
    &::before {
        border-top: var(--caret-size) solid;
        border-right: var(--caret-size) solid transparent;
        border-bottom: 0;
        border-left: var(--caret-size) solid transparent;

        position: relative;
        content: "";
        
        display: inline-flex;
        
        margin-inline-start: var(--caret-margin);
        
        color: inherit;
        
        pointer-events: none;
    }
}

////////////////////////////////////////
// D. Subtle Fill Utility
////////////////////////////////////////

.subtle-fill {
    @extend %subtle-fill-psuedo;
    
    > * {
        position: relative;
        z-index: auto;
    }
}

////////////////////////////////////////
// E. Caret Utility
////////////////////////////////////////

.caret {
    @extend %caret;
}

////////////////////////////////////////
// F. Gradient Veneer Utilites
////////////////////////////////////////

[class*="gradient-veneer"] {
    @extend %gradient-veneer-vars;

    --gradient-direction: to bottom;

    position: relative;

    &::after {        
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background: linear-gradient( var(--gradient-direction), hsla(0, 0%, 100%, 0) var(--gradient-veneer-start), var(--gradient-color) );
        background-clip: border-box;

        opacity: var(--gradient-veneer-opacity);
        
        display: none;
    }
}

.gradient-veneer-top {
    --gradient-direction: to top;
}

.gradient-veneer-right {
    --gradient-direction: to right;
}

.gradient-veneer-bottom {
    --gradient-direction: to bottom;
}

.gradient-veneer-left {
    --gradient-direction: to left;
}

@each $breakpoint in map.keys(breakpoint.$breakpoints) {
    @include breakpoint.breakpoint-up($breakpoint) {
        $mod: breakpoint.breakpoint-modifier($breakpoint, breakpoint.$breakpoints);

        .gradient-veneer-top#{$mod},
        .gradient-veneer-right#{$mod},
        .gradient-veneer-bottom#{$mod},
        .gradient-veneer-left#{$mod} {
            &::after{
                display: block !important;
            }
        }
        
    }
}