/*

In this file:

// A. Modules
// B. Variables
// C. Article Block
// D. Article Elements and Modifiers 

*/

//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use "./breakpoint" as breakpoint;

//////////////////////////////////////////////
// B. Variables
//////////////////////////////////////////////

// Scoped to Block

%article-vars {
    --article-sidebar-width: 260px;
}

//////////////////////////////////////////////
// C. Article Block
//////////////////////////////////////////////

[class*="article--"] {
    @extend %article-vars;
    
    display: grid;
}

//////////////////////////////////////////////
// D. Article Elements and Modifiers
//////////////////////////////////////////////

.article__body {
    overflow: hidden;
}

@include breakpoint.breakpoint-up(lg) {

    .article__header {
        grid-area: header;
    }
    
    .article__sidebar {
        position: relative;
        grid-area: sidebar;

        .sticky-top {
            max-height: 100vh;
            overflow-y: auto;
        }
    }

    .article__body {
        grid-area: body;
    }

    .article__related {
        grid-area: related;
    }

    .article--column-2,
    .article--column-3 {
        grid-template-columns: var(--article-sidebar-width) 1fr;

        grid-template-areas:
            "header header"
            "sidebar body"
            "related related";
    }

    :is(
        .article--column-2,
        .article--column-3 
    ) .article__header .backdrop__cover > * {
        justify-self: stretch;

        margin-inline-start: var(--article-sidebar-width);
    }
}

@include breakpoint.breakpoint-up(xl) {

    .article--column-3 {
        grid-template-columns: var(--article-sidebar-width) 1fr var(--article-sidebar-width);

        grid-template-areas:
            "header header header"
            "sidebar body related";

        .article__header .backdrop__cover > * {
            margin-inline-end: var(--article-sidebar-width);
        }
    }
}