/*

In this file:

// A. Variables
// B. Position Utilities

*/

////////////////////////////////////////
// A. Modules
////////////////////////////////////////

@use "sass:map";
@use "./breakpoint" as breakpoint;

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

$positions: static, relative, absolute, fixed;

//////////////////////////////////////////////
// B. Position Utilities
//////////////////////////////////////////////

@each $breakpoint in map.keys(breakpoint.$breakpoints) {
    @include breakpoint.breakpoint-up($breakpoint) {
        $mod: breakpoint.breakpoint-modifier($breakpoint, breakpoint.$breakpoints);


        @each $position in $positions {
            .position-#{$position}#{$mod} {
                position: $position;
            }
        }
        .position-absolute#{$mod},
        .position-top-left#{$mod} {
            position: absolute;
            inset-block-start: 0 !important;
            inset-inline-end: unset !important;
            inset-block-end: unset !important;
            inset-inline-start: 0 !important;
        }

        .position-top-right#{$mod} {
            position: absolute;
            inset-block-start: 0 !important;
            inset-inline-end: 0 !important;
            inset-block-end: unset !important;
            inset-block-start: unset !important;
        }

        .position-bottom-right#{$mod} {
            position: absolute;
            inset-block-start: unset !important;
            inset-inline-end: 0 !important;
            inset-block-end: 0 !important;
            inset-inline-start: unset !important;
        }

        .position-bottom-left#{$mod} {
            position: absolute;
            inset-inline-start: unset !important;
            inset-inline-end: unset !important;
            inset-block-end: 0 !important;
            inset-inline-start: 0 !important;
        }

        .position-sticky-top#{$mod} {
            position: sticky;
            inset-block-start: 0;
        }

    }
}
