/*

In this file:

// A. Modules
// B. Variables
// C. Backdrop Block
// D. Backdrop Elements
// E. Backdrop Breakpoint Modifiers
// F. Backdrop Fixed Modifier

*/

//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use "sass:map";
@use "../breakpoints/style" as breakpoints;

//////////////////////////////////////////////
// B. Variables
//////////////////////////////////////////////

// Scoped to Block

%custom-properties {
    --backdrop-fixed-height: 400px;
}

//////////////////////////////////////////////
// C. Backdrop Block
//////////////////////////////////////////////

.backdrop {
    position: relative;
}

//////////////////////////////////////////////
// D. Backdrop Elements
//////////////////////////////////////////////

.backdrop:not([class*="--stack"]):not([class*="--fixed"]){
    .backdrop__cover {
        position: absolute;
    }
}

[class*="backdrop__image"]{
    background-color: inherit;
}

.backdrop__image {
    position: relative;

    img {
        min-width: 100%;
        min-height: 100%;
    }
}

.backdrop__image__credit {
    position: absolute;
    inset-block-end: 0;
    inset-inline-end: 0;

    font-size: var(--font-size-sm);
    
    padding: 0.25rem 0.75rem;

    width: auto;
    
    z-index: 500;
}

.backdrop__cover {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: grid;

    place-items: center;
}

//////////////////////////////////////////////
// E. Backdrop Stack Modifiers
//////////////////////////////////////////////

[class*="backdrop--stack"]{
    overflow: hidden;
}

@each $breakpoint in map.keys(breakpoints.$breakpoints) {
    @include breakpoints.breakpoints-up($breakpoint) {
        $mod: breakpoints.breakpoint-modifier($breakpoint, breakpoints.$breakpoints);

        .backdrop--stack#{$mod} {

            .backdrop__cover {
                position: absolute;
            }
        }
    }
}

//////////////////////////////////////////////
// F. Backdrop Fixed Modifier
//////////////////////////////////////////////

.backdrop--fixed {
    @extend %custom-properties;

    display: grid;
    
    place-content: inherit;

    min-height: var(--backdrop-fixed-height);

    .backdrop__image {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        display: flex;
        overflow: hidden;

        img {
            object-fit: cover;
            object-position: 50% 50%;
        }
    }


    .backdrop__cover {
        position: relative;
    }
    
    @include breakpoints.breakpoints-down(md) {
        min-height: calc(var(--backdrop-fixed-height) * 0.75);
    }
}