/*

In this file:

// A. Modules
// B. Variables
// C. Container Utility
// D. Narrow, Medium, and Wide Utilities

*/

//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use "sass:map";
@use "../breakpoints/style" as breakpoints;

//////////////////////////////////////////////
// B. Variables
//////////////////////////////////////////////

:root {
    --container-padding-x: var(--spacer-3);

    --narrow-width: 40rem; // Approximately 55 characters wide for readability
    
    --medium-width: calc( var(--narrow-width) * 1.75);
    
    --wide-width: calc( var(--narrow-width) * 2.5);
}

//////////////////////////////////////////////
// C. Container Utility
//////////////////////////////////////////////

.container {
    padding-inline: var(--container-padding-x);
    margin-inline: auto;
}

//////////////////////////////////////////////
// D. Narrow, Medium, and Wide Utilities
//////////////////////////////////////////////

@each $breakpoint in map.keys(breakpoints.$breakpoints) {
    @include breakpoints.breakpoints-up($breakpoint) {
        $mod: breakpoints.breakpoint-modifier($breakpoint, breakpoints.$breakpoints);

        .narrow#{$mod} {
            max-width: var(--narrow-width);
        }

        .medium#{$mod} {
            max-width: var(--medium-width);
        }

        .wide#{$mod} {
            max-width: var(--wide-width);
        }
    }
}