/*

In this file:

// A. Modules
// B. Variables
// C. Width Utilities
// D. Height Utilities

*/

//////////////////////////////////////////////
// A. Modules
//////////////////////////////////////////////

@use "sass:map";
@use "../../modules/breakpoints/style" as breakpoints;

//////////////////////////////////////////////
// B. Variables
//////////////////////////////////////////////

:root {

    // Body Font Stack

    --body-font-family: "Open Sans";
    
    --body-font-weight-normal: 400;
    --body-font-weight-medium: 600;
    --body-font-weight-bold: 700;

    --body-font-size: 20px;

    // Banner Headline

    --banner-headline-font-size: calc(var(--body-font-size) * 3.25);
    --banner-headline-font-weight: var(--body-font-weight-normal);

    // Headers

    --h1-font-size: calc(var(--body-font-size) * 2.5);    // ~ 60px
    --h2-font-size: calc(var(--body-font-size) * 2);  // ~ 48px
    --h3-font-size: calc(var(--body-font-size) * 1.75);  // ~ 40px
    --h4-font-size: calc(var(--body-font-size) * 1.5);  // ~ 35px
    --h5-font-size: calc(var(--body-font-size) * 1.25);  // ~ 30px
    --h6-font-size: calc(var(--body-font-size) * 1.125);  // ~ 26px

    --header-line-height: 1.125;

    // Containers

    --narrow-width: 38rem;
    --medium-width: calc( var(--narrow-width) * 1.75);
    --wide-width: calc( var(--narrow-width) * 2.5);

    // Bordr Radius

    --border-radius: 0.25em;

    // Buttons

    --button--icon-only-size: 1.875em;
}

//////////////////////////////////////////////
// B. List Divider
//////////////////////////////////////////////

.list-divider { 
    list-style: none;
    // font-size: var(--font-size-md);

    > li {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    > li:not(:last-child) {
        border-bottom-width: var(--default-border-width);
        border-bottom-style: var(--default-border-style);
        border-bottom-color: inherit;
    }

}

.list-divider__cell {
    padding: 0.25em 0.5em;
}

//////////////////////////////////////////////
// C. Description List
//////////////////////////////////////////////

dl > dt {
    font-weight: var(--body-font-weight-bold);
    font-style: italic;
}

dd {
    margin-bottom: 1em;
    margin-left: 1em;
}

.module-results-filter {

    button[aria-selected="true"] {
        background-color: white;

        color:  var(--primary);
    }
}

.tabs-nav {
    > li > button::before {
        background-color: var(--dark);
        opacity: 0;
    }

    &.library > li > *::before {
        background-color: var(--library);
    }

    &.glossary > li > *::before {
        background-color: var(--glossary);
    }

    &.classroom > li > *::before {
        background-color: var(--classroom);
    }
}

.tabs-nav > li > *:not([aria-selected="true"]):not([aria-current]) {
    // background: hsla(249, 31%, 20%, 0.05);
    // background: linear-gradient( hsla(250, 20%, 20%, 0.05) 0%, hsla(0, 0%, 100%) 100%);
    color: var(--white-link);
}

.term {
    position: relative;
    display: inline-block;

    cursor: pointer;

    &::before,
    &::after {
        position: absolute;
        content: "";
        right: -0.2em;
        left: -0.2em;
        background-color: var(--glossary);
        
    }

    &::before{
        top: 0;
        bottom: 0;
        z-index: 0;
        opacity: 0.2;
    }

    &::after{
        bottom: 0;
        height: 2px;
    }

    
}



