/*

In this file:

// A. Variables
// B. Shared Styles
// C. Icon Font Utility Class
// D. Rotating Utility Class

*/

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

// Scoped to Block

%icon-font-vars {
  --icon-size: 1.25em;
  --icon-font-family: 'natura11y-icons';
}

//////////////////////////////////////////////
// B. Icon Classes
//////////////////////////////////////////////

span.icon {
  &[class*="-left"], 
  &[class*="-right"] {
    [dir="rtl"] & {
      transform: scaleX(-1);
    }
  }
}

.natura11y-icons-sprite {
  width: 0;
  height: 0;
  display: none;
}

span.icon {
  @extend %icon-font-vars;
  
  font-size: var(--icon-size);

  display: inline-flex;

  vertical-align: middle;

  position: relative;

  pointer-events: none;
}

svg.icon {
  --icon-size: 50px;

  display: block;
  
  width: var(--icon-size);
  height: var(--icon-size);
  
  fill: currentColor;
}

//////////////////////////////////////////////
// C. Icon Font Utility Class
//////////////////////////////////////////////

.icon_font {
  font-family: var(--icon-font-family);
  font-size: var(--icon-size);
  font-style: normal;
}

//////////////////////////////////////////////
// D. Rotating Utility Class
//////////////////////////////////////////////

.icon-loading {
  &.icon--rotate {
    animation: rotate360 1s linear infinite;
  }
}

@keyframes rotate360 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}