/*

In this file:

// A. Variables
// B. Shared Styles
// C. Icon Font Utility Class
// D. Rotating Utility Class

*/

//////////////////////////////////////////////
// A. Variables
//////////////////////////////////////////////

// Scoped to Block

%icon-font-vars {
  --icon-size: 1.25em;
  --icon-font-family: 'visionlearning-icons';
}

//////////////////////////////////////////////
// B. Shared Styles
//////////////////////////////////////////////

.icon {
  @extend %icon-font-vars;
  
  font-size: var(--icon-size);

  display: inline-flex;

  vertical-align: middle;

  position: relative;

  pointer-events: none;

  &[class*="-left"], 
  &[class*="-right"] {
    [dir="rtl"] & {
      transform: scaleX(-1);
    }
  }
}

//////////////////////////////////////////////
// C. Icon Font Utility Class
//////////////////////////////////////////////

.icon_font {
  font-family: var(--icon-font-family);
}

//////////////////////////////////////////////
// D. Rotating Utility Class
//////////////////////////////////////////////

.icon-loading {
  &.icon--rotate {
    animation: rotate360 1s linear infinite;
  }
}

@keyframes rotate360 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}